
/* SAP UI development toolkit for HTML5 (SAPUI5/OpenUI5)
 * (c) Copyright 2009-2014 SAP AG or an SAP affiliate company. 
 * Licensed under the Apache License, Version 2.0 - see LICENSE.txt.
 * 
 *//* Global CSS for 'base' theme */

// $BEGIN_BASE_LESS$

@sapBrandColor: #000;
@sapHighlightColor: #fff;
@sapBaseColor: #ddd;
@sapShellColor: #000;
@sapBackgroundColor: #fff;

@sapTextColor: #000;
@sapLinkColor: #000;

@sapCompanyLogo: none;
@sapBackgroundImage: none;
@sapBackgroundImageOpacity: 1.0;
@sapBackgroundImageRepeat: false;

@sapSelectedColor: @sapHighlightColor;
@sapActiveColor: @sapHighlightColor;
@sapHighlightTextColor: contrast(@sapHighlightColor, @sapTextColor, #fff);
@sapTitleColor: contrast(@sapBaseColor, lighten(@sapTextColor,20), #fff);
@sapNegativeColor: #d0001d;
@sapCriticalColor: #fffcb5;
@sapPositiveColor: #008a3b;
@sapNeutralColor: #306898;

@sapContent_LabelColor: @sapTextColor;
@sapContent_DisabledTextColor: lighten(@sapTextColor, 60);
@sapContent_ForegroundColor: darken(saturate(@sapBaseColor, 2), 14);
@sapContent_ForegroundBorderColor: darken(desaturate(@sapContent_ForegroundColor, 16), 12);
@sapContent_ForegroundTextColor: @sapTextColor;

@sapShell_Background: darken(saturate(@sapBaseColor, 4), 43);
@sapShell_BorderColor: darken(saturate(@sapShell_Background, 6), 11);
@sapShell_TextColor: contrast(@sapShell_Background, @sapTextColor, #fff);

@sapButton_Background: white;
@sapButton_BorderColor: black;
@sapButton_TextColor: @sapTextColor;
@sapButton_Disabled_Background: lighten(desaturate(@sapButton_Background, 45), 5);
@sapButton_Disabled_BorderColor: lighten(@sapButton_TextColor,58);
@sapButton_Disabled_TextColor: contrast(@sapButton_Disabled_Background, lighten(@sapButton_TextColor, 51), darken(#fff, 47));
@sapButton_Hover_Background: darken(desaturate(@sapHighlightColor, 5), 18);
@sapButton_Hover_BorderColor: darken(@sapButton_BorderColor, 39);
@sapButton_Hover_TextColor: contrast(@sapButton_Hover_Background, @sapButton_TextColor, #fff);
@sapButton_Emphasized_Background: @sapButton_Background;
@sapButton_Emphasized_BorderColor: darken(@sapButton_BorderColor, 39);
@sapButton_Emphasized_TextColor: contrast(@sapButton_Emphasized_Background, @sapButton_TextColor, #fff);
@sapButton_Reject_Background: @sapNegativeColor;
@sapButton_Accept_Background: @sapPositiveColor;

@sapField_Background: #fff;
@sapField_BorderColor: darken(desaturate(@sapBaseColor, 46), 28);
@sapField_HelpBackground: desaturate(@sapBaseColor, 24);
@sapField_Hover_Background: @sapField_Background;
@sapField_Hover_BorderColor: @sapField_BorderColor;
@sapField_Hover_HelpBackground: @sapField_Hover_BorderColor;   //check
@sapField_Focus_Background: #fef09e;
@sapField_Focus_BorderColor: @sapField_BorderColor;
@sapField_Focus_HelpBackground: @sapField_Focus_Background;   //check
@sapField_ReadOnly_Background: @sapField_Background;   //check
@sapField_ReadOnly_BorderColor: @sapField_BorderColor;   //check
@sapField_ReadOnly_HelpBackground: @sapField_ReadOnly_Background;   //check
@sapField_Disabled_Background: @sapField_ReadOnly_Background;
@sapField_Disabled_BorderColor: lighten(saturate(@sapField_BorderColor, 10), 14);
@sapField_Disabled_HelpBackground: @sapField_Disabled_Background;   //check
@sapField_RequiredColor: #d0001d;
@sapField_InvalidColor: #d0001d;
@sapField_InvalidBackground: lighten(desaturate(@sapField_InvalidColor, 31), 54);
@sapField_WarningColor: #fffcb5;
@sapField_WarningBackground: lighten(desaturate(@sapField_WarningColor, 31), 54);
@sapField_SuccessColor: green;
@sapField_SuccessBackground: lighten(desaturate(@sapField_SuccessColor, 31), 54);

@sapGroup_TitleBackground: @sapBaseColor;
@sapGroup_TitleBorderColor: darken(desaturate(@sapGroup_TitleBackground, 9), 12);
@sapGroup_TitleTextColor: @sapTextColor;
@sapGroup_ContentBackground: @sapField_Background;
@sapGroup_ContentBorderColor: darken(desaturate(@sapGroup_TitleBorderColor,9),9);
@sapGroup_FooterBackground: @sapGroup_TitleBackground;

@sapToolbar_Background: @sapGroup_TitleBackground;
@sapToolbar_SeparatorColor: #fff;

@sapList_HeaderBackground: lighten(desaturate(@sapBaseColor, 39), 1);
@sapList_HeaderBorderColor: @sapList_BorderColor;
@sapList_HeaderTextColor: contrast(@sapList_HeaderBackground, darken(@sapBaseColor,67), #fff);
@sapList_BorderColor: darken(desaturate(@sapBaseColor, 32), 3);
@sapList_HighlightColor: @sapHighlightColor;
@sapList_SelectionBackgroundColor: @sapHighlightColor;
@sapList_Hover_Background: mix(@sapHighlightColor, #fff, 10.35%);

@sapScrollBar_FaceColor: lighten(@sapGroup_TitleBackground, 4);
@sapScrollBar_TrackColor: lighten(desaturate(@sapBackgroundColor, 7), 3);
@sapScrollBar_BorderColor: desaturate(spin(@sapScrollBar_FaceColor, 7), 11);
@sapScrollBar_SymbolColor: darken(desaturate(@sapScrollBar_FaceColor, 32), 59);

// $END_BASE_LESS$

// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundBorderColor: #A6A6A6;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
// @sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
// @sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
// @sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: red;
@sapUiButtonAcceptBackground: green;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: #BFBFBF;
@sapUiFieldHelpBackground: @sapField_Background;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Background;
@sapUiFieldReadOnlyBackground: #808080;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: #808080;
@sapUiFieldDisabledBackground: @sapField_Background;
@sapUiFieldDisabledBorderColor: @sapField_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Background;
@sapUiFieldRequiredColor: @sapField_BorderColor;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldInvalidBackground: #FF9A90;
@sapUiFieldWarningColor: #FFFF00;
@sapUiFieldWarningBackground: #FAF2B0;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiListHeaderBorderColor: #000000;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiListSelectionBackgroundColor: @sapUiHighlight;


// Brand Colors
@sapUiBrand: #F0AB00;     // SAP Gold #f0ab00
@sapUiHighlight: #111177;
@sapUiSelected: @sapUiHighlight;
@sapUiActive: @sapUiHighlight;

// Accent Colors
@sapUiPurple: purple;
@sapUiOrange: orange;
@sapUiGreen: green;
@sapUiBlue: blue;
@sapUiRed: red;
@sapUiYellow: yellow;

// Base Colors
@sapUiBase: darken(@sapBaseColor, 100);			// #000000
@sapUiBaseBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiBaseBorder: @sapUiBase;
@sapUiBaseText: @sapTextColor;
@sapUiBaseLine: @sapUiBase;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: lightgray;
@sapUiMediumBG: gray;
@sapUiDarkBG: darkgray;
@sapUiDeepBG: black;
@sapUiBlackBG: #000000;

// Tinted Backgrounds
@sapUiHoverBG: grey;
@sapUiMediumAltBG: grey;
@sapUiDarkAltBG: darkgrey;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: yellow;
@sapUiButtonNegativeBG: red;
@sapUiButtonPositiveBG: green;

// Semantic Background Colors
@sapUiErrorBG: #FF9A90;
@sapUiWarningBG: #FAF2B0;
@sapUiReadOnlyBG: grey;

// Text Colors
@sapUiExtraLightText: lightgray;
@sapUiLightText: lightgray;
@sapUiMediumText: grey;
@sapUiDarkText: darkgrey;
@sapUiDeepText: black;
@sapUiText: @sapUiBaseText; // black
@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

// Link
@sapUiLink: #0000FF;
@sapUiLinkInverted: @sapUiLink;
@sapUiLinkVisited: #800080;               // the color for a vistited link
@sapUiLinkActive: #FF0000;                // the color for a link while being clicked
@sapUiLinkHover: #FF0000;                 // the color for a link while being hovered

// Semantic Text Colors
@sapUiNegativeText: red;
@sapUiPositiveText: #B5E7A8;

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff
@sapUiExtraLightBorder: lightgrey;
@sapUiLightBorder: grey;
@sapUiMediumBorder: @sapUiBaseBorder;
@sapUiDarkBorder: @sapUiBaseBorder;
@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);	// #000000

// Semantic Border Colors
@sapUiErrorBorder: red;
@sapUiWarningBorder: yellow;

// Line Colors
@sapUiLightLine: lightgrey;
@sapUiMediumLine: grey;
@sapUiEmphasizedLine: @sapUiHighlight;
@sapUiDarkLine: darkgrey;

// Table Colors
@sapUiTableRowBG: @sapUiWhite;
@sapUiTableRowAlternatingBG: @sapUiWhite;
@sapUiTableRowSelectionBG: @sapUiHighlight;
@sapUiTableRowSelectionReadOnlyBG: @sapUiHighlight;
@sapUiTableRowHoverBG: @sapUiHoverBG;

// MOBILE-specific, but still very global-like:
@sapUiListBG: #f7f7f7;


/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
@sapUiTextColor: green; /* may be required by SubstitutionRulesManager.css in inbox lib */
@sapUiTextTitleColor: green;
@sapUiTextSelectionColor: green;

/* ---------------------------------------------------------------------------------------- */

@sapUiTextDisabled: lighten(@sapUiText, 60%); // the color for disabled text
@sapUiTextTitle: @sapUiBaseText;  // the text color for titles of all kinds
@sapUiTextSelection: @sapUiTextInverted; // the color for selected text
@sapUiTextfieldBackground: @sapUiWhite; // better to have an own parameter insted of using sapUiWhite

@sapUiLineHeight: 21px;

@sapUiFontFamily: Arial,Helvetica,sans-serif;  // the default font
@sapUiFontMonospaceFamily: Lucida Console;     // the default monospacefont
@sapUiFontSize: medium;                        // the default font size
@sapUiFontLargeSize: large;                    // TODO: might also be title font size
@sapUiFontSmallSize: small;
@sapUiFontHeader1Size: xx-large;
@sapUiFontHeader2Size: x-large;
@sapUiFontHeader3Size: @sapUiFontLargeSize;
@sapUiFontHeader4Size: @sapUiFontSize;
@sapUiFontHeader5Size: @sapUiFontSize;
@sapUiFontHeader6Size: @sapUiFontSize;


// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiBaseText;
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
@sapUiUx3ShellSideBarBaseWidth:       40px;
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
@sapUiUx3ShellPaneOverflowButtonHeight: 120px;

@sapUiUx3ExactLstExpandOffset: 0 0;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstCollapseWidth: 24px;
@sapUiUx3ExactLstHeaderHeight: 25px;
@sapUiUx3ExactLstContentTop: @sapUiUx3ExactLstHeaderHeight;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiText, @sapUiTextInverted);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiText,33), darken(@sapUiTextInverted,33));
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"true"; /* Telling the ToolPopup if it's inverted per default */
@sapUiUx3ToolPopupArrowWidth: 13px;
@sapUiUx3ToolPopupArrowHeight: 20px;
@sapUiUx3ToolPopupArrowRightMarginCorrection: -2px;
@sapUiUx3ToolPopupArrowRightMarginCorrectionInverted: -7px;
@sapUiUx3TPPaddingBottom: 50px;


// @sapUiButtonBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
// @sapUiButtonBackground: @sapUiButtonStandardBG; // to be renamed????
// @sapUiButtonDisabledBorderColor: @sapUiMediumBorder; // needed because different in GR, HCB and UX
@sapUiButtonDisabledBackground: @sapUiExtraLightBG; // needed, different in every theme
// @sapUiButtonHoverBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonHoverBackground: @sapUiMediumBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonActiveBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonActiveBackground: @sapUiDarkBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonEmphasizedBorderColor: @sapUiButtonBorderColor;
@sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBG;
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonEmphasizedBorderColor;
@sapUiButtonEmphasizedDisabledBackground: @sapUiButtonEmphasizedBackground;
@sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonEmphasizedHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonAcceptBorderColor: @sapUiButtonBorderColor;
@sapUiButtonAcceptBackground: @sapUiButtonPositiveBG;
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptDisabledBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonAcceptActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonRejectBorderColor: @sapUiButtonBorderColor;
@sapUiButtonRejectBackground: @sapUiButtonNegativeBG;
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectDisabledBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonRejectActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiToggleButtonPressedDisabledBackground: #D8D8E8;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;

// semantic colors
@sapUiPositiveBG: @sapUiPositiveText; // no positive background defined by UX, but using text color as background may be confusing

// default shadow for popups 
@sapUiShadowTint: #000;
@sapUiShadow: 5px 5px 10px fade(@sapUiShadowTint,50%);
/* Global CSS for 'sap_hcb' theme */

// Semantic Theming Mapping
@sapUiHighlightColor: #7A5100;
@sapUiContentDisabledTextColor: #666666;
@sapUiButtonBackground: #000000;
@sapUiButtonBorderColor: #FFFFFF;
@sapUiButtonTextColor: #FFFFFF;
@sapUiButtonDisabledBackground: #000000;
@sapUiButtonDisabledBorderColor: #666666;
@sapUiButtonHoverBackground: #7A5100;
@sapUiButtonHoverBorderColor: #FFFFFF;
@sapUiButtonHoverTextColor: #FFFFFF;
@sapUiFieldBackground: #000000;
@sapUiFieldBorderColor: #FFFFFF;
@sapUiFieldHoverBorderColor: #FFFFFF;
@sapUiFieldHoverHelpBackground: @sapUiHighlightColor;
@sapUiFieldReadOnlyBackground: #585858;
@sapUiFieldReadOnlyBorderColor: #999999;
@sapUiFieldInvalidBackground: #AA0000;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldWarningBackground: #CCAA00;
@sapUiFieldWarningColor: #FFFFFF;
@sapUiFieldSuccessBackground: #00AA00;
@sapUiFieldSuccessColor: #00AA00;

@sapUiListHeaderBackground: #585858;
@sapUiListHeaderBorderColor: @sapUiBaseBorder;
@sapUiListSelectionBackgroundColor: @sapUiHighlightColor;
@sapUiListHoverBackground: @sapUiHighlightColor;

// central colors
// Brand Colors
@sapUiHighlight: @sapUiHighlightColor;

// Base Colors
@sapUiBase: #FFFFFF;
@sapUiBaseBG: #000000;
@sapUiBaseText: #FFFFFF;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #000000;
@sapUiWhiteBG: #000000;
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: @sapUiHighlight;
@sapUiMediumBG: @sapUiLightBG;
@sapUiDarkBG: @sapUiLightBG;
@sapUiDeepBG: #FFFFFF;
@sapUiBlackBG: #FFFFFF;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: @sapUiButtonStandardBG;
@sapUiButtonNegativeBG: @sapUiButtonStandardBG;
@sapUiButtonPositiveBG: @sapUiButtonStandardBG;

// Semantic Background Colors
@sapUiErrorBG: #AA0000;
@sapUiWarningBG: #CCAA00;
@sapUiReadOnlyBG: #585858;

// Link
@sapUiLink: @sapUiText;

// Semantic Text Colors
@sapUiPositiveText: #00AA00;

// Grayscale Borders
@sapUiExtraLightBorder: @sapUiBaseBorder;
@sapUiLightBorder: @sapUiBaseBorder;

// Semantic Border Colors
@sapUiWarningBorder: @sapUiBaseBorder;

// Table Colors
@sapUiTableRowBG: #000000;
@sapUiTableRowAlternatingBG: #444444;

/* ---------------------------------------------------------------------------------------- */



@sapUiTextDisabled: #666666;
@sapUiTextSelection: @sapUiText;
@sapUiTextInverted: darken(@sapUiBaseText, 100%);			// #000000;

@sapUiFontFamily: Arial,Helvetica,sans-serif;
@sapUiFontSize: 11px;
@sapUiFontLargeSize: 16px;
@sapUiFontSmallSize: 10px;
@sapUiFontHeader1Size: @sapUiFontLargeSize;
@sapUiFontHeader2Size: 13px;
@sapUiFontHeader3Size: @sapUiFontSize;
@sapUiFontHeader4Size: @sapUiFontSmallSize;
@sapUiFontHeader5Size: @sapUiFontSmallSize;
@sapUiFontHeader6Size: @sapUiFontSmallSize;

@sapUiLineHeight: 18px;

// SOME important control-specific parameters... 

/* NotificationBar */
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiTextInverted, @sapUiText);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiTextInverted,33), darken(@sapUiText,33));
@sapUiNotificationBarCalloutBorder: @sapUiBase;
@sapUiNotificationBarCalloutBorder_IE: @sapUiBase;
@sapUiNotificationBarCalloutArr: @sapUiBase;
@sapUiNotificationBarBG: @sapUiBaseBG;
@sapUiNotificationBarBG_IE: @sapUiBaseBG;
@sapUiNotifierSeparator: @sapUiBase;
@sapUiMessageNotifierCountBG: #0F5D94;

@sapUiLinkVisited: @sapUiLink;
@sapUiLinkActive: @sapUiLink;
@sapUiLinkHover: @sapUiLink;

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"false";
@sapUiUx3ToolPopupArrowRightMarginCorrection: 11px;

@sapUiButtonDisabledBorderColor: @sapUiTextDisabled; 
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonDisabledBorderColor; 
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonDisabledBorderColor; 
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonDisabledBorderColor;
@sapUiToggleButtonPressedBackground: @sapUiMediumBG;
@sapUiToggleButtonPressedDisabledBackground: @sapUiExtraLightBG;

@sapUiDatePickerTableBackground: lighten(desaturate(spin(@sapUiHighlightColor,165),18),8);
@sapUiDatePickerTableBorderColor: @sapUiDatePickerTableBackground;
/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* =============================================== */

.sapUiCal{
	background: none repeat scroll 0 0 @sapUiFieldBackground;
	width: 14em;
	overflow: hidden;
	position: relative;
}

/* calendar should have only a border if on popup */
.sapUiCal.sapUiShd{
	border: 1px solid @sapUiFieldBorderColor;
}

/*** HEADER ***/
.sapUiCalHead{
	width: 100%;
	height: @sapUiLineHeight;
	position: relative;
	text-align:center;
}

.sapUiCalPrev,
.sapUiCalNext,
.sapUiCalMonthPick,
.sapUiCalYearPick,
.sapUiCancel{
	background-color: @sapUiButtonLiteBackground;
	border: none;
	color: @sapUiButtonTextColor;
	cursor: pointer;
}

.sapUiCalPrev,
.sapUiCalNext{
	position: absolute;
}

.sapUiCalPrev{
	left: 0;
}

.sapUiCalNext{
	right: 0;
}

/* no default (browser) outline, if device needs focus visualization its defined later */
.sapUiCalPrev:focus,
.sapUiCalNext:focus,
.sapUiCalMonthPick:focus,
.sapUiCalYearPick:focus,
.sapUiCancel:focus{
	outline: none;
}

/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
.sap-desktop .sapUiCalPrev:focus,
.sap-desktop .sapUiCalNext:focus,
.sap-desktop .sapUiCalMonthPick:focus,
.sap-desktop .sapUiCalYearPick:focus,
.sap-desktop .sapUiCancel:focus{
	background-color: @sapUiButtonHoverBackground;
	color: @sapUiButtonHoverTextColor;
}

.sap-desktop .sapUiCalPrev:hover,
.sap-desktop .sapUiCalNext:hover,
.sap-desktop .sapUiCalMonthPick:hover,
.sap-desktop .sapUiCalYearPick:hover,
.sap-desktop .sapUiCancel:hover{
	background-color: @sapUiButtonHoverBackground;
	color: @sapUiButtonHoverTextColor;
}

/* once for desktop to overwrite focus and once for all devices needed */
.sapUiCalPrev:active,
.sapUiCalNext:active,
.sapUiCalMonthPick:active,
.sapUiCalYearPick:active,
.sapUiCancel:active,
.sap-desktop .sapUiCalPrev:active,
.sap-desktop .sapUiCalNext:active,
.sap-desktop .sapUiCalMonthPick:active,
.sap-desktop .sapUiCalYearPick:active,
.sap-desktop .sapUiCancel:active{
	background-color: @sapUiHighlight;
	color: @sapUiTextSelection;
}

.sapUiCalPrev.sapUiCalDsbl,
.sapUiCalNext.sapUiCalDsbl{
	cursor: default;
	opacity: .3;
	filter: alpha(opacity=30);
}

.sap-desktop .sapUiCalPrev.sapUiCalDsbl:focus,
.sap-desktop .sapUiCalNext.sapUiCalDsbl:focus,
.sap-desktop .sapUiCalPrev.sapUiCalDsbl:hover,
.sap-desktop .sapUiCalNext.sapUiCalDsbl:hover,
.sapUiCalPrev.sapUiCalDsbl:active,
.sapUiCalNext.sapUiCalDsbl:active{
	background-color: @sapUiButtonLiteBackground;
	color: @sapUiButtonTextColor;
}

/*** days, months, years ***/
.sapUiCalDays,
.sapUiCalMonths,
.sapUiCalYears{
	display: inline-block;
	width: 100%;
}

.sapUiCalWH,
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	display: block;
	overflow: hidden;
	float: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: center;
}

.sapUiCalWH,
.sapUiCalDay,
.sapUiCalWeekNum{
	width: 12.5%;
}

.sapUiCalDayNum{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.sapUiCalWeekNum{
	position: absolute;
	right: 100%;
	width: 100%;
	color: @sapUiLightText;
	font-size: @sapUiFontSmallSize;
	cursor: default;
}

.sapUiCalWH{
	color: @sapUiLightText;
}

.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	color: @sapUiBaseText;
	background-color: @sapUiExtraLightBG;
}

.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:focus{
	background-color: @sapUiFieldFocusBackground;
}

.sapUiCalFirstWDay{
	clear: both;
	margin-left: 12.5%;
	position: relative;
	overflow: visible;
}

.sapUiCalDayOtherMonth{
	color: @sapUiContentDisabledTextColor;
}

.sapUiCalDayToday{
	color: @sapUiHighlight;
}

.sapUiCalDayWeekEnd{
	background-color: @sapUiLightBG;
}

.sapUiCalDaySel,
.sapUiCalMonthSel,
.sapUiCalYearSel{
	background-color: @sapUiSelected;
}

.sapUiCalMonths,
.sapUiCalYears{
	position: absolute;
	top: @sapUiLineHeight;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: @sapUiFieldBackground;
}

.sapUiCalMonth{
	width: 33.33%;
}

.sapUiCalYear{
	width: 25%;
}

.sapUiCancel{
	display: none; /* cancel button only visible on phones */
	position: absolute;
}
/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* HCB                                             */
/* =============================================== */

/* tablet(large) size is default */

.sapUiCal{
	width: 288px; /* +16px padding left and right = 320 px*/
	padding: 16px;
}

/*** HEADER ***/
.sapUiCalHead{
	height: 40px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.sapUiCalPrev,
.sapUiCalNext,
.sapUiCalMonthPick,
.sapUiCalYearPick{
	height: 40px;
	padding: 0;
}

.sapUiCalPrev,
.sapUiCalNext{
	width: 40px;
}

.sapUiCalMonthPick{
	width: 92px;
	margin-right: 4px;
}

.sapUiCalYearPick{
	width: 92px;
	margin-left: 4px;
}

/*** days, months, years ***/
.sapUiCalWH,
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	border: 1px solid @sapUiBaseBG;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiCalWH{
	height: 32px;
	line-height: 30px;
}

.sapUiCalDay,
.sapUiCalWeekNum{
	height: 48px;
	line-height: 46px;
}

.sapUiCalDayNum{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiCalWeekNum{
	top: -1px;
}

.sapUiCalWH{
	font-size: 12px;
	background-color: @sapUiDatePickerTableBackground;
	border-bottom-color: @sapUiDatePickerTableBorderColor;
	color: @sapUiBaseText;
}

.sapUiCalDay,
.sapUiCalWeekNum,
.sapUiCalMonth,
.sapUiCalYear{
	font-size: 14px;
}

.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	border-color: @sapUiDatePickerTableBorderColor;
}

/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
.sap-desktop .sapUiCalDay:hover,
.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:hover,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:hover,
.sap-desktop .sapUiCalYear:focus{
	background-color: transparent;
	border-color: @sapUiMediumBorder;
	outline: none;
}

.sap-desktop .sapUiCalDay:hover > .sapUiCalDayNum,
.sap-desktop .sapUiCalDay:focus > .sapUiCalDayNum{
	border: 2px solid @sapUiMediumBorder;
	line-height: 42px;
}

.sap-desktop .sapUiCalMonth:hover,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:hover,
.sap-desktop .sapUiCalYear:focus{
	border-width: 3px;
	line-height: 42px;
}

.sapUiCalDayWeekEnd{
	background-color: transparent;
}

.sapUiCalDayToday > .sapUiCalDayNum{
	color: @sapUiBaseText;
	border: 3px solid @sapUiMediumBorder;
	line-height: 40px;
}

.sap-desktop .sapUiCalDayToday:hover > .sapUiCalDayNum,
.sap-desktop .sapUiCalDayToday:focus > .sapUiCalDayNum{
	border-width: 3px;
	line-height: 40px;
}

.sapUiCalDayOtherMonth{
	background-color: @sapUiFieldReadOnlyBackground;
	color: @sapUiBaseText;
}

.sap-desktop .sapUiCalDayOtherMonth:hover,
.sap-desktop .sapUiCalDayOtherMonth:focus{
	background-color: @sapUiFieldReadOnlyBackground;
}

.sap-desktop .sapUiCalDaySel:hover,
.sap-desktop .sapUiCalDaySel:focus,
.sap-desktop .sapUiCalDaySel.sapUiCalDayOtherMonth:hover,
.sap-desktop .sapUiCalDaySel.sapUiCalDayOtherMonth:focus,
.sap-desktop .sapUiCalMonthSel:hover,
.sap-desktop .sapUiCalMonthSel:focus,
.sap-desktop .sapUiCalYearSel:hover,
.sap-desktop .sapUiCalYearSel:focus{
	background-color: @sapUiSelected;
}

.sapUiCalMonths,
.sapUiCalYears{
	top: 64px;
	padding: 32px 16px 16px 16px;
	background-color: @sapUiBaseBG;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiCalYears.sapUiCalYearNoTop{
	padding-top: 0;
}

.sapUiCalMonth,
.sapUiCalYear{
	height: 48px;
	line-height: 46px;
}

/*** compact mode (desktop size) ***/

.sapUiSizeCompact .sapUiCal,
.sapUiSizeCompact.sapUiCal{
	width: 256px;
	padding: 8px;
}

.sapUiSizeCompact .sapUiCalHead{
	height: 32px;
	padding: 0;
}

.sapUiSizeCompact .sapUiCalPrev,
.sapUiSizeCompact .sapUiCalNext,
.sapUiSizeCompact .sapUiCalMonthPick,
.sapUiSizeCompact .sapUiCalYearPick{
	height: 32px;
}

.sapUiSizeCompact .sapUiCalPrev,
.sapUiSizeCompact .sapUiCalNext{
	width: 32px;
}

.sapUiSizeCompact .sapUiCalMonthPick{
	width: 100px;
	margin-right: 4px;
}

.sapUiSizeCompact .sapUiCalYearPick{
	width: 68px;
	margin-left: 4px;
}

.sapUiSizeCompact .sapUiCalDay,
.sapUiSizeCompact .sapUiCalWeekNum{
	height: 32px;
	line-height: 30px;
}

.sapUiSizeCompact .sapUiCalDayToday > .sapUiCalDayNum{
	line-height: 26px;
}

.sapUiSizeCompact .sapUiCalMonths,
.sapUiSizeCompact .sapUiCalYears{
	top: 40px;
	padding: 32px 8px 8px 8px;
}

.sapUiSizeCompact .sapUiCalMonth,
.sapUiSizeCompact .sapUiCalYear{
	height: 32px;
	line-height: 30px;
}

.sap-desktop .sapUiSizeCompact .sapUiCalDay:hover > .sapUiCalDayNum,
.sap-desktop .sapUiSizeCompact .sapUiCalDay:focus > .sapUiCalDayNum,
.sap-desktop .sapUiSizeCompact .sapUiCalMonth:hover,
.sap-desktop .sapUiSizeCompact .sapUiCalMonth:focus,
.sap-desktop .sapUiSizeCompact .sapUiCalYear:hover,
.sap-desktop .sapUiSizeCompact .sapUiCalYear:focus{
	line-height: 26px;
}

.sapUiSizeCompact .sapUiCalDayToday > .sapUiCalDayNum,
.sap-desktop .sapUiSizeCompact .sapUiCalDayToday:hover > .sapUiCalDayNum,
.sap-desktop .sapUiSizeCompact .sapUiCalDayToday:focus > .sapUiCalDayNum{
	line-height: 24px;
}

/*** Phone ***/

.sap-phone .sapUiCal{
	position: absolute;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	width: auto;
	border: none;
}

.sap-phone .sapUiCancel{
	display: block;
}

@media only screen
and (orientation: portrait) {
	.sap-phone .sapUiCancel{
		bottom: 1rem;
		left: 25%;
		width: 50%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media only screen
and (min-width : 320px)
and (orientation: landscape) {
	.sap-phone .sapUiCal{
		overflow: auto;
	}

	.sap-phone .sapUiCalHead{
		height: 30px;
	}

	.sap-phone .sapUiCalWH{
		height: 20px;
		line-height: 20px;
	}

	.sap-phone .sapUiCalHead{
		padding-right: 5rem;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.sap-phone .sapUiCalPrev,
	.sap-phone .sapUiCalNext,
	.sap-phone .sapUiCalMonthPick,
	.sap-phone .sapUiCalYearPick{
		height: 100%;
	}

	.sap-phone .sapUiCalPrev,
	.sap-phone .sapUiCalNext{
		padding-bottom: 0.5rem;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.sap-phone .sapUiCalNext{
		right: 5rem;
	}

	.sap-phone .sapUiCalDays{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		margin: 1rem;
		min-height: 180px;
	}

	.sap-phone .sapUiCalMonths,
	.sap-phone .sapUiCalYears{
		top: 46px;
		padding-top: 20px;
		min-height: 180px;
	}

	.sap-phone .sapUiCalDay,
	.sap-phone .sapUiCalMonth,
	.sap-phone .sapUiCalYear{
		height: 16.66%;
		min-height: 30px;
	}

	.sap-phone .sapUiCalDay,
	.sap-phone .sapUiCalDayToday > .sapUiCalDayNum,
	.sap-phone .sapUiCalWeekNum,
	.sap-phone .sapUiCalMonth,
	.sap-phone .sapUiCalYear{
		line-height: 35px;
	}

	.sap-phone .sapUiCalWeekNum{
		height: 100%;
		top: 0;
	}

	.sap-phone .sapUiCancel{
		top: 1rem;
		right: 1rem;
		width: 4rem;
		height: 30px;
		padding-top: 0.25rem;
		padding-bottom: 0.5rem;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}

/* ============================================= */
/* CSS for control sap.ui.unified/ContentSwitcher.control */
/* ============================================= */

.sapUiUfdCSwitcher {
	position:							relative;
	width:								100%;
	height:								100%;
	overflow:							hidden;
}


.sapUiUfdCSwitcher > section {
	position:							absolute;
	top:								0;
	left:								0;
	width:								100%;
	height:								100%
}


/* Unanimated */

.sapUiUfdCSwitcherContent {
	display:			none;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;
}

.sapUiUfdCSwitcherVisible {
	display:			block;
}


/* Fade animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationFade > section {
	display:			block;
	opacity:			0;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;
	
	transition:			opacity 500ms ease 0s;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationFade .sapUiUfdCSwitcherVisible {
	display:			block;
	opacity:			1;
	z-index:			1;
}


/* Slide over Left animation  */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver > section {
	display:			block;
	left:				-100%;
	
	top:				0%;
	
	width:				100%;
	height:				100%;

	transition:			left 500ms ease 0ms, right 500ms ease 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver section.sapUiUfdCSwitcherContent1.visible {
	transition:			left 0ms ease 500ms, right 0ms ease 500ms;
	
	left:				0;
}


/* Slide Right animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideRight > section {
	display:			block;
	left:				-100%;
	z-index:			1;
	
	transition:			left 0ms ease 500ms, right 0ms ease 500ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideRight .sapUiUfdCSwitcherVisible {
	display:			block;
	left:				0;
	z-index:			2;

	transition:			left 500ms ease 0ms, right 500ms ease 0ms;
}


/* Zoom Out animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomOut > section {
	display:			block;
	left:				50%;
	top:				50%;
	
	width:				0%;
	height:				0%;
	
	z-index:			1;
	
	opacity:			0;
	
	transition: 		left 500ms ease 0ms,
						right 500ms ease 0ms,
						top 500ms ease 0ms,
						width 500ms ease 0ms,
						height 500ms ease 0ms,
						z-index 0ms ease 500ms,
						opacity 500ms ease 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomOut .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;

	z-index:			2;

	opacity:			1;

	transition: 		left 0ms ease 0ms,
						right 0ms ease 0ms,
						top 0ms ease 0ms,
						width 0ms ease 0ms,
						height 0ms ease 0ms,
						z-index 0ms ease 500ms;
}


/* Zoom Out animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomIn > section {
	display:			block;
	left:				50%;
	top:				50%;
	
	width:				0%;
	height:				0%;
	
	z-index:			1;
	
	opacity:			0;
	
	transition: 		left 0ms ease 500ms,
						right 0ms ease 500ms,
						top 0ms ease 500ms,
						width 0ms ease 500ms,
						height 0ms ease 500ms,
						opacity 0ms ease 500ms,
						z-index 0ms ease 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomIn .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;

	z-index:			2;

	opacity:			1;

	transition: 		left 500ms ease 0ms,
						right 500ms ease 0ms,
						top 500ms ease 0ms,
						width 500ms ease 0ms,
						height 500ms ease 0ms,
						opacity 500ms ease 0ms;
}


/* Rotate Animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationRotate > section {
	display:			block;
	left:				50%;
	top:				50%;
	
	width:				0%;
	height:				0%;
	
	z-index:			1;
	
	opacity:			0;
	
	transition: 		left 0ms linear 500ms,
						right 0ms linear 500ms,
						top 0ms linear 500ms,
						width 0ms linear 500ms,
						height 0ms linear 500ms,
						opacity 0ms linear 500ms,
						transform 0ms linear 500ms,
						z-index 0ms linear 0ms;
	-webkit-transition: left 0ms linear 500ms,
						right 0ms linear 500ms,
						top 0ms linear 500ms,
						width 0ms linear 500ms,
						height 0ms linear 500ms,
						opacity 0ms linear 500ms,
						-webkit-transform 0ms linear 500ms,
						z-index 0ms linear 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationRotate .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;

	z-index:			2;

	opacity:			1;
	
	transform:			rotate(360deg);
	-webkit-transform:	rotate(360deg);

	transition: 		left 500ms linear 0ms,
						right 500ms linear 0ms,
						top 500ms linear 0ms,
						width 500ms linear 0ms,
						height 500ms linear 0ms,
						opacity 500ms linear 0ms,
						transform 500ms linear 0ms;
	-webkit-transition: left 500ms linear 0ms,
						right 500ms linear 0ms,
						top 500ms linear 0ms,
						width 500ms linear 0ms,
						height 500ms linear 0ms,
						opacity 500ms linear 0ms,
						-webkit-transform 500ms linear 0ms;
}
.sapUiUfdCurrency {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.sapUiUfdCurrencyAlign {
	text-align: end;
	width: 200px;
	float: right;
}
/* special handling for IE, as it does not support text-align: end */
html[data-sap-ui-browser^="ie"] .sapUiUfdCurrencyAlign {
	text-align: right;
}
html[dir=rtl][data-sap-ui-browser^="ie"] .sapUiUfdCurrencyAlign {
	text-align: left;
}

.sapUiUfdCurrencyValue,
.sapUiUfdCurrencyCurrency {
	display: inline-block;
	vertical-align: middle;
}

.sapUiUfdCurrencyValue {
	text-align: end;
}
/* special handling for IE, as it does not support text-align: end */
html[data-sap-ui-browser^="ie"] .sapUiUfdCurrencyValue {
	text-align: right;
}
html[dir=rtl][data-sap-ui-browser^="ie"] .sapUiUfdCurrencyValue {
	text-align: left;
}

.sapUiUfdCurrencyCurrency {
	text-align: start;
	margin-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* =================================================== */
/* CSS for control sap.ui.unified/FileUploader.control */
/* =================================================== */

.sapUiFup {
	display: inline-block;
}

.sapUiFupInp {
	top: 2px;
}

.sapUiFupGroup {
	display: table;
}

.sapUiFupGroup > div {
	display: table-row;
}

.sapUiFupGroup > div > div {
	display: table-cell;
}

.sapUiFupGroup > div > div:last-child {
	padding-left: 1px;
}

.sapUiFup > form {
	display: inline-block;
}

.sapUiFup > form > div {
	position: relative;
	display: inline-block;
}

.sapUiFupInputMask {  /* the element masking the real (but hidden) file input, so the clickable area has exactly the same size as the visible control */
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.sapUiFupInputMask > input { /* the real, but hidden file input */
	position: absolute;
	opacity: 0;
	top: 0px;
	bottom: 0px;
	cursor: pointer;
	cursor: hand;
	left: -4em;       /* avoid the input field behind the file chooser */
	font-size: 500px; /* to make the field high enough for most themes; for themes with very large fonts this needs to be increased further */
}

html[data-sap-ui-browser="ie8"] .sapUiFupInputMask > input { /* for IE8 the file input should be native */
	position: relative;
	left: auto;
	font-size: small;
}

html[data-sap-ui-browser^="sf"] .sapUiFupInputMask > input, /* for Safari and Chrome the file input is not clickable with opacity "0" */
html[data-sap-ui-browser^="cr"] .sapUiFupInputMask > input {
	position: relative;
	left: auto;
	opacity: 0.01;
}
@sapUiMnuItmHeight: 20px;

.sapUiMnu {
	/* initially hidden off the screen */
	position: absolute;
	top: -10000px;
	display: block;
	min-width: 80px;
	border: 1px solid @sapUiMediumBorder; /* the regular popup menu border */
	background-color: @sapUiLightBG; /* the popup menu's main background */
	cursor: default;
	outline: none;
	overflow: hidden;
	padding: 1px;
}

.sapUiMnuLst {
	padding: 0;
	margin: 0;
	display: block;
	cursor: default;
	color: @sapUiBaseText;
	font-size: @sapUiFontSize;
	font-family: @sapUiFontFamily;
}

.sapUiMnuItm {
	display: block;
	height: @sapUiMnuItmHeight;
	line-height: @sapUiMnuItmHeight;
	white-space: nowrap;
	position: relative;
}

.sapUiMnuItm.sapUiMnuItmDsbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl .sapUiMnuTfItemLbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl.sapUiMnuItmHov .sapUiMnuTfItemLbl {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItm.sapUiMnuItmHov {
	color: @sapUiTextSelection;
	background-color: @sapUiHighlight;
}

.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmHov .sapUiMnuTfItemLbl {
	color: @sapUiTextSelection;
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov {
	background-color: darken(@sapUiWhiteBG, 24.7);
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItmL,
.sapUiMnuItmIco,
.sapUiMnuItmTxt,
.sapUiMnuItmSCut,
.sapUiMnuItmSbMnu,
.sapUiMnuItmR {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
	outline: none;
}

.sapUiMnuItmSCut,
.sapUiMnuItmSbMnu,
.sapUiMnuItmR {
	position: absolute;
	top: 0px;
}

.sapUiMnuItmL{
	width: 2px;
}

.sapUiMnuItmIco {
	width: 20px;
	text-align: center;
}

.sapUiMnuItmIco > img{
	max-width: 16px;
	max-height: 16px;
	vertical-align: middle;
}

.sapUiMnuItmDsbl > .sapUiMnuItmIco > img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.sapUiMnuNoIco > .sapUiMnuItm > .sapUiMnuItmIco {
	width: 0px;
	display: none;
}

.sapUiMnuItmTxt {
	padding-right: 27px; /*22+5*/
	white-space: nowrap;
}

.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
	padding-right: 5px;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
	vertical-align: top;
	margin-right: 5px;
	line-height: @sapUiMnuItmHeight;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt > .sapUiMnuTfItemWrppr {
	position: absolute;
	right: 5px;
	top: 0;
	width: 22ex;
	display: inline-block;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	font-family: @sapUiFontFamily;
	font-size: @sapUiFontSize;
	-webkit-appearance: none; /*Needed for safari mobile*/
	border: 1px solid @sapUiFieldBorderColor;
	-webkit-border-radius: 0px; /*Needed for safari mobile*/
	background-color: @sapUiFieldBackground;
	color: @sapUiBaseText;
	width: 100%;
	outline: none; /* remove Webkit glow effect */
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf:focus {
	background-color: @sapUiFieldBackground;
	border-color: @sapUiFieldFocusBorderColor;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf::-ms-clear {
	width : 0;
	height: 0;
	display:none;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfDsbl {
	background-color: @sapUiFieldReadOnlyBackground;
	color: @sapUiContentDisabledTextColor;
	/* Avoid text selection in disabled TextFields */
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border-color: @sapUiFieldDisabledBorderColor;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfErr {
	border-color: @sapUiFieldInvalidColor;
	background-color: @sapUiFieldInvalidBackground;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfWarn {
	border-color: @sapUiFieldWarningColor;
	background-color: @sapUiFieldWarningBackground;
}

.sapUiMnuTfItmStretch {
	display: inline-block;
	width: 22ex;
	height: 1px;
}

.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt {
	padding-right: 7px; /*2+5*/
}

.sapUiMnuItmSCut {
	white-space: nowrap;
	right: 22px;
	width: 0px;
	display: none;
}

.sapUiMnuItmSbMnu {
	right: 2px;
	width: 15px;
	text-align: left;
}

.sapUiMnuItmSbMnu > div:after {
	content: "\e066";
	font-family: 'SAP-icons';
	outline: none;
}

.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmSbMnu {
	width: 0px;
	display: none;
}

.sapUiMnuItmR {
	width: 2px;
	right: 0px;
}

.sapUiMnuDiv{
	position: relative;
	height: 3px;
}

.sapUiMnuDiv > hr {
	display: inline-block;
	margin: 0;
	position: absolute;
	left: 5px;
	right: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-width: 0;
	border-top: 1px solid @sapUiMediumBorder;
	height: 1px;
}

.sapUiMnuDivL,
.sapUiMnuDivR{
	display: inline-block;
	position: absolute;
	width: 5px;
	height: 100%;
}

.sapUiMnuDivR{
	right: 0;
}

.sapUiMnuDivL{
	left: 0;
}
@sapUiMnuItmHeight: 1.25rem;
@sapUiMnuItmPadding: 0.5rem;

@sapUiMnuItmDfltFontsize_IE8: 16px;
@sapUiMnuItmHeight_IE8: 1.25 * @sapUiMnuItmDfltFontsize_IE8;
@sapUiMnuItmPadding_IE8: 0.5 * @sapUiMnuItmDfltFontsize_IE8;
@sapUiMnuItmFontsize: 0.6875rem;
@sapUiMnuItmFontsize_IE8: @sapUiMnuItmDfltFontsize_IE8 - 5px;

.sapUiMnu {
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
	padding: 1px;
	min-width: 5 * @sapUiMnuItmDfltFontsize_IE8;
	min-width: 5rem;
	background-color: @sapUiExtraLightBG;
	border: 1px solid @sapUiMediumBorder;
	color: @sapUiBaseText;
}

.sapUiMnu.sapUiMnuScroll {
	overflow-x: none;
	overflow-y: auto;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuItmR {
	width: @sapUiMnuItmPadding_IE8 + @sapUiMnuItmDfltFontsize_IE8;
	width: @sapUiMnuItmPadding + 1rem;
}

.sapUiMnuItm {
	height: @sapUiMnuItmHeight_IE8;
	height: @sapUiMnuItmHeight;
	line-height: @sapUiMnuItmHeight_IE8;
	line-height: @sapUiMnuItmHeight;
}

.sapUiMnuLst {
	color: @sapUiBaseText;
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
}

.sapUiMnuItm.sapUiMnuItmHov,
.sapUiMnuItm.sapUiMnuItmHov:active {
	color: @sapUiTextSelection;
	background-color: @sapUiHighlight;
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov,
.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov:active {
	color: @sapUiContentDisabledTextColor;
	background-color: darken(@sapUiBlackBG, 24.7);
}

.sapUiMnuItmL {
	width: 1px;
}

.sapUiMnuItmR,
.sapUiMnuNoIco .sapUiMnuItmL {
	width: @sapUiMnuItmPadding_IE8;
	width: @sapUiMnuItmPadding;
}

.sapUiMnuItmIco {
	width: @sapUiMnuItmHeight_IE8;
	width: @sapUiMnuItmHeight;
	margin-right: 2px;
}

.sapUiMnuItm.sapUiMnuItmDsbl .sapUiMnuItmIco {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov:active .sapUiMnuItmIco {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItmIco > img {
	padding-left: 0;
	max-height: @sapUiMnuItmDfltFontsize_IE8;
	max-width: 1rem;
	max-height: @sapUiMnuItmDfltFontsize_IE8;
	max-width: 1rem;
	padding-bottom: 2px;
}

.sapUiMnuDiv > hr {
	left: @sapUiMnuItmPadding_IE8;
	right: @sapUiMnuItmPadding_IE8;
	left: @sapUiMnuItmPadding;
	right: @sapUiMnuItmPadding;
	border-color: @sapUiMediumBorder;
}

.sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmHeight_IE8 + @sapUiMnuItmPadding_IE8;
	padding-right: @sapUiMnuItmHeight + @sapUiMnuItmPadding;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmHeight_IE8 + @sapUiMnuItmPadding_IE8 + @sapUiMnuItmDfltFontsize_IE8;
	padding-right: @sapUiMnuItmHeight + @sapUiMnuItmPadding + 1rem;
}

.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt,
.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmPadding_IE8;
	padding-right: @sapUiMnuItmPadding;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt,
.sapUiMnu.sapUiMnuScroll .sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmPadding_IE8 + @sapUiMnuItmDfltFontsize_IE8;
	padding-right: @sapUiMnuItmPadding + 1rem;
}

.sapUiMnuNoIco .sapUiMnuItmTxt {
	padding-left: 0;
}

.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt > .sapUiMnuTfItemWrppr {
	right: @sapUiMnuItmPadding_IE8;
	right: @sapUiMnuItmPadding;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf {
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
	padding: 0.0625*@sapUiMnuItmDfltFontsize_IE8 0.1875*@sapUiMnuItmDfltFontsize_IE8 0.0625*@sapUiMnuItmDfltFontsize_IE8 0.1875*@sapUiMnuItmDfltFontsize_IE8;
	padding: 0.0625rem 0.1875rem 0.0625rem 0.1875rem;
	margin-top: 0.0625 * @sapUiMnuItmDfltFontsize_IE8;
	margin-top: 0.0625rem;
	height: @sapUiMnuItmHeight_IE8 - 0.125*@sapUiMnuItmDfltFontsize_IE8;
	height: @sapUiMnuItmHeight - 0.125rem;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf:focus {
	outline:1px solid @sapUiMediumBorder;
	border-color: @sapUiMediumBorder;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfErr {
	font-style: italic;
	font-weight: bold;
	border-style: dashed;
	border-color: @sapUiMediumBorder;
	background-color: @sapUiMediumBG;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfErr:focus {
	border-color: @sapUiMediumBorder;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfWarn {
	font-style: italic;
	border-style: dashed;
	background-color: @sapUiFieldBackground;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
	line-height: @sapUiMnuItmHeight_IE8;
	line-height: @sapUiMnuItmHeight;
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
	margin-right: @sapUiMnuItmPadding_IE8;
	margin-right: @sapUiMnuItmPadding;
	color: @sapUiBaseText;
}

.sapUiMnuItmSbMnu {
	right: @sapUiMnuItmPadding_IE8 / 2;
	right: @sapUiMnuItmPadding / 2;
	width: @sapUiMnuItmHeight_IE8;
	width: @sapUiMnuItmHeight;
	text-align: center;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
}
/* =================================================== */
/* CSS for sap.ui.unfied.Shell.control (base)          */
/* =================================================== */

@sapUiUfdShellBrandHeight: 4px;
@sapUiUfdShellHeaderBarHeight: 44px;
@sapUiUfdShellHeadHeight: @sapUiUfdShellBrandHeight + @sapUiUfdShellHeaderBarHeight;
@sapUiUfdShellAnimDuration: 500ms; /*Duration of the transitions (must be defined in ms)*/

.sapUiUfdShell {
}

.sapUiUfdShellBG {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


._sapUiUfdShellSubHdr {  /* Testpage only */
	background-color: @sapUiBaseBG;
	color: @sapUiBaseText;
}


/* Basics */

.sapUiUfdShellCntnt {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sapUiUfdShellPad {
	padding: 10px;
}

.sapUiUfdShellHidden {
	display: none;
}


/* Animations */

.sapUiUfdShellAnim .sapUiUfdShellHead,
.sapUiUfdShellAnim .sapUiUfdShellHead > div,
.sapUiUfdShellAnim .sapUiUfdShellCurtain,
.sapUiUfdShellAnim .sapUiUfdShellCanvas {
	-webkit-transition-duration: @sapUiUfdShellAnimDuration;
	transition-duration: @sapUiUfdShellAnimDuration;
	-moz-transition-duration: @sapUiUfdShellAnimDuration;
}

.sapUiUfdShellAnim .sapUiUfdShellCanvas {
	-webkit-transition-property: top;
	transition-property: top;
	-moz-transition-property: top;
}

.sapUiUfdShellAnim .sapUiUfdShellCurtain {
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-moz-transition-property: top, bottom;
}

.sapUiUfdShellAnim .sapUiUfdShellHead {
	perspective: 400px;
	-webkit-perspective: 400px;
	-webkit-transition-property: top;
	transition-property: top;
	-moz-transition-property: top;
}

.sapUiUfdShellAnim .sapUiUfdShellHead > div {
	-webkit-transform: rotateX(0);
	-webkit-transform-origin: bottom center;
	transform: rotateX(0);
	transform-origin: bottom center;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-moz-transition-property: opacity, -moz-transform;
}

.sapUiUfdShellAnim.sapUiUfdShellHeadHidden .sapUiUfdShellHead > div {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0.3;
}


/* Header */

.sapUiUfdShellBrand {
	position: absolute;
	top: 0;
	height: @sapUiUfdShellBrandHeight;
	left: 0;
	right: 0;
	border: medium none;
	margin: 0;
	z-index: 7;
	background-color: @sapUiBrand;
}

.sapUiUfdShellHead {
	position: absolute;
	top: @sapUiUfdShellBrandHeight;
	height: @sapUiUfdShellHeaderBarHeight;
	left: 0;
	right: 0;
	z-index: 3;
	overflow: hidden;
}

.sapUiUfdShellHead > div {
	position: absolute;
	top: 0;
	height: @sapUiUfdShellHeaderBarHeight;
	left: 0;
	right: 0;
	overflow: hidden;
	opacity: 1;
}

.sapUiUfdShell.sapUiUfdShellHeadHidden .sapUiUfdShellHead {
	top: -@sapUiUfdShellHeaderBarHeight;
}


/* Canvas / Curtain */

.sapUiUfdShellCanvas {
	top: @sapUiUfdShellHeadHeight;
}

.sapUiUfdShellCurtain {
	top: 0;
	z-index: 1;
}

.sapUiUfdShell.sapUiUfdShellHeadHidden .sapUiUfdShellCanvas {
	top: @sapUiUfdShellBrandHeight;
}

.sapUiUfdShellCurtain > .sapUiUfdShellCntnt {
	overflow: auto;
	top: @sapUiUfdShellHeadHeight;
	-webkit-overflow-scrolling: touch;
} 

.sapUiUfdShell.sapUiUfdShellCurtainHidden .sapUiUfdShellCurtain {
	top: -100%;
	bottom: 100%;
}

.sapUiUfdShell.sapUiUfdShellCurtainHidden.sapUiUfdShellCurtainClosed .sapUiUfdShellCurtain > div,
.sapUiUfdShell.sapUiUfdShellCurtainHidden.sapUiUfdShellCurtainClosed .sapUiUfdShellCurtain > span {
	display: none;
}



/* =================================================== */
/* CSS for ShellHeader Content                         */
/* =================================================== */

@sapUiUfdShellHeadCenterAnimDuration: 200ms; /*Duration of the transitions of the header center area width (must be defined in ms)*/
@sapUiUfdShellHeadCenterAnimDelay: 30ms; /*Delay of the transitions of the header center area width (must be defined in ms)*/
@sapUiUfdShellHeadButtonOuterSpace: 4px; /*Left/Right spacing of the header buttons*/
@sapUiUfdShellHeadButtonInnerSpace: 9px; /*Spacing between icons and text (user button)*/
@sapUiUfdShellHeadButtonOutlineWidth: 1px;
@sapUiUfdShellHeadButtonSeparatorWidth: 1px;
@sapUiUfdShellHeadButtonBorderRadius: 2px;
@sapUiUfdShellHeadButtonHeight: @sapUiUfdShellHeaderBarHeight - 2*@sapUiUfdShellHeadButtonOuterSpace;


.sapUiUfdShellHeader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Animations */

.sapUiUfdShellAnim .sapUiUfdShellHeadItmMarker {
	-webkit-transition-duration: @sapUiUfdShellAnimDuration;
	transition-duration: @sapUiUfdShellAnimDuration;
	-moz-transition-duration: @sapUiUfdShellAnimDuration;
}

.sapUiUfdShellAnim .sapUiUfdShellHeadCenter.sapUiUfdShellAnim {
	-webkit-transition-duration: @sapUiUfdShellHeadCenterAnimDuration;
	transition-duration: @sapUiUfdShellHeadCenterAnimDuration;
	-moz-transition-duration: @sapUiUfdShellHeadCenterAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellHeadCenterAnimDelay;
	transition-delay: @sapUiUfdShellHeadCenterAnimDelay;
	-moz-transition-delay: @sapUiUfdShellHeadCenterAnimDelay;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-moz-transition-property: left, right;
	z-index: 1;
}

.sapUiUfdShellAnim .sapUiUfdShellHeadItmMarker {
	-webkit-transition-property: bottom;
	transition-property: bottom;
	-moz-transition-property: bottom;
}


/* Header */

.sapUiUfdShellHeadBegin,
.sapUiUfdShellHeadCenter,
.sapUiUfdShellHeadEnd {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.sapUiUfdShellHeadBegin {
	left: 0;
	max-width: 265px;
	white-space: nowrap;
}

.sapUiUfdShellHeadCenter {
	left: 0;
	right: 0;
	text-align: center;
}

.sapUiUfdShellHeadEnd {
	right: 0;
	max-width: 390px;
	white-space: nowrap;
}

.sapUiUfdShellHeadEnd > .sapUiUfdShellIco,
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	line-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellHeaderBarHeight/10;
}

.sapUiUfdShellHeadEnd > .sapUiUfdShellIco {
	text-align: right;
	padding-right: 8px;
}

.sapUiUfdShellHeadBegin > .sapUiUfdShellIco {
	padding-left: 8px;
}

.sapUiUfdShellHeadEnd > .sapUiUfdShellIco > img,
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco > img {
	max-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellBrandHeight * 2;
	max-width: 96px;
	vertical-align: middle;
}

.sapUiUfdShellIco.sapUiUfdShellHidden {
	display: none;
}

.sapUiUfdShellHeadEnd > * {
	float: right;
}

.sapUiUfdShellHeadContainer {
	overflow: hidden;
	display: inline-block;
}

.sapUiUfdShellHeadItm {
	width:  @sapUiUfdShellHeaderBarHeight;
	height: 100%;
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	overflow: hidden;
	position: relative;
}

.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep {
	width:  @sapUiUfdShellHeaderBarHeight + 2*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
}

.sapUiUfdShellHeadItm.sapUiUfdShellHidden {
	display: none;
}

.sapUiUfdShellHeadItm > span {
	width: @sapUiUfdShellHeadButtonHeight;
	height: @sapUiUfdShellHeadButtonHeight;
	display: inline-block;
	font-weight: normal;
	line-height: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth;
	text-align: center;
	font-size: @sapUiUfdShellHeaderBarHeight / 2;
	margin: @sapUiUfdShellHeadButtonOuterSpace - @sapUiUfdShellHeadButtonOutlineWidth;
	margin-top: @sapUiUfdShellHeadButtonOuterSpace;
	color: @sapUiBaseText;
	-moz-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span {
	margin-right: 3*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
	margin-left: @sapUiUfdShellHeadButtonOuterSpace;
}

.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span {
	margin-left: 3*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
	margin-right: @sapUiUfdShellHeadButtonOuterSpace;
}

.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before,
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
	content: " ";
    height: @sapUiUfdShellHeadButtonHeight - @sapUiUfdShellHeadButtonOuterSpace;
    top: @sapUiUfdShellHeadButtonOuterSpace * 3 / 2;
    position: absolute;
    width: @sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
    right: 0;
    border-right: @sapUiUfdShellHeadButtonOuterSpace solid transparent;
    border-left: @sapUiUfdShellHeadButtonSeparatorWidth solid @sapUiBaseBorder;
}

.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
    left: 0;
    border-left: @sapUiUfdShellHeadButtonOuterSpace solid transparent;
    border-right: @sapUiUfdShellHeadButtonSeparatorWidth solid @sapUiBaseBorder;
}

.sapUiUfdShellHeadItm:active > span,
.sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover > *,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover:active > *,
.sapUiUfdShellHeadUsrItm:active > *,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active:hover > span {
	background-color: @sapUiHighlight;
}

.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:hover > span {
	background-color: darken(@sapUiHighlight, 5%);
}

.sapUiUfdShellHeadItm > span > img {
	margin-top: @sapUiUfdShellHeaderBarHeight / 4 - 4px;
	width: @sapUiUfdShellHeaderBarHeight / 2;
	height: @sapUiUfdShellHeaderBarHeight / 2;
	border-width: 0;
}

.sapUiUfdShellHeadItm:focus,
.sapUiUfdShellHeadUsrItm:focus {
	outline: none;
}

.sapUiUfdShellHeadItm:focus > span {
	border: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}

.sapUiUfdShellSearch {
	display: inline-block;
	position: relative;
	width: 95%;
	max-width: 415px;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	line-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellHeaderBarHeight/10;
	padding-left: @sapUiUfdShellHeadButtonOuterSpace;
	padding-right: @sapUiUfdShellHeadButtonOuterSpace;
}

.sapUiUfdShellSearch.sapUiUfdShellHidden {
	display: none;
}

.sapUiUfdShellSearch > div {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.sapUiUfdShellHeadItmMarker {
	position: absolute;
	bottom: -7px;
	left: 15px;
	width: 14px;
	height: 7px;
	background-color: transparent;
    overflow: hidden;
}

.sapUiUfdShellHeadItmMark > .sapUiUfdShellHeadItmMarker {
	bottom: 0;
}

.sapUiUfdShellHeadItmMarker > div {
	position: relative;
    top: 100%;
}

.sapUiUfdShellHeadItmMarker > div:after,
.sapUiUfdShellHeadItmMarker > div:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    left: 50%;
    border-bottom-color: @sapUiBaseText;
}

.sapUiUfdShellHeadItmMarker > div:after {
	border-width: 6px;
	margin-left: -6px;
}

.sapUiUfdShellHeadItmMarker > div:before {
	border-width: 7px;
	margin-left: -7px;
}


/* User Item */

.sapUiUfdShellHeadUsrItm {
	text-decoration: none;
	overflow: hidden;
	position: relative;
	line-height: @sapUiUfdShellHeaderBarHeight;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	color: @sapUiBaseText;
}

.sapUiUfdShellHeadUsrItm > * {
	display: inline-block;
	vertical-align: top;
	height: @sapUiUfdShellHeadButtonHeight;
	line-height: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth;
	margin-top: @sapUiUfdShellHeadButtonOuterSpace;
	margin-bottom: @sapUiUfdShellHeadButtonOuterSpace - @sapUiUfdShellHeadButtonOutlineWidth;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapUiUfdShellHeadUsrItmImg {
	font-weight: normal;
	text-align: center;
	font-size: @sapUiUfdShellHeaderBarHeight / 2;
	-moz-border-top-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-top-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-top-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-moz-border-bottom-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-bottom-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-bottom-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	margin-left: 3*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
	border-left: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	padding-left: @sapUiUfdShellHeadButtonInnerSpace;
	padding-right: @sapUiUfdShellHeadButtonInnerSpace;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmImg {
	border-left: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}

.sapUiUfdShellHeadUsrItmImg > img {
	margin-top: 1px;
	width: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	height: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	-moz-border-radius: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	-webkit-border-radius: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	border-radius: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	border-width: 0;
}

.sapUiUfdShellHeadUsrItmName {
	font-size: 14px;
	max-width: 241px; /*15rem + 1px*/
	overflow: hidden;
	padding-right: @sapUiUfdShellHeadButtonInnerSpace;
	text-overflow: ellipsis;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmName {
	border-top: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}

.sapUiUfdShellHeadUsrItmLimit > .sapUiUfdShellHeadUsrItmName,
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmName,
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmExp {
	display: none; 
}

.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmImg {
	margin-right: @sapUiUfdShellHeadButtonOuterSpace;
	-moz-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-radius: @sapUiUfdShellHeadButtonBorderRadius;
}

.sapUiUfdShellHeadUsrItmExp {
	font-size: 16px;
    padding-right: @sapUiUfdShellHeadButtonInnerSpace;
    margin-right: @sapUiUfdShellHeadButtonOuterSpace;
    -moz-border-top-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-top-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-top-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-moz-border-bottom-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-bottom-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-bottom-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-right: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
}

.sapUiUfdShellHeadUsrItmExp:after {
	content: "\e1ef";
	font-family: 'SAP-icons';
	outline: none;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmExp {
	border-right: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}
/* ==================================================== */
/* CSS for sap.ui.unfied.Shell.control (hcb)            */
/* ==================================================== */

.sapUiUfdShellCurtain,
.sapUiUfdShell .sapUiUfdShellHead {
	background-color: @sapUiBaseBG;
}

.sapUiUfdShell .sapUiUfdShellHead > div {
	background-color: @sapUiBaseBG;
	-webkit-box-shadow: inset 0 -0.0625em @sapUiBaseBorder;
	box-shadow: inset 0 -0.0625em @sapUiBaseBorder;
}



/* =================================================== */
/* CSS for ShellHeader Content                         */
/* =================================================== */
/* ============================================== */
/* CSS for sap.ui.unfied.ShellOverlay.control (base)*/
/* ============================================== */

@sapUiUfdShellOvrlyAnimDuration: 525ms;

@sapUiUfdShellOvrlyCntntOpenAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 1.5; 
@sapUiUfdShellOvrlyCntntOpenAnimDelay: 75ms;
@sapUiUfdShellOvrlyCntntCloseAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 1.5;
@sapUiUfdShellOvrlyCntntInnerOpenAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 3;
@sapUiUfdShellOvrlyCntntInnerOpenAnimDelay: @sapUiUfdShellOvrlyCntntOpenAnimDuration / 1.5 + @sapUiUfdShellOvrlyCntntOpenAnimDelay;
@sapUiUfdShellOvrlyCntntInnerCloseAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 3;
@sapUiUfdShellOvrlyCntntInnerCloseAnimDelay: 0;
@sapUiUfdShellOvrlyCntntCloseAnimDelay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration + @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
@sapUiUfdShellOvrlySearchOpenAnimDuration: @sapUiUfdShellOvrlyAnimDuration;
@sapUiUfdShellOvrlySearchCloseAnimDuration: @sapUiUfdShellOvrlyAnimDuration;
@sapUiUfdShellOvrlyBlockLayerAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 2.5;

@sapUiUfdShellOvrlyOpenAnimOverAll: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay + @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
@sapUiUfdShellOvrlyCloseAnimOverAll: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration + @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay + @sapUiUfdShellOvrlyCntntCloseAnimDuration;

@sapUiUfdShellOvrlyHeadHeight: @sapUiUfdShellHeadHeight;
@sapUiUfdShellOvrlyBrandHeight: @sapUiUfdShellBrandHeight;


.sapUiUfdShellOvrly {
	position: absolute;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sapUiUfdShellOvrly > div {
	height: 100%;
	width: 80%;
	max-width: 1120px; /*70rem*/
	display: inline-block;
	position: relative;
	text-align: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sapUiMedia-Std-Tablet .sapUiUfdShellOvrly > div {
	width: 94%;
}

.sapUiMedia-Std-Phone .sapUiUfdShellOvrly > div {
	width: 100%;
}

.sapUiUfdShellOvrlyHead {
	height: @sapUiUfdShellOvrlyHeadHeight;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.sapUiUfdShellOvrlyBrand {
	position: absolute;
	top: 0;
	height: @sapUiUfdShellOvrlyBrandHeight;
	left: 0;
	right: 0;
	border: medium none;
	margin: 0;
}

.sapUiUfdShellOvrlyHeadClose {
	cursor: pointer;
	right: 24px;
	position: absolute;
	opacity: 1;
	text-decoration: none;
	font-size: 14px;
	top: 0px;
	height: 100%;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sapUiUfdShellOvrlyHeadClose,
.sapUiUfdShellOvrlyHeadClose:active,
.sapUiUfdShellOvrlyHeadClose:hover,
.sapUiUfdShellOvrlyHeadClose:focus,
.sapUiUfdShellOvrlyHeadClose:visited {
	color: @sapUiBaseText;
}

.sapUiUfdShellOvrlyCntnt {
	background-color: white;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: @sapUiUfdShellOvrlyHeadHeight solid transparent;
	box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
}

.sapUiUfdShellOvrlyCntnt > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyCntnt {
	top: -100%;
	bottom: 100%;
}

.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyCntnt > div {
	opacity: 0;
}

.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyHeadClose {
	opacity: 0;
}

.sapUiUfdShellOvrlyHeadCntnt {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: @sapUiUfdShellOvrlyBrandHeight;
}

.sapUiUfdShellOvrlyHeadCenter {
	position: absolute;
	height: 100%;
	left: 90px;
	right: 90px;
	top: 0;
	text-align: center;
}

.sapUiMedia-Std-Phone .sapUiUfdShellOvrlyHeadCenter {
	left: 5px;
}

.sapUiUfdShellOvrlySearch {
	display: inline-block;
	position: relative;
	width: 95%;
	max-width: 600px;
	height: 100%;
	line-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellHeaderBarHeight/10;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}

.sapUiUfdShellOvrlySearch > div {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrly > div {
	-webkit-transition-property: width;
	transition-property: width;
	-moz-transition-property: width;
	-webkit-transition-duration: @sapUiUfdShellOvrlyAnimDuration / 3;
	transition-duration: @sapUiUfdShellOvrlyAnimDuration / 3;
	-moz-transition-duration: @sapUiUfdShellOvrlyAnimDuration / 3;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntOpenAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntOpenAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntOpenAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntOpenAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntOpenAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntOpenAnimDelay;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntCloseAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntCloseAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntCloseAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntCloseAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntCloseAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntCloseAnimDelay;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt,
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-timing-function: cubic-bezier(0,0,0,1);
	transition-timing-function: cubic-bezier(0,0,0,1);
	-moz-transition-timing-function: cubic-bezier(0,0,0,1);
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-moz-transition-property: top, bottom;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt > div {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt > div {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyCntnt > div {
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-property: opacity;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlySearch {
	-webkit-transition-duration: @sapUiUfdShellOvrlySearchOpenAnimDuration;
	transition-duration: @sapUiUfdShellOvrlySearchOpenAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlySearchOpenAnimDuration;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlySearch {
	-webkit-transition-duration: @sapUiUfdShellOvrlySearchCloseAnimDuration;
	transition-duration: @sapUiUfdShellOvrlySearchCloseAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlySearchCloseAnimDuration;
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlySearch {
	-webkit-transition-property: width;
	transition-property: width;
	-moz-transition-property: width;
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyHeadClose {
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-property: opacity;
	-webkit-transition-duration: @sapUiUfdShellOvrlyAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyAnimDuration;
}

.sapUiBLy.sapUiUfdShellOvrlyBly {
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-property: all;
	-webkit-transition-duration: @sapUiUfdShellOvrlyBlockLayerAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyBlockLayerAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyBlockLayerAnimDuration;
}

.sapUiBLy.sapUiUfdShellOvrlyBly.sapUiUfdShellOvrlyBlyTp {
	background-color: transparent;
}
/* ============================================== */
/* CSS for sap.ui.unfied.ShellOverlay.control (hcb)*/
/* ============================================== */

.sapUiUfdShellOvrlyCntnt,
.sapUiUfdShellOvrlyHeadCntnt,
.sapUiUfdShellOvrlyHeadClose {
	background-color: @sapUiBaseBG;
}

.sapUiUfdShellOvrlyBrand {
	background-color: @sapUiBaseBorder;
}

.sapUiUfdShellOvrlyHead {
	border: 1px solid @sapUiBaseBorder;
}

.sapUiUfdShellOvrlyCntnt {
	border-left: 1px solid @sapUiBaseBorder;
	border-right: 1px solid @sapUiBaseBorder;
	border-bottom: 1px solid @sapUiBaseBorder;
}

.sapUiUfdShellOvrlyHeadClose,
.sapUiUfdShellOvrlyHeadClose:visited,
.sapUiUfdShellOvrlyHeadClose:active,
.sapUiUfdShellOvrlyHeadClose:hover,
.sapUiUfdShellOvrlyHeadClose:focus {
	border: 1px solid @sapUiBaseBorder;
	color: @sapUiBaseText;
	padding-top: 13px;
}

.sapUiUfdShellOvrlyHeadClose:active,
.sapUiUfdShellOvrlyHeadClose:hover,
.sapUiUfdShellOvrlyHeadClose:focus {
	background-color: @sapUiHighlight;
}
/** TODO: Move to global.css in core (pending discussion with Jens P and Michael S)
/* The animation duration must be in ms so it returns the correct integer value when used with parseInt */
@sapUiUfdSplitContAnimationDuration: 500ms;

.sapUiUfdSpltCont {
	overflow: hidden;
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}


.sapUiUfdSpltContAnim .sapUiUfdSpltContCanvas,
.sapUiUfdSpltContAnim .sapUiUfdSpltContPane {
	transition: height @sapUiUfdSplitContAnimationDuration ease 0ms, width @sapUiUfdSplitContAnimationDuration ease 0ms, left @sapUiUfdSplitContAnimationDuration ease 0ms, top @sapUiUfdSplitContAnimationDuration ease 0ms;
	-webkit-transition: height @sapUiUfdSplitContAnimationDuration ease 0ms, width @sapUiUfdSplitContAnimationDuration ease 0ms, left @sapUiUfdSplitContAnimationDuration ease 0ms, top @sapUiUfdSplitContAnimationDuration ease 0ms;
}

.sapUiUfdSpltContPane {
	background-color: @sapUiWhiteBG;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.sapUiUfdSpltContPane.sapUiUfdSplitContSecondClosed > div {
	display: none;
}

.sapUiUfdSpltContCanvas {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.sapUiUfdSpltContCntnt {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sapUiUfdSpltContPad {
	padding: 10px;
}

.sapUiUfdSpltContH {}

.sapUiUfdSpltContH .sapUiUfdSpltContPane {
	border-right: 1px solid @sapUiMediumBorder;
	bottom: 0;
}


.sapUiUfdSpltContV {}

.sapUiUfdSpltContV .sapUiUfdSpltContPane {
	border-bottom: 1px solid @sapUiMediumBorder;
	right: 0;
}

