
/* SAP UI development toolkit for HTML5 (SAPUI5/OpenUI5)
 * (c) Copyright 2009-2014 SAP AG or an SAP affiliate company. 
 * Licensed under the Apache License, Version 2.0 - see LICENSE.txt.
 * 
 */@import "../../../../../../Base/baseLib/baseTheme/base.less";
@import "../../../../../../Base/baseLib/sap_goldreflection/base.less";
/* Global CSS for 'base' theme */



// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundBorderColor: #A6A6A6;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
// @sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
// @sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
// @sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: red;
@sapUiButtonAcceptBackground: green;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: #BFBFBF;
@sapUiFieldHelpBackground: @sapField_Background;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Background;
@sapUiFieldReadOnlyBackground: #808080;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: #808080;
@sapUiFieldDisabledBackground: @sapField_Background;
@sapUiFieldDisabledBorderColor: @sapField_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Background;
@sapUiFieldRequiredColor: @sapField_BorderColor;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldInvalidBackground: #FF9A90;
@sapUiFieldWarningColor: #FFFF00;
@sapUiFieldWarningBackground: #FAF2B0;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiListHeaderBorderColor: #000000;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiListSelectionBackgroundColor: @sapUiHighlight;


// Brand Colors
@sapUiBrand: #F0AB00;     // SAP Gold #f0ab00
@sapUiHighlight: #111177;
@sapUiSelected: @sapUiHighlight;
@sapUiActive: @sapUiHighlight;

// Accent Colors
@sapUiPurple: purple;
@sapUiOrange: orange;
@sapUiGreen: green;
@sapUiBlue: blue;
@sapUiRed: red;
@sapUiYellow: yellow;

// Base Colors
@sapUiBase: darken(@sapBaseColor, 100);			// #000000
@sapUiBaseBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiBaseBorder: @sapUiBase;
@sapUiBaseText: @sapTextColor;
@sapUiBaseLine: @sapUiBase;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: lightgray;
@sapUiMediumBG: gray;
@sapUiDarkBG: darkgray;
@sapUiDeepBG: black;
@sapUiBlackBG: #000000;

// Tinted Backgrounds
@sapUiHoverBG: grey;
@sapUiMediumAltBG: grey;
@sapUiDarkAltBG: darkgrey;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: yellow;
@sapUiButtonNegativeBG: red;
@sapUiButtonPositiveBG: green;

// Semantic Background Colors
@sapUiErrorBG: #FF9A90;
@sapUiWarningBG: #FAF2B0;
@sapUiReadOnlyBG: grey;

// Text Colors
@sapUiExtraLightText: lightgray;
@sapUiLightText: lightgray;
@sapUiMediumText: grey;
@sapUiDarkText: darkgrey;
@sapUiDeepText: black;
@sapUiText: @sapUiBaseText; // black
@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

// Link
@sapUiLink: #0000FF;
@sapUiLinkInverted: @sapUiLink;
@sapUiLinkVisited: #800080;               // the color for a vistited link
@sapUiLinkActive: #FF0000;                // the color for a link while being clicked
@sapUiLinkHover: #FF0000;                 // the color for a link while being hovered

// Semantic Text Colors
@sapUiNegativeText: red;
@sapUiPositiveText: #B5E7A8;

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff
@sapUiExtraLightBorder: lightgrey;
@sapUiLightBorder: grey;
@sapUiMediumBorder: @sapUiBaseBorder;
@sapUiDarkBorder: @sapUiBaseBorder;
@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);	// #000000

// Semantic Border Colors
@sapUiErrorBorder: red;
@sapUiWarningBorder: yellow;

// Line Colors
@sapUiLightLine: lightgrey;
@sapUiMediumLine: grey;
@sapUiEmphasizedLine: @sapUiHighlight;
@sapUiDarkLine: darkgrey;

// Table Colors
@sapUiTableRowBG: @sapUiWhite;
@sapUiTableRowAlternatingBG: @sapUiWhite;
@sapUiTableRowSelectionBG: @sapUiHighlight;
@sapUiTableRowSelectionReadOnlyBG: @sapUiHighlight;
@sapUiTableRowHoverBG: @sapUiHoverBG;

// MOBILE-specific, but still very global-like:
@sapUiListBG: #f7f7f7;


/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
@sapUiTextColor: green; /* may be required by SubstitutionRulesManager.css in inbox lib */
@sapUiTextTitleColor: green;
@sapUiTextSelectionColor: green;

/* ---------------------------------------------------------------------------------------- */

@sapUiTextDisabled: lighten(@sapUiText, 60%); // the color for disabled text
@sapUiTextTitle: @sapUiBaseText;  // the text color for titles of all kinds
@sapUiTextSelection: @sapUiTextInverted; // the color for selected text
@sapUiTextfieldBackground: @sapUiWhite; // better to have an own parameter insted of using sapUiWhite

@sapUiLineHeight: 21px;

@sapUiFontFamily: Arial,Helvetica,sans-serif;  // the default font
@sapUiFontMonospaceFamily: Lucida Console;     // the default monospacefont
@sapUiFontSize: medium;                        // the default font size
@sapUiFontLargeSize: large;                    // TODO: might also be title font size
@sapUiFontSmallSize: small;
@sapUiFontHeader1Size: xx-large;
@sapUiFontHeader2Size: x-large;
@sapUiFontHeader3Size: @sapUiFontLargeSize;
@sapUiFontHeader4Size: @sapUiFontSize;
@sapUiFontHeader5Size: @sapUiFontSize;
@sapUiFontHeader6Size: @sapUiFontSize;


// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiBaseText;
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
@sapUiUx3ShellSideBarBaseWidth:       40px;
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
@sapUiUx3ShellPaneOverflowButtonHeight: 120px;

@sapUiUx3ExactLstExpandOffset: 0 0;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstCollapseWidth: 24px;
@sapUiUx3ExactLstHeaderHeight: 25px;
@sapUiUx3ExactLstContentTop: @sapUiUx3ExactLstHeaderHeight;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiText, @sapUiTextInverted);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiText,33), darken(@sapUiTextInverted,33));
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"true"; /* Telling the ToolPopup if it's inverted per default */
@sapUiUx3ToolPopupArrowWidth: 13px;
@sapUiUx3ToolPopupArrowHeight: 20px;
@sapUiUx3ToolPopupArrowRightMarginCorrection: -2px;
@sapUiUx3ToolPopupArrowRightMarginCorrectionInverted: -7px;
@sapUiUx3TPPaddingBottom: 50px;


// @sapUiButtonBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
// @sapUiButtonBackground: @sapUiButtonStandardBG; // to be renamed????
// @sapUiButtonDisabledBorderColor: @sapUiMediumBorder; // needed because different in GR, HCB and UX
@sapUiButtonDisabledBackground: @sapUiExtraLightBG; // needed, different in every theme
// @sapUiButtonHoverBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonHoverBackground: @sapUiMediumBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonActiveBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonActiveBackground: @sapUiDarkBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonEmphasizedBorderColor: @sapUiButtonBorderColor;
@sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBG;
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonEmphasizedBorderColor;
@sapUiButtonEmphasizedDisabledBackground: @sapUiButtonEmphasizedBackground;
@sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonEmphasizedHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonAcceptBorderColor: @sapUiButtonBorderColor;
@sapUiButtonAcceptBackground: @sapUiButtonPositiveBG;
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptDisabledBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonAcceptActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonRejectBorderColor: @sapUiButtonBorderColor;
@sapUiButtonRejectBackground: @sapUiButtonNegativeBG;
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectDisabledBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonRejectActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiToggleButtonPressedDisabledBackground: #D8D8E8;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;

// semantic colors
@sapUiPositiveBG: @sapUiPositiveText; // no positive background defined by UX, but using text color as background may be confusing

// default shadow for popups 
@sapUiShadowTint: #000;
@sapUiShadow: 5px 5px 10px fade(@sapUiShadowTint,50%);
/* Global CSS for 'sap_goldreflection' theme */



// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiHighlightTextColor: @sapHighlightTextColor;

@sapUiContentLabelColor: @sapContent_LabelColor;
@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundColor: @sapContent_ForegroundColor;
@sapUiContentForegroundBorderColor: @sapContent_ForegroundBorderColor;
@sapUiContentForegroundTextColor: @sapContent_ForegroundTextColor;

@sapUiShellBackground: @sapShell_Background;
@sapUiShellBorderColor: @sapShell_BorderColor;
@sapUiShellTextColor: @sapShell_TextColor;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
@sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
@sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
@sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: @sapButton_Reject_Background;
@sapUiButtonAcceptBackground: @sapButton_Accept_Background;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: @sapField_BorderColor;
@sapUiFieldHelpBackground: @sapField_HelpBackground;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Focus_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Focus_HelpBackground;
@sapUiFieldReadOnlyBackground: @sapField_ReadOnly_Background;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: @sapField_ReadOnly_HelpBackground;
@sapUiFieldDisabledBackground: @sapField_Disabled_Background;
@sapUiFieldDisabledBorderColor: @sapField_Disabled_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Disabled_HelpBackground;
@sapUiFieldRequiredColor: @sapField_RequiredColor;
@sapUiFieldInvalidColor: @sapField_InvalidColor;
@sapUiFieldInvalidBackground: @sapField_InvalidBackground;
@sapUiFieldWarningColor: @sapField_WarningColor;
@sapUiFieldWarningBackground: @sapField_WarningBackground;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiGroupTitleBackground: @sapGroup_TitleBackground;
@sapUiGroupTitleBorderColor: @sapGroup_TitleBorderColor;
@sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;
@sapUiGroupContentBackground: @sapGroup_ContentBackground;
@sapUiGroupContentBorderColor: @sapGroup_ContentBorderColor;
@sapUiGroupFooterBackground: @sapGroup_FooterBackground;

@sapUiToolbarBackground: @sapToolbar_Background;
@sapUiToolbarSeparatorColor: @sapToolbar_SeparatorColor;

@sapUiListHeaderBackground: @sapList_HeaderBackground;
@sapUiListHeaderBorderColor: @sapList_HeaderBorderColor;
@sapUiListHeaderTextColor: @sapList_HeaderTextColor;
@sapUiListBorderColor: @sapList_BorderColor;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListSelectionBackgroundColor: @sapList_SelectionBackgroundColor;
@sapUiListHoverBackground: @sapList_Hover_Background;

@sapUiScrollBarFaceColor: @sapScrollBar_FaceColor;
@sapUiScrollBarTrackColor: @sapScrollBar_TrackColor;
@sapUiScrollBarBorderColor: @sapScrollBar_BorderColor;
@sapUiScrollBarSymbolColor: @sapScrollBar_SymbolColor;


// Brand Colors

@sapUiBrand: @sapBrandColor;                     // "Quick" default #F0AB00

@sapUiHighlight: @sapHighlightColor;             // "Quick" default #007DC0

@sapUiFocus: darken(@sapUiHighlight, 12%);       // #005483, rgb(0, 84, 131)

@sapUiUx3ShellHeaderColor: @sapShellColor;			// "Quick" default #000


// Accent Colors

@sapUiPurple: #AB218E;
@sapUiOrange: #F27020;
@sapUiGreen: #008A3B;
@sapUiBlue: #007CC0;
@sapUiRed: #E52929;
@sapUiYellow: #F0AB00;

@sapUiCritical: #d14900; //rgb(209, 73, 0)


// Base Colors

@sapUiBase: darken(@sapBaseColor,37);			// "Quick" default #7F7F7F

@sapUiBaseBG: darken(@sapBackgroundColor,45);			// "Quick" default #7F7F7F

@sapUiBaseBorder: hsl(hue(@sapUiBase), saturation(@sapUiBase), lightness(@sapUiBase));	// default: s:0%, l:50%

@sapUiBaseText: @sapTextColor;			// "Quick" default #000000

@sapUiBaseLine: hsl(hue(@sapUiBase), saturation(@sapUiBase), lightness(@sapUiBase));		// default: s:0%, l:50%


// Background Colors
// Grayscale Backgrounds

@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff

@sapUiExtraLightBG: lighten(@sapUiBaseBG, 45%);			// #f2f2f2, Canvas Background

@sapUiLightBG: lighten(@sapBaseColor, 3.2);			// #e5e5e5

@sapUiMediumBG: @sapBaseColor;			// "Quick" default #dddddd

@sapUiDarkBG: darken(@sapBaseColor, 46.7);			// #666666

@sapUiDeepBG: darken(@sapBaseColor, 69.5);			// #2c2c2c

@sapUiBlackBG: darken(@sapBaseColor, 100);			// #000000



// Tinted Backgrounds

@sapUiHoverBG: mix(@sapUiHighlight, @sapUiWhiteBG, 10.35%);

@sapUiMediumAltBG: spin(hsl(hue(@sapUiHighlight), 16%, 76%), 9);								// #b8c2cc, Scrollbar thumb

@sapUiDarkAltBG: spin(mix(@sapUiHighlight, darken(@sapUiDarkBG, 1.2%), 3%), 9);	// #606366;


// Button Background Colors

@sapUiButtonStandardBG: hsl(hue(@sapUiBase), 0%, 88.5%); // #e2e2e2;

@sapUiButtonEmphasizedBG: #FDC411;

@sapUiButtonNegativeBG: @sapUiRed;

@sapUiButtonPositiveBG: @sapUiGreen;


// Semantic Background Colors

@sapUiErrorBG: mix(@sapUiRed, @sapUiWhite, 15%);    // #fbdfdf

@sapUiWarningBG: #FFFCB5;

@sapUiPositiveBG: mix(@sapUiGreen, @sapUiWhite, 12%);   // #e0f1e7

@sapUiReadOnlyBG: #EAEDF0;


// Text Colors

@sapUiHighlightText: @sapHighlightTextColor;

@sapUiExtraLightText: lighten(@sapUiBaseText, 44%);		// #707070;

@sapUiLightText: lighten(@sapUiBaseText, 40%);		// #666666;

@sapUiMediumText: lighten(@sapUiBaseText, 26.5%);	// #444444;

@sapUiDarkText: lighten(@sapUiBaseText, 20%);			// #333333;

@sapUiDeepText: lighten(@sapUiBaseText, 13.4%);			// #222222;

@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

@sapUiTextSelection: @sapUiTextInverted;


// Link

@sapUiLink: @sapLinkColor;			// "Quick" default #00679e

@sapUiLinkInverted: lighten(@sapUiLink, 25%);			// #1fb1ff

@sapUiLinkVisited: @sapUiLink;

@sapUiLinkActive: @sapUiLink;

@sapUiLinkHover: @sapUiLink; // the color for a link while being hovered


// Semantic Text Colors

@sapUiNegativeText: darken(@sapUiRed, 8%);   // #cc1919

@sapUiPositiveText: darken(@sapUiGreen, 3.5%);   // #007833

@sapUiCriticalText: @sapUiCritical; // #d14900

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff

@sapUiExtraLightBorder: lighten(@sapUiBaseBorder, 39.7%);	// #e5e5e5

@sapUiLightBorder: lighten(@sapUiBaseBorder, 36.5%);		// #dddddd

@sapUiMediumBorder: lighten(@sapUiBaseBorder, 30%);			// #cccccc

@sapUiDarkBorder: lighten(@sapUiBaseBorder, 25%);			// #bfbfbf

@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);			// #000000


// Semantic Border Colors

@sapUiErrorBorder: darken(@sapUiRed, 8%);   // #cc1919;

@sapUiWarningBorder: #D99900;

@sapUiPositiveBorder: darken(@sapUiGreen, 3.5%);   // #007833


// Line Colors

@sapUiLightLine: lighten(@sapUiBaseLine, 30%);	// #cccccc

@sapUiMediumLine: lighten(@sapUiBaseLine, 10%);	// #999999

@sapUiEmphasizedLine: @sapUiHighlight;

@sapUiDarkLine: darken(@sapUiBaseLine, 30%);		// #333333


// Table Colors

@sapUiTableRowAlternatingBG: #eff7fb;

@sapUiTableRowSelectionBG: #d1e9f4;

@sapUiTableRowSelectionReadOnlyBG: #c9e1ed;


/* ---------------------------------------------------------------------------------------- */

@sapUiTextTitle: @sapTitleColor;			// was "Quick" default #333333

@sapUiBackgroundImage: @sapBackgroundImage;			// "Quick"

@sapUiFontFamily: Arial, Helvetica, sans-serif;

@sapUiFontSize: 12px;

@sapUiFontLargeSize: 13px;
@sapUiFontSmallSize: 11px;
@sapUiFontHeader1Size: 26px;
@sapUiFontHeader2Size: 20px;
@sapUiFontHeader3Size: 18px;
@sapUiFontHeader4Size: 16px;
@sapUiFontHeader5Size: 14px;
@sapUiFontHeader6Size: @sapUiFontLargeSize;

@sapUiLineHeight: 18px;

// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiDarkBG;
@sapUiUx3ShellGradientBottom: lighten(@sapUiUx3ShellHeaderColor, 17.3);			// #2c2c2c
@sapUiUx3ShellGradientTop: spin(mix(@sapUiHighlight, lighten(@sapUiUx3ShellGradientBottom, 22), 3%), 9);			// #606366

@sapUiUx3ExactLstExpandOffset: -1 -2;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstContentTop: 26px;

/* Crystal Blue value set by UX: */
@sapUiHeaderBGCrystal: #007cc0;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotficationTimestamp: darken(@sapUiBaseColor,20);
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

// @sapUiButtonBorderColor: darken(@sapUiButtonStandardBG, 25%);
// @sapUiButtonDisabledBorderColor: lighten(@sapUiButtonBorderColor, 11.2%); // #BFBFBF
// @sapUiButtonDisabledBackgroundColor: @sapUiButtonStandardBG;
// @sapUiButtonHoverBorderColor: darken(@sapUiHighlight, 7%); //#00689E
// @sapUiButtonHoverBackgroundColor: @sapUiHighlight;
@sapUiButtonActiveBorderColor: darken(darken(@sapBaseColor, 46.7), 20%); // #333333
@sapUiButtonActiveBackground: darken(@sapBaseColor, 46.7);
// @sapUiButtonEmphasizedBorderColor: darken(@sapUiButtonEmphasizedBackground, 25%);
@sapUiButtonEmphasizedHoverBorderColor: darken(@sapUiButtonEmphasizedBackground, 35%); // #444444
@sapUiButtonEmphasizedHoverBackground: lighten(@sapUiButtonEmphasizedBackground, 7%);
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
@sapUiButtonEmphasizedActiveBackground: darken(@sapUiButtonEmphasizedBackground, 7%); //#EFAB00
@sapUiButtonAcceptBorderColor: darken(@sapUiButtonAcceptBackground, 10%); //#196600
@sapUiButtonAcceptHoverBorderColor: darken(@sapUiButtonAcceptBackground, 35%); //#104000
@sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptHoverBorderColor;
@sapUiButtonAcceptActiveBackground: darken(@sapUiButtonAcceptBackground, 5%); //#1D7300
@sapUiButtonRejectBorderColor: darken(@sapUiButtonRejectBackground, 10%); //#A60000
@sapUiButtonRejectHoverBorderColor: darken(@sapUiButtonRejectBackground, 35%); // #550000
@sapUiButtonRejectHoverBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectHoverBorderColor;
@sapUiButtonRejectActiveBackground: darken(@sapUiButtonRejectBackground, 5%); // #B20000
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiButtonLiteTextColor: darken(@sapUiHighlight, 7%); //#00689E
@sapUiToggleButtonHoverBorderColor: @sapUiHighlight;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;
@sapUiToggleButtonPressedDisabledBackground: lighten(desaturate(@sapUiHighlight, 80%),46%); // #CDD6DB
@sapUiToggleButtonPressedBorderColor: @sapUiButtonHoverBorderColor;
@sapUiToggleButtonPressedHoverBackground: darken(@sapUiHighlight, 7%); // #0078BB
@sapUiToggleButtonPressedHoverBorderColor: darken(@sapUiHighlight, 7%); // #0078BB

@sapUiCalendarColorToday: #ffc51c;

// semantic colors
// avoid changing the color hue in specific themes - slight adaptations are fine, though
@sapUiPositiveBG: lighten(desaturate(@sapUiPositiveText, 50%), 60%); // #BAEE9A no positive background defined by UX

// shadow for popups
@sapUiShadow: 0px 4px 17px rgba(0, 0, 0, 0.4);

//images for shell

@sapUiUx3ShellBackgroundImageURL: @sapBackgroundImage;			// "Quick"

@sapUiUx3ShellHeaderImageURL: ~"";

@sapUiUx3ShellApplicationImageURL: @sapCompanyLogo;			// "Quick"
/* ============================================ */
/* CSS for control sap.ui.layout/Form.control   */
/* ============================================ */

/* =============================================== */
/* CSS for control sap.ui.layout/form/Form.control */
/* Goldreflection                                  */
/* =============================================== */

@sapUiFormContainerExpImageURL: ~"/img/form/Maximize.png";
@sapUiFormContainerExpImageDownURL: ~"/img/form/Maximize_hover.png";
@sapUiFormContainerColImageURL: ~"/img/form/Minimize.png";
@sapUiFormContainerColImageDownURL: ~"/img/form/Minimize_hover.png";

.sapUiForm .sapUiFormTitle > button{
	height: 16px;
	width: 16px;
	padding-left: 0;
	padding-right:0;
}

html[data-sap-ui-browser="ie8"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite{
	padding-top: 1px;
}

html[data-sap-ui-browser="ie9"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite > img{
	margin-top: -2px;
}

html[data-sap-ui-browser^="ie"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite.sapUiBtnAct{
	padding-left: 0;
	padding-right:0px;
	padding-top: 0px;
}

html[data-sap-ui-browser^="ie"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite.sapUiBtnAct > img{
	margin-left: -1px;
	margin-top: -3px;
}

html[data-sap-ui-browser="ie9"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite.sapUiBtnAct > img{
	margin-left: -2px;
}
/* ================================================ */
/* CSS for control sap.ui.layout/FormLayout.control */
/* ================================================ */

@sapUiFormTitleSize: ~"H3";
@sapUiFormSubTitleSize: ~"H4";

.sapUiFormLayout{
	border: 1px solid @sapUiMediumBorder;
}

.sapUiFormTitle{
	margin: 0;
}

.sapUiFormLayout > .sapUiFormContainer{
	display: block;
}

.sapUiFormTitle{
	border-bottom: 2px solid @sapUiMediumBorder;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	font-weight: bold;
	color: @sapUiTextTitle;
}

.sapUiFormTitle.sapUiFormTitleEmph{
	border-color: @sapUiHighlight;
}

/* Title levels - can not use TextView CSS from commons, because also used in mobile */
.sapUiFormTitleH1 {
	font-size: @sapUiFontHeader1Size;
	line-height: 122%;
}

.sapUiFormTitleH2 {
	font-size: @sapUiFontHeader2Size;
	line-height: 122%;
}

.sapUiFormTitleH3 {
	font-size: @sapUiFontHeader3Size;
	line-height: 122%;
}

.sapUiFormTitleH4 {
	font-size: @sapUiFontHeader4Size;
}

.sapUiFormTitleH5 {
	font-size: @sapUiFontHeader5Size;
}

.sapUiFormTitleH6 {
	font-size: @sapUiFontHeader6Size;
	color: @sapUiTextTitle;
}
/* UI5 RESPONSIVE GRID */


div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridSpan"] {
    float: left;
    overflow: hidden;
}

/* CLEAR FIX */

div[class*="sapUiRespGrid"]:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

/* GRID HORIZONTAL SPACING - 1rem */
.sapUiRespGrid.sapUiRespGridHSpace1 { 
    padding: 0 0.5rem;
}

.sapUiRespGrid.sapUiRespGridHSpace1 > div {
    margin: 0 0.5rem;
}

/* GRID HORIZONTAL SPACING - 2rem */

.sapUiRespGrid.sapUiRespGridHSpace2 {
    padding: 0 1rem;
}

.sapUiRespGrid.sapUiRespGridHSpace2 > div {
    margin: 0 1rem;
}

/* GRID VERTICAL SPACING - general */

.sapUiRespGrid.sapUiRespGridVSpace0 > div {
    margin-bottom: 0;
}

.sapUiRespGrid.sapUiRespGridVSpace1 > div {
    margin-bottom: 1rem;
}

.sapUiRespGrid.sapUiRespGridVSpace2 > div {
    margin-bottom: 2rem;
}

/* GENERAL BREAK */

.sapUiRespGridBreak { clear: both }



/* =============================== */
/*   S M A L L   C O N T E X T S   */
/* =============================== */
    
/* SPANS for SMALL contexts with 0 gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS1 {
	width: 8.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS2 {
    width: 16.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS3 {
    width: 25%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS4 {
    width: 33.333%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS5 {
    width: 41.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS6 {
    width: 50%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS7 {
    width: 58.333%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS8 {
    width: 66.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS9 {
    width: 75%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS10 {
    width: 83.333%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS11 {
    width: 91.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS12 {
    width: 100%
}

/* SPANS for SMALL contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS1 {
    width: 3.333%;
    width: ~"-webkit-calc(8.333% - 1rem)";
    width: ~"calc(8.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS2 {
    width: 11.666%;
    width: ~"-webkit-calc(16.666% - 1rem)";
    width: ~"calc(16.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS3 {
    width: 20%;
    width: ~"-webkit-calc(25% - 1rem)";
    width: ~"calc(25% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS4 {
    width: 28.333%;
    width: ~"-webkit-calc(33.333% - 1rem)";
    width: ~"calc(33.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS5 {
    width: 36.666%;
    width: ~"-webkit-calc(41.666% - 1rem)";
    width: ~"calc(41.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS6 {
    width: 45%;
    width: ~"-webkit-calc(50% - 1rem)";
    width: ~"calc(50% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS7 {
    width: 53.333%;
    width: ~"-webkit-calc(58.333% - 1rem)";
    width: ~"calc(58.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS8 {
    width: 61.666%;
    width: ~"-webkit-calc(66.666% - 1rem)";
    width: ~"calc(66.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS9 {
    width: 70%;
    width: ~"-webkit-calc(75% - 1rem)";
    width: ~"calc(75% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS10 {
    width: 78.333%;
    width: ~"-webkit-calc(83.333% - 1rem)";
    width: ~"calc(83.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS11 {
    width: 86.666%;
    width: ~"-webkit-calc(91.666% - 1rem)";
    width: ~"calc(91.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS12 {
    width: 95%;
    width: ~"-webkit-calc(100% - 1rem)";
    width: ~"calc(100% - 1rem)";
}

/* SPANS for SMALL contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS1 {
    width: 0%;
    width: ~"-webkit-calc(8.333% - 2rem)";
    width: ~"calc(8.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS2 {
    width: 6.666%;
    width: ~"-webkit-calc(16.666% - 2rem)";
    width: ~"calc(16.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS3 {
    width: 15%;
    width: ~"-webkit-calc(25% - 2rem)";
    width: ~"calc(25% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS4 {
    width: 23.333%;
    width: ~"-webkit-calc(33.333% - 2rem)";
    width: ~"calc(33.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS5 {
    width: 31.666%;
    width: ~"-webkit-calc(41.666% - 2rem)";
    width: ~"calc(41.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS6 {
    width: 40%;
    width: ~"-webkit-calc(50% - 2rem)";
    width: ~"calc(50% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS7 {
    width: 48.333%;
    width: ~"-webkit-calc(58.333% - 2rem)";
    width: ~"calc(58.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS8 {
    width: 56.666%;
    width: ~"-webkit-calc(66.666% - 2rem)";
    width: ~"calc(66.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS9 {
    width: 65%;
    width: ~"-webkit-calc(75% - 2rem)";
    width: ~"calc(75% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS10 {
    width: 73.333%;
    width: ~"-webkit-calc(83.333% - 2rem)";
    width: ~"calc(83.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS11 {
    width: 81.666%;
    width: ~"-webkit-calc(91.666% - 2rem)";
    width: ~"calc(91.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS12 {
    width: 90%;
    width: ~"-webkit-calc(100% - 2rem)";
    width: ~"calc(100% - 2rem)";
}

/* INDENTS for SMALL contexts with 0rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS1 {
    margin-left: 8.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS2 {
    margin-left: 16.666%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS3 {
    margin-left: 25%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS4 {
    margin-left: 33.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS5 {
    margin-left: 41.666%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS6 {
    margin-left: 50%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS7 {
    margin-left: 58.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS8 {
    margin-left: 66.666%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS9 {
    margin-left: 75%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS10 {
    margin-left: 83.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS11 {
    margin-left: 91.666%;
}

/* INDENTS for SMALL contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS1 {
    margin-left: 10.833%;
    margin-left: ~"-webkit-calc(8.333% + 0.5rem)";
    margin-left: ~"calc(8.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS2 {
    margin-left: 19.166%;
    margin-left: ~"-webkit-calc(16.666% + 0.5rem)";
    margin-left: ~"calc(16.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS3 {
    margin-left: 27.5%;
    margin-left: ~"-webkit-calc(25% + 0.5rem)";
    margin-left: ~"calc(25% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS4 {
    margin-left: 35.833%;
    margin-left: ~"-webkit-calc(33.333% + 0.5rem)";
    margin-left: ~"calc(33.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS5 {
    margin-left: 44.166%;
    margin-left: ~"-webkit-calc(41.666% + 0.5rem)";
    margin-left: ~"calc(41.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS6 {
    margin-left: 52.5%;
    margin-left: ~"-webkit-calc(50% + 0.5rem)";
    margin-left: ~"calc(50% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS7 {
    margin-left: 60.833%;
    margin-left: ~"-webkit-calc(58.333% + 0.5rem)";
    margin-left: ~"calc(58.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS8 {
    margin-left: 69.166%;
    margin-left: ~"-webkit-calc(66.666% + 0.5rem)";
    margin-left: ~"calc(66.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS9 {
    margin-left: 77.5%;
    margin-left: ~"-webkit-calc(75% + 0.5rem)";
    margin-left: ~"calc(75% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS10 {
    margin-left: 85.833%;
    margin-left: ~"-webkit-calc(83.333% + 0.5rem)";
    margin-left: ~"calc(83.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS11 {
    margin-left: 94.166%;
    margin-left: ~"-webkit-calc(91.666% + 0.5rem)";
    margin-left: ~"calc(91.666% + 0.5rem)";
}

/* INDENTS for SMALL contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS1 {
    margin-left: 13.333%;
    margin-left: ~"-webkit-calc(8.333% + 1rem)";
    margin-left: ~"calc(8.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS2 {
    margin-left: 21.666%;
    margin-left: ~"-webkit-calc(16.666% + 1rem)";
    margin-left: ~"calc(16.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS3 {
    margin-left: 30%;
    margin-left: ~"-webkit-calc(25% + 1rem)";
    margin-left: ~"calc(25% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS4 {
    margin-left: 38.333%;
    margin-left: ~"-webkit-calc(33.333% + 1rem)";
    margin-left: ~"calc(33.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS5 {
    margin-left: 46.666%;
    margin-left: ~"-webkit-calc(41.666% + 1rem)";
    margin-left: ~"calc(41.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS6 {
    margin-left: 55%;
    margin-left: ~"-webkit-calc(50% + 1rem)";
    margin-left: ~"calc(50% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS7 {
    margin-left: 63.333%;
    margin-left: ~"-webkit-calc(58.333% + 1rem)";
    margin-left: ~"calc(58.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS8 {
    margin-left: 71.666%;
    margin-left: ~"-webkit-calc(66.666% + 1rem)";
    margin-left: ~"calc(66.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS9 {
    margin-left: 80%;
    margin-left: ~"-webkit-calc(75% + 1rem)";
    margin-left: ~"calc(75% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS10 {
    margin-left: 88.333%;
    margin-left: ~"-webkit-calc(83.333% + 1rem)";
    margin-left: ~"calc(83.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS11 {
    margin-left: 96.666%;
    margin-left: ~"-webkit-calc(91.666% + 1rem)";
    margin-left: ~"calc(91.666% + 1rem)";
}

/* MOVE LEFT for SMALL contexts */

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS1 { left: 8.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS2{ left: 16.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS3 { left: 25%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS4 { left: 33.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS5 { left: 41.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS6 { left: 50%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS7 { left: 58.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS { left: 66.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS9 { left: 75%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS10 { left: 83.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS11 { left: 91.666%; }


/* MOVE RIGHT for SMALL contexts */

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS1 { right: 8.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS2 { right: 16.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS3 { right: 25%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS4 { right: 33.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS5 { right: 41.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS6 { right: 50%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS7 { right: 58.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS8 { right: 66.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS9 { right: 75%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS10 { right: 83.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS11 { right: 91.666%; }



/* SHOW and HIDE for LARGE contexts */

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleL { display: none }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleM { display: none }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleS { display: block }



.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenL { display: block }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenM { display: block }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenS { display: none }


/* BREAK for SMALL contexts */
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBreakS { clear: both }



/* =============================== */
/*   M E D I U M   D E V I C E S   */
/* =============================== */

/* SPANS for MEDIUM contexts with 0 gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM1 {
    width: 8.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM2 {
    width: 16.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM3 {
    width: 25%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM4 {
    width: 33.333%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM5 {
    width: 41.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM6 {
    width: 50%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM7 {
    width: 58.333%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM8 {
    width: 66.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM9 {
    width: 75%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM10 {
    width: 83.333%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM11 {
    width: 91.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM12 {
    width: 100%
}

/* SPAN for MEDIUM contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM1 {
    width: 5.666%;
    width: ~"-webkit-calc(8.333% - 1rem)";
    width: ~"calc(8.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM2 {
    width: 13.999%;
    width: ~"-webkit-calc(16.666% - 1rem)";
    width: ~"calc(16.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM3 {
    width: 22.333%;
    width: ~"-webkit-calc(25% - 1rem)";
    width: ~"calc(25% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM4 {
    width: 30.666%;
    width: ~"-webkit-calc(33.333% - 1rem)";
    width: ~"calc(33.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM5 {
    width: 38.999%;
    width: ~"-webkit-calc(41.666% - 1rem)";
    width: ~"calc(41.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM6 {
    width: 47.333%;
    width: ~"-webkit-calc(50% - 1rem)";
    width: ~"calc(50% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM7 {
    width: 55.666%;
    width: ~"-webkit-calc(58.333% - 1rem)";
    width: ~"calc(58.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM8 {
    width: 63.999%;
    width: ~"-webkit-calc(66.666% - 1rem)";
    width: ~"calc(66.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM9 {
    width: 72.333%;
    width: ~"-webkit-calc(75% - 1rem)";
    width: ~"calc(75% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM10 {
    width: 80.666%;
    width: ~"-webkit-calc(83.333% - 1rem)";
    width: ~"calc(83.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM11 {
    width: 88.999%;
    width: ~"-webkit-calc(91.666% - 1rem)";
    width: ~"calc(91.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM12 {
    width: 97.333%;
    width: ~"-webkit-calc(100% - 1rem)";
    width: ~"calc(100% - 1rem)";
}

/* SPAN for MEDIUM contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM1 {
    width: 3%;
    width: ~"-webkit-calc(8.333% - 2rem)";
    width: ~"calc(8.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM2 {
    width: 11.333%;
    width: ~"-webkit-calc(16.666% - 2rem)";
    width: ~"calc(16.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM3 {
    width: 19.667%;
    width: ~"-webkit-calc(25% - 2rem)";
    width: ~"calc(25% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM4 {
    width: 28%;
    width: ~"-webkit-calc(33.333% - 2rem)";
    width: ~"calc(33.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM5 {
    width: 36.333%;
    width: ~"-webkit-calc(41.666% - 2rem)";
    width: ~"calc(41.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM6 {
    width: 44.667%;
    width: ~"-webkit-calc(50% - 2rem)";
    width: ~"calc(50% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM7 {
    width: 53%;
    width: ~"-webkit-calc(58.333% - 2rem)";
    width: ~"calc(58.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM8 {
    width: 61.333%;
    width: ~"-webkit-calc(66.666% - 2rem)";
    width: ~"calc(66.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM9 {
    width: 69.667%;
    width: ~"-webkit-calc(75% - 2rem)";
    width: ~"calc(75% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM10 {
    width: 78%;
    width: ~"-webkit-calc(83.333% - 2rem)";
    width: ~"calc(83.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM11 {
    width: 86.333%;
    width: ~"-webkit-calc(91.666% - 2rem)";
    width: ~"calc(91.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM12 {
    width: 94.667%;
    width: ~"-webkit-calc(100% - 2rem)";
    width: ~"calc(100% - 2rem)";
}

/* INDENTS for MEDIUM contexts with 0rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM1 {
    margin-left: 8.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM2 {
    margin-left: 16.666%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM3 {
    margin-left: 25%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM4 {
    margin-left: 33.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM5 {
    margin-left: 41.666%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM6 {
    margin-left: 50%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM7 {
    margin-left: 58.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM8 {
    margin-left: 66.666%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM9 {
    margin-left: 75%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM10 {
    margin-left: 83.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM11 {
    margin-left: 91.666%;
}

/* INDENTS for MEDIUM contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM1 {
    margin-left: 9.666%;
    margin-left: ~"-webkit-calc(8.333% + 0.5rem)";
    margin-left: ~"calc(8.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM2 {
    margin-left: 17.999%;
    margin-left: ~"-webkit-calc(16.666% + 0.5rem)";
    margin-left: ~"calc(16.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM3 {
    margin-left: 26.333%;
    margin-left: ~"-webkit-calc(25% + 0.5rem)";
    margin-left: ~"calc(25% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM4 {
    margin-left: 34.666%;
    margin-left: ~"-webkit-calc(33.333% + 0.5rem)";
    margin-left: ~"calc(33.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM5 {
    margin-left: 42.999%;
    margin-left: ~"-webkit-calc(41.666% + 0.5rem)";
    margin-left: ~"calc(41.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM6 {
    margin-left: 51.333%;
    margin-left: ~"-webkit-calc(50% + 0.5rem)";
    margin-left: ~"calc(50% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM7 {
    margin-left: 59.666%;
    margin-left: ~"-webkit-calc(58.333% + 0.5rem)";
    margin-left: ~"calc(58.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM8 {
    margin-left: 67.999%;
    margin-left: ~"-webkit-calc(66.666% + 0.5rem)";
    margin-left: ~"calc(66.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM9 {
    margin-left: 76.333%;
    margin-left: ~"-webkit-calc(75% + 0.5rem)";
    margin-left: ~"calc(75% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM10 {
    margin-left: 84.666%;
    margin-left: ~"-webkit-calc(83.333% + 0.5rem)";
    margin-left: ~"calc(83.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM11 {
    margin-left: 92.999%;
    margin-left: ~"-webkit-calc(91.666% + 0.5rem)";
    margin-left: ~"calc(91.666% + 0.5rem)";
}

/* INDENTS for MEDIUM contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM1 {
    margin-left: 11%;
    margin-left: ~"-webkit-calc(8.333% + 1rem)";
    margin-left: ~"calc(8.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM2 {
    margin-left: 19.333%;
    margin-left: ~"-webkit-calc(16.666% + 1rem)";
    margin-left: ~"calc(16.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM3 {
    margin-left: 27.667%;
    margin-left: ~"-webkit-calc(25% + 1rem)";
    margin-left: ~"calc(25% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM4 {
    margin-left: 36%;
    margin-left: ~"-webkit-calc(33.333% + 1rem)";
    margin-left: ~"calc(33.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM5 {
    margin-left: 44.333%;
    margin-left: ~"-webkit-calc(41.666% + 1rem)";
    margin-left: ~"calc(41.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM6 {
    margin-left: 52.667%;
    margin-left: ~"-webkit-calc(50% + 1rem)";
    margin-left: ~"calc(50% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM7 {
    margin-left: 61%;
    margin-left: ~"-webkit-calc(58.333% + 1rem)";
    margin-left: ~"calc(58.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM8 {
    margin-left: 69.333%;
    margin-left: ~"-webkit-calc(66.666% + 1rem)";
    margin-left: ~"calc(66.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM9 {
    margin-left: 77.667%;
    margin-left: ~"-webkit-calc(75% + 1rem)";
    margin-left: ~"calc(75% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM10 {
    margin-left: 86%;
    margin-left: ~"-webkit-calc(83.333% + 1rem)";
    margin-left: ~"calc(83.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM11 {
    margin-left: 94.333%;
    margin-left: ~"-webkit-calc(91.666% + 1rem)";
    margin-left: ~"calc(91.666% + 1rem)";
}

/* MOVE LEFT for MEDIUM contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM1 { left: 8.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM2 { left: 16.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM3 { left: 25%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM4 { left: 33.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM5 { left: 41.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM6 { left: 50%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM7 { left: 58.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM8 { left: 66.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM9 { left: 75%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM10 { left: 83.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM11 { left: 91.666%; }


/* MOVE RIGHT for MEDIUM contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM1 { right: 8.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM2 { right: 16.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM3 { right: 25%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM4 { right: 33.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM5 { right: 41.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM6 { right: 50%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM7 { right: 58.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM8 { right: 66.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM9 { right: 75%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM10 { right: 83.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM11 { right: 91.666%; }



/* SHOW and HIDE for LARGE contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleL { display: none }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleM { display: block }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleS { display: none }


.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenL { display: block }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenM { display: none }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenS { display: block }


/* BREAK for MEDIUM contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBreakM { clear: both }



/* ============================= */
/*   L A R G E   D E V I C E S   */
/* ============================= */

/* SPANS for LARGE contexts with 0 gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL1 {
    width: 8.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL2 {
    width: 16.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL3 {
    width: 25%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL4 {
    width: 33.333%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL5 {
    width: 41.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL6 {
    width: 50%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL7 {
    width: 58.333%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL8 {
    width: 66.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL9 {
    width: 75%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL10 {
    width: 83.333%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL11 {
    width: 91.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL12 {
    width: 100%
}

/* SPANS for LARGE contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL1 {
    width: 6.7705%;
    width: ~"-webkit-calc(8.333% - 1rem)";
    width: ~"calc(8.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL2 {
    width: 15.1035%;
    width: ~"-webkit-calc(16.666% - 1rem)";
    width: ~"calc(16.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL3 {
    width: 23.4375%;
    width: ~"-webkit-calc(25% - 1rem)";
    width: ~"calc(25% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL4 {
    width: 31.7705%;
    width: ~"-webkit-calc(33.333% - 1rem)";
    width: ~"calc(33.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL5 {
    width: 40.1035%;
    width: ~"-webkit-calc(41.666% - 1rem)";
    width: ~"calc(41.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL6 {
    width: 48.4375%;
    width: ~"-webkit-calc(50% - 1rem)";
    width: ~"calc(50% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL7 {
    width: 56.7705%;
    width: ~"-webkit-calc(58.333% - 1rem)";
    width: ~"calc(58.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL8 {
    width: 65.1035%;
    width: ~"-webkit-calc(66.666% - 1rem)";
    width: ~"calc(66.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL9 {
    width: 73.4375%;
    width: ~"-webkit-calc(75% - 1rem)";
    width: ~"calc(75% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL10 {
    width: 81.7705%;
    width: ~"-webkit-calc(83.333% - 1rem)";
    width: ~"calc(83.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL11 {
    width: 90.1035%;
    width: ~"-webkit-calc(91.666% - 1rem)";
    width: ~"calc(91.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL12 {
    width: 98.4375%;
    width: ~"-webkit-calc(100% - 1rem)";
    width: ~"calc(100% - 1rem)";
}

/* SPANS for LARGE contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL1 {
    width: 5.208%;
    width: ~"-webkit-calc(8.333% - 2rem)";
    width: ~"calc(8.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL2 {
    width: 13.541%;
    width: ~"-webkit-calc(16.666% - 2rem)";
    width: ~"calc(16.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL3 {
    width: 21.875%;
    width: ~"-webkit-calc(25% - 2rem)";
    width: ~"calc(25% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL4 {
    width: 30.208%;
    width: ~"-webkit-calc(33.333% - 2rem)";
    width: ~"calc(33.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL5 {
    width: 38.541%;
    width: ~"-webkit-calc(41.666% - 2rem)";
    width: ~"calc(41.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL6 {
    width: 46.875%;
    width: ~"-webkit-calc(50% - 2rem)";
    width: ~"calc(50% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL7 {
    width: 55.208%;
    width: ~"-webkit-calc(58.333% - 2rem)";
    width: ~"calc(58.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL8 {
    width: 63.541%;
    width: ~"-webkit-calc(66.666% - 2rem)";
    width: ~"calc(66.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL9 {
    width: 71.875%;
    width: ~"-webkit-calc(75% - 2rem)";
    width: ~"calc(75% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL10 {
    width: 80.208%;
    width: ~"-webkit-calc(83.333% - 2rem)";
    width: ~"calc(83.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL11 {
    width: 88.541%;
    width: ~"-webkit-calc(91.666% - 2rem)";
    width: ~"calc(91.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL12 {
    width: 96.875%;
    width: ~"-webkit-calc(100% - 2rem)";
    width: ~"calc(100% - 2rem)";
}

/* INDENTS for LARGE contexts with 0rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL1 {
    margin-left: 8.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL2 {
    margin-left: 16.666%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL3 {
    margin-left: 25%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL4 {
    margin-left: 33.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL5 {
    margin-left: 41.666%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL6 {
    margin-left: 50%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL7 {
    margin-left: 58.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL8 {
    margin-left: 66.666%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL9 {
    margin-left: 75%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL10 {
    margin-left: 83.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL11 {
    margin-left: 91.666%;
}

/* INDENTS for LARGE contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL1 {
    margin-left: 9.11425%;
    margin-left: ~"-webkit-calc(8.333% + 0.5rem)";
    margin-left: ~"calc(8.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL2 {
    margin-left: 17.44725%;
    margin-left: ~"-webkit-calc(16.666% + 0.5rem)";
    margin-left: ~"calc(16.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL3 {
    margin-left: 25.78125%;
    margin-left: ~"-webkit-calc(25% + 0.5rem)";
    margin-left: ~"calc(25% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL4 {
    margin-left: 34.11425%;
    margin-left: ~"-webkit-calc(33.333% + 0.5rem)";
    margin-left: ~"calc(33.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL5 {
    margin-left: 42.44725%;
    margin-left: ~"-webkit-calc(41.666% + 0.5rem)";
    margin-left: ~"calc(41.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL6 {
    margin-left: 50.78125%;
    margin-left: ~"-webkit-calc(50% + 0.5rem)";
    margin-left: ~"calc(50% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL7 {
    margin-left: 59.11425%;
    margin-left: ~"-webkit-calc(58.333% + 0.5rem)";
    margin-left: ~"calc(58.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL8 {
    margin-left: 67.44725%;
    margin-left: ~"-webkit-calc(66.666% + 0.5rem)";
    margin-left: ~"calc(66.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL9 {
    margin-left: 75.78125%;
    margin-left: ~"-webkit-calc(75% + 0.5rem)";
    margin-left: ~"calc(75% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL10 {
    margin-left: 84.11425%;
    margin-left: ~"-webkit-calc(83.333% + 0.5rem)";
    margin-left: ~"calc(83.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL11 {
    margin-left: 92.44725%;
    margin-left: ~"-webkit-calc(91.666% + 0.5rem)";
    margin-left: ~"calc(91.666% + 0.5rem)";
}

/* INDENTS for LARGE contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL1 {
    margin-left: 9.8955%;
    margin-left: ~"-webkit-calc(8.333% + 1rem)";
    margin-left: ~"calc(8.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL2 {
    margin-left: 18.2285%;
    margin-left: ~"-webkit-calc(16.666% + 1rem)";
    margin-left: ~"calc(16.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL3 {
    margin-left: 26.5625%;
    margin-left: ~"-webkit-calc(25% + 1rem)";
    margin-left: ~"calc(25% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL4 {
    margin-left: 34.8955%;
    margin-left: ~"-webkit-calc(33.333% + 1rem)";
    margin-left: ~"calc(33.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL5 {
    margin-left: 43.2285%;
    margin-left: ~"-webkit-calc(41.666% + 1rem)";
    margin-left: ~"calc(41.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL6 {
    margin-left: 51.5625%;
    margin-left: ~"-webkit-calc(50% + 1rem)";
    margin-left: ~"calc(50% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL7 {
    margin-left: 59.8955%;
    margin-left: ~"-webkit-calc(58.333% + 1rem)";
    margin-left: ~"calc(58.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL8 {
    margin-left: 68.2285%;
    margin-left: ~"-webkit-calc(66.666% + 1rem)";
    margin-left: ~"calc(66.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL9 {
    margin-left: 76.5625%;
    margin-left: ~"-webkit-calc(75% + 1rem)";
    margin-left: ~"calc(75% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL10 {
    margin-left: 84.8955%;
    margin-left: ~"-webkit-calc(83.333% + 1rem)";
    margin-left: ~"calc(83.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL11 {
    margin-left: 93.2285%;
    margin-left: ~"-webkit-calc(91.666% + 1rem)";
    margin-left: ~"calc(91.666% + 1rem)";
}

/* MOVE LEFT for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL1 { left: 8.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL2 { left: 16.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL3 { left: 25%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL4 { left: 33.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL5 { left: 41.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL6 { left: 50%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL7 { left: 58.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL8 { left: 66.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL9 { left: 75%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL10 { left: 83.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL11 { left: 91.666%; }


/* MOVE RIGHT for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL1 { right: 8.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL2 { right: 16.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL3 { right: 25%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL4 { right: 33.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL5 { right: 41.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL6 { right: 50%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL7 { right: 58.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL8 { right: 66.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL9 { right: 75%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL10 { right: 83.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL11 { right: 91.666%; }



/* SHOW and HIDE for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleL { display: block }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleM { display: none }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleS { display: none }


.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenL { display: none }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenM { display: block }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenS { display: block }


/* BREAK for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBreakL { clear: both }



/* ============= */
/*   E X T R A   */
/* ============= */

/* HORIZONTAL POSITIONING GRID IN CONTAINER */

div.sapUiRespGrid.sapUiRespGridPosCenter {
       margin-left: auto;
       margin-right: auto;
}

div.sapUiRespGrid.sapUiRespGridPosRight {
       margin-left: auto;
       margin-right: 0;
}

/* MOVE FOWARD and BACKWARD */

div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridFwd"] {
       position: relative;
}

div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridBwd"] {
       float: right;
       position: relative;
}


/* explanation for percentages for browsers without calc support:
   16px = 1rem
   ------------------------
S  2.5%     =  8px / 320px
   5%       = 16px / 320px
   10%      = 32px / 320px
M  1.333%   =  8px / 600px
   2.667%   = 16px / 600px
   5.333%   = 32px / 600px
L  0.78125% =  8px / 1024px
   1.5625%  = 16px / 1024px
   3.125%   = 32px / 1024px
   ------------------------
*/
/* ====================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control  */
/* ====================================================== */

/*.sapUiGrid{

}*/

.sapUiGrid td{
	vertical-align: top;
	overflow: hidden;
}

.sapUiGrid td.sapUiGridHeader{
	vertical-align: bottom;
}


.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-align: start;
/*	border-bottom: 2px solid @sapUiHighlight;*/
	position: relative;
}

/* Internet Explorer  does not support "text-align: start"!
Therefore the title needs to be positioned separately for RTL and LTR mode */
[data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
[data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle{ 
	text-align: left;
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle{ 
	text-align: right;
}

/*
.sapUiGrid td[colspan="8"] > .sapUiFormTitle{
	border-color: @sapUiMediumBorder;
}
*/

.sapUiGridHeader > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}
/* ===================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control */
/* Goldreflection                                        */
/* ===================================================== */
/*
.sapUiGrid{

}
*/

.sapUiGrid td{
	padding: 3px 0 0 3px; /*Maybe better 2 1 1 2 because of focus outline of some controls ?*/
}

.sapUiGrid td:first-child{
	padding-left: 0;
}

.sapUiGrid .sapUiGridHeader{
	padding: 0;
}

.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-transform: uppercase;

	margin-bottom: 2px;
	margin-top: 20px;
	padding-bottom: 5px;
}

.sapUiGridSpace{
	width: 30px;
}

.sapUiGrid .sapUiFormTitle > img,
.sapUiGrid .sapUiFormTitle > span{
	margin-right: 3px;
}

.sapUiGridHeader > .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite{
	bottom: 5px;
}
/* ====================================================== */
/* CSS for control sap.ui.layout/HorizontalLayout.control */
/* ====================================================== */

.sapUiHLayout {
	display: inline-block;
}

.sapUiHLayoutNoWrap {
	white-space: nowrap;
}

.sapUiHLayoutChildWrapper {
	white-space: normal;
	display: inline-block;
	vertical-align: top;
}
/* ========================================================== */
/* CSS for control sap.ui.layout/ResponsiveFlowLayout.control */
/* ========================================================== */
@sapUiRFLPadding: ~"3px";

.sapUiRFL {
	position: relative;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

HTML[data-sap-ui-browser*='ie'] .sapUiRFL {
	width: 99%; /* needed if rounding issues occur and padding was deactivated */
}

.sapUiRFLRow {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sapUiRFLContainer {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
	overflow: hidden;
}

.sapUiRFLPaddingClass {
	padding: 3px 3px 0 0;
}

.sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:first-child {
	padding-left: 0;
}

.sapUiRFLRow > .sapUiRFLContainer:last-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:last-child {
	padding-right: 0;
}

.sapUiRFLMultiContainerContent {
	white-space: nowrap;
}

.sapUiRFLMultiContent.sapUiRFLPaddingClass {
	padding: 0 3px 0 0;
} 

.sapUiRFLMultiContent {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiRFLMultiContainerContent > .sapUiRFLMultiContent.sapUiRFLPaddingClass:last-child {
	padding-right: 0;
}
/* =============================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveGridLayout.control */
/* =============================================================== */

/*.sapUiFormResGrid > .sapUiFormTitle,*/
.sapUiRGLContainer > .sapUiFormTitle{
	position: relative;
	margin-bottom: 1rem;
}

.sapUiFormResGrid > .sapUiFormTitle > img,
.sapUiRGLContainer > .sapUiFormTitle > img,
.sapUiFormResGrid > .sapUiFormTitle > span,
.sapUiRGLContainer > .sapUiFormTitle > span{
	margin-right: 0.5rem;
}

.sapUiRGLContainer > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}

.sapUiRGLContainerCont{
	padding-bottom: 1.5rem;
}

.sapUiRGLContainerColl > .sapUiRGLContainerCont{
	display: none;
}

/* add paddings to content */
.sapUiFormResGridCont > div{
	padding: 0 0.25rem 0.5rem 0.25rem;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}

.sapUiFormResGridCont > .sapUiFormResGridLbl{
	min-height: @sapUiLineHeight;
}

/* ================= */
/*   SMALL DEVICES   */
/* ================= */
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12{
	padding-top: 0.375rem;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > div:first-child.sapUiFormResGridLbl.sapUiRespGridSpanS12{
	padding-top: 0;
}

.sapUiRespGridMedia-Std-Phone > div > .sapUiRGLContainer > .sapUiRGLContainerCont{
	padding-bottom: 0.5rem;
}

/* ================================= */
/*   SMALL, MEDIUM and LARGE DEVICES */
/* ================================= */
/* make labels right aligned if left from fields*/
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
	padding-right: 0.5rem;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12,
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanM12,
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanL12{
	padding-bottom: 0.125rem;
}

/* on last row no padding-bottom on container content */
.sapUiRespGridMedia-Std-Phone > .sapUiFormResGridLastRowM:last-child > .sapUiRGLContainer > .sapUiRGLContainerCont,
.sapUiRespGridMedia-Std-Tablet > .sapUiFormResGridLastRowM > .sapUiRGLContainer > .sapUiRGLContainerCont,
.sapUiRespGridMedia-Std-Desktop > .sapUiFormResGridLastRowL > .sapUiRGLContainer > .sapUiRGLContainerCont{
	padding-bottom: 0;
}

/* ============================ */
/*   MEDIUM and LARGE DEVICES   */
/* ============================ */
/* add paddings between containers */
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridMain > div:not(.sapUiRespGridSpanM12):not(.sapUiFormResGridLastContM),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain > div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL){
	padding-right: 1rem;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}

.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridMain > div:not(.sapUiRespGridBreakM):not(.sapUiRespGridSpanM12),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain > div:not(.sapUiRespGridBreakL):not(.sapUiRespGridSpanL12){
	padding-left: 1rem;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}
/* =============================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveGridLayout.control */
/* Goldreflection                                                  */
/* =============================================================== */
/* =========================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveLayout.control */
/* =========================================================== */

.sapUiRLContainer > .sapUiFormTitle{
	position: relative;
}

.sapUiRLContainer > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}

.sapUiRLContainerColl > .sapUiRLContainerCont{
	display: none;
}

/* make labels before fields right aligned */
.sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div{
	text-align: end;
}

html[data-sap-ui-browser^=ie] .sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div{
	text-align: right;
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div{
	text-align: left;
}
/* =========================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveLayout.control */
/* Goldreflection                                              */
/* =========================================================== */

.sapUiFormResLayout > .sapUiFormTitle,
.sapUiRLContainer > .sapUiFormTitle{
	text-transform: uppercase;
	padding-bottom: 5px;
}

.sapUiFormResLayout .sapUiFormTitle > img,
.sapUiFormResLayout .sapUiFormTitle > span{
	margin-right: 3px;
}

.sapUiRLContainer > .sapUiFormTitle > button{
	bottom: 5px;
}

.sapUiRLContainerCont{
	padding: 6px;
}
/* ===================================================== */
/* CSS for control sap.ui.layout/form/SimpleForm.control */
/* ===================================================== */

.sapUiSimpleForm {
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* SimpleForm placed directly in a body of a Fiori page */
.sap-tablet .sapUiFioriObjectPage > section > div > .sapUiSimpleForm,
.sap-desktop .sapUiFioriObjectPage > section > div > .sapUiSimpleForm {
	padding: 0 1rem;
}

/* ============================================= */
/* CSS for control sap.ui.unified/Splitter.control */
/* ============================================= */

/**
 * The main Splitter element can have the following classes in addition to its main class 
 * "sapUiLoSplitter":
 *   sapUiLoSplitterAnimated - Resizing should be animated (through css-transitions)
 *   sapUiLoSplitterH        - It's a horizontal splitter
 *   sapUiLoSplitterV        - It's a vertical splitter
 * The splitter bars "sapUiLoSplitterBar" and "sapUiLoSplitterOverlayBar" can have the following
 * additional classes:
 *   sapUiLoSplitterNoResize
 *
**/

/********************************************* General ********************************************/

.sapUiLoSplitter {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}

.sapUiLoSplitterContent {
	overflow: auto;
}

.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	cursor: move;
	font-size: 16px;
	background-color: transparent;
	color: darken(@sapUiLightText, 20);
	text-shadow: 1px 1px @sapUiWhiteBG;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sapUiLoSplitter > .sapUiLoSplitterBar:focus {
	outline: 1px dotted darken(@sapUiHighlight, 12);
	outline-offset: -1px;
}


.sapUiLoSplitter > .sapUiLoSplitterBar:hover {
	background-color: @sapUiDarkBG;
	color: @sapUiTextInverted;
	text-shadow: none;
}

.sapUiLoSplitter > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	background-color: @sapUiHighlight;
	color: @sapUiTextInverted;
	text-shadow: none;
}

.sapUiLoSplitterBarIcon {
	text-align: center;
	position: relative;
	display: block;
}

.sapUiLoSplitter.sapUiLoSplitterH > .sapUiLoSplitterBar.sapUiLoSplitterNoResize,
.sapUiLoSplitter.sapUiLoSplitterV > .sapUiLoSplitterBar.sapUiLoSplitterNoResize {
	cursor: default;
	visibility: hidden;
}

.sapUiLoSplitter > .sapUiLoSplitterBar.sapUiLoSplitterNoResize > *,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar.sapUiLoSplitterNoResize > * {
	display: none;
}

.sapUiLoSplitterOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	position: absolute;
}


/******************************************* Horizontal *******************************************/

.sapUiLoSplitterH > .sapUiLoSplitterBar,
.sapUiLoSplitterH > .sapUiLoSplitterContent,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.sapUiLoSplitterH > .sapUiLoSplitterBar > .sapUiLoSplitterBarIcon,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	top: ~"calc(50% - 12px)";
}

.sapUiLoSplitterH > .sapUiLoSplitterBar > .sapUiIcon.sapUiLoSplitterBarIcon::before,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon::before {
	content: "\e1fa";
}

.sapUiLoSplitterAnimated.sapUiLoSplitterH > .sapUiLoSplitterContent {
	transition: width 200ms ease 0ms;
}

.sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	cursor: col-resize;
	width: 4px;
}


/******************************************** Vertical ********************************************/

.sapUiLoSplitterV > .sapUiLoSplitterBar,
.sapUiLoSplitterV > .sapUiLoSplitterContent,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	display: block;
	width: 100%;
}

.sapUiLoSplitterV > .sapUiLoSplitterBar > .sapUiLoSplitterBarIcon,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	left: ~"calc(50% - 8px)";
	top: -5px;
}

.sapUiLoSplitterV > .sapUiLoSplitterBar > .sapUiIcon.sapUiLoSplitterBarIcon::before,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon::before {
	content: "\e1fb";
}

.sapUiLoSplitterAnimated.sapUiLoSplitterV > .sapUiLoSplitterContent {
	transition: height 200ms ease 0ms;
}

.sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	cursor: row-resize;
	height: 4px;
}

/************************************** Responsive Bar sizes **************************************/


.sap-desktop .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-desktop .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-desktop .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
	width: 6px;
}


.sap-desktop .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-desktop .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-desktop .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
	height: 6px;
}


.sap-tablet .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-tablet .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-tablet .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
	width: 16px;
}


.sap-tablet .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-tablet .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-tablet .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
	height: 16px;
}


.sap-phone .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-phone .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-phone .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
	width: 1px;
}

.sap-phone .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-phone .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-phone .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
	height: 1px;
}
/* ====================================================== */
/* CSS for control sap.ui.layout/VerticalLayout.control   */
/* ====================================================== */

.sapUiVlt {
	display: inline-block;
	overflow: hidden;
}
