
/* SAP UI development toolkit for HTML5 (SAPUI5/OpenUI5)
 * (c) Copyright 2009-2014 SAP AG or an SAP affiliate company. 
 * Licensed under the Apache License, Version 2.0 - see LICENSE.txt.
 * 
 */@import "../../../../../../Base/baseLib/baseTheme/base.less";
@import "../../../../../../Base/baseLib/sap_goldreflection/base.less";
/* Global CSS for 'base' theme */



// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundBorderColor: #A6A6A6;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
// @sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
// @sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
// @sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: red;
@sapUiButtonAcceptBackground: green;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: #BFBFBF;
@sapUiFieldHelpBackground: @sapField_Background;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Background;
@sapUiFieldReadOnlyBackground: #808080;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: #808080;
@sapUiFieldDisabledBackground: @sapField_Background;
@sapUiFieldDisabledBorderColor: @sapField_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Background;
@sapUiFieldRequiredColor: @sapField_BorderColor;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldInvalidBackground: #FF9A90;
@sapUiFieldWarningColor: #FFFF00;
@sapUiFieldWarningBackground: #FAF2B0;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiListHeaderBorderColor: #000000;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiListSelectionBackgroundColor: @sapUiHighlight;


// Brand Colors
@sapUiBrand: #F0AB00;     // SAP Gold #f0ab00
@sapUiHighlight: #111177;
@sapUiSelected: @sapUiHighlight;
@sapUiActive: @sapUiHighlight;

// Accent Colors
@sapUiPurple: purple;
@sapUiOrange: orange;
@sapUiGreen: green;
@sapUiBlue: blue;
@sapUiRed: red;
@sapUiYellow: yellow;

// Base Colors
@sapUiBase: darken(@sapBaseColor, 100);			// #000000
@sapUiBaseBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiBaseBorder: @sapUiBase;
@sapUiBaseText: @sapTextColor;
@sapUiBaseLine: @sapUiBase;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: lightgray;
@sapUiMediumBG: gray;
@sapUiDarkBG: darkgray;
@sapUiDeepBG: black;
@sapUiBlackBG: #000000;

// Tinted Backgrounds
@sapUiHoverBG: grey;
@sapUiMediumAltBG: grey;
@sapUiDarkAltBG: darkgrey;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: yellow;
@sapUiButtonNegativeBG: red;
@sapUiButtonPositiveBG: green;

// Semantic Background Colors
@sapUiErrorBG: #FF9A90;
@sapUiWarningBG: #FAF2B0;
@sapUiReadOnlyBG: grey;

// Text Colors
@sapUiExtraLightText: lightgray;
@sapUiLightText: lightgray;
@sapUiMediumText: grey;
@sapUiDarkText: darkgrey;
@sapUiDeepText: black;
@sapUiText: @sapUiBaseText; // black
@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

// Link
@sapUiLink: #0000FF;
@sapUiLinkInverted: @sapUiLink;
@sapUiLinkVisited: #800080;               // the color for a vistited link
@sapUiLinkActive: #FF0000;                // the color for a link while being clicked
@sapUiLinkHover: #FF0000;                 // the color for a link while being hovered

// Semantic Text Colors
@sapUiNegativeText: red;
@sapUiPositiveText: #B5E7A8;

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff
@sapUiExtraLightBorder: lightgrey;
@sapUiLightBorder: grey;
@sapUiMediumBorder: @sapUiBaseBorder;
@sapUiDarkBorder: @sapUiBaseBorder;
@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);	// #000000

// Semantic Border Colors
@sapUiErrorBorder: red;
@sapUiWarningBorder: yellow;

// Line Colors
@sapUiLightLine: lightgrey;
@sapUiMediumLine: grey;
@sapUiEmphasizedLine: @sapUiHighlight;
@sapUiDarkLine: darkgrey;

// Table Colors
@sapUiTableRowBG: @sapUiWhite;
@sapUiTableRowAlternatingBG: @sapUiWhite;
@sapUiTableRowSelectionBG: @sapUiHighlight;
@sapUiTableRowSelectionReadOnlyBG: @sapUiHighlight;
@sapUiTableRowHoverBG: @sapUiHoverBG;

// MOBILE-specific, but still very global-like:
@sapUiListBG: #f7f7f7;


/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
@sapUiTextColor: green; /* may be required by SubstitutionRulesManager.css in inbox lib */
@sapUiTextTitleColor: green;
@sapUiTextSelectionColor: green;

/* ---------------------------------------------------------------------------------------- */

@sapUiTextDisabled: lighten(@sapUiText, 60%); // the color for disabled text
@sapUiTextTitle: @sapUiBaseText;  // the text color for titles of all kinds
@sapUiTextSelection: @sapUiTextInverted; // the color for selected text
@sapUiTextfieldBackground: @sapUiWhite; // better to have an own parameter insted of using sapUiWhite

@sapUiLineHeight: 21px;

@sapUiFontFamily: Arial,Helvetica,sans-serif;  // the default font
@sapUiFontMonospaceFamily: Lucida Console;     // the default monospacefont
@sapUiFontSize: medium;                        // the default font size
@sapUiFontLargeSize: large;                    // TODO: might also be title font size
@sapUiFontSmallSize: small;
@sapUiFontHeader1Size: xx-large;
@sapUiFontHeader2Size: x-large;
@sapUiFontHeader3Size: @sapUiFontLargeSize;
@sapUiFontHeader4Size: @sapUiFontSize;
@sapUiFontHeader5Size: @sapUiFontSize;
@sapUiFontHeader6Size: @sapUiFontSize;


// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiBaseText;
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
@sapUiUx3ShellSideBarBaseWidth:       40px;
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
@sapUiUx3ShellPaneOverflowButtonHeight: 120px;

@sapUiUx3ExactLstExpandOffset: 0 0;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstCollapseWidth: 24px;
@sapUiUx3ExactLstHeaderHeight: 25px;
@sapUiUx3ExactLstContentTop: @sapUiUx3ExactLstHeaderHeight;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiText, @sapUiTextInverted);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiText,33), darken(@sapUiTextInverted,33));
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"true"; /* Telling the ToolPopup if it's inverted per default */
@sapUiUx3ToolPopupArrowWidth: 13px;
@sapUiUx3ToolPopupArrowHeight: 20px;
@sapUiUx3ToolPopupArrowRightMarginCorrection: -2px;
@sapUiUx3ToolPopupArrowRightMarginCorrectionInverted: -7px;
@sapUiUx3TPPaddingBottom: 50px;


// @sapUiButtonBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
// @sapUiButtonBackground: @sapUiButtonStandardBG; // to be renamed????
// @sapUiButtonDisabledBorderColor: @sapUiMediumBorder; // needed because different in GR, HCB and UX
@sapUiButtonDisabledBackground: @sapUiExtraLightBG; // needed, different in every theme
// @sapUiButtonHoverBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonHoverBackground: @sapUiMediumBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonActiveBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonActiveBackground: @sapUiDarkBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonEmphasizedBorderColor: @sapUiButtonBorderColor;
@sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBG;
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonEmphasizedBorderColor;
@sapUiButtonEmphasizedDisabledBackground: @sapUiButtonEmphasizedBackground;
@sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonEmphasizedHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonAcceptBorderColor: @sapUiButtonBorderColor;
@sapUiButtonAcceptBackground: @sapUiButtonPositiveBG;
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptDisabledBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonAcceptActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonRejectBorderColor: @sapUiButtonBorderColor;
@sapUiButtonRejectBackground: @sapUiButtonNegativeBG;
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectDisabledBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonRejectActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiToggleButtonPressedDisabledBackground: #D8D8E8;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;

// semantic colors
@sapUiPositiveBG: @sapUiPositiveText; // no positive background defined by UX, but using text color as background may be confusing

// default shadow for popups 
@sapUiShadowTint: #000;
@sapUiShadow: 5px 5px 10px fade(@sapUiShadowTint,50%);
/* Global CSS for 'sap_goldreflection' theme */



// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiHighlightTextColor: @sapHighlightTextColor;

@sapUiContentLabelColor: @sapContent_LabelColor;
@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundColor: @sapContent_ForegroundColor;
@sapUiContentForegroundBorderColor: @sapContent_ForegroundBorderColor;
@sapUiContentForegroundTextColor: @sapContent_ForegroundTextColor;

@sapUiShellBackground: @sapShell_Background;
@sapUiShellBorderColor: @sapShell_BorderColor;
@sapUiShellTextColor: @sapShell_TextColor;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
@sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
@sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
@sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: @sapButton_Reject_Background;
@sapUiButtonAcceptBackground: @sapButton_Accept_Background;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: @sapField_BorderColor;
@sapUiFieldHelpBackground: @sapField_HelpBackground;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Focus_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Focus_HelpBackground;
@sapUiFieldReadOnlyBackground: @sapField_ReadOnly_Background;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: @sapField_ReadOnly_HelpBackground;
@sapUiFieldDisabledBackground: @sapField_Disabled_Background;
@sapUiFieldDisabledBorderColor: @sapField_Disabled_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Disabled_HelpBackground;
@sapUiFieldRequiredColor: @sapField_RequiredColor;
@sapUiFieldInvalidColor: @sapField_InvalidColor;
@sapUiFieldInvalidBackground: @sapField_InvalidBackground;
@sapUiFieldWarningColor: @sapField_WarningColor;
@sapUiFieldWarningBackground: @sapField_WarningBackground;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiGroupTitleBackground: @sapGroup_TitleBackground;
@sapUiGroupTitleBorderColor: @sapGroup_TitleBorderColor;
@sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;
@sapUiGroupContentBackground: @sapGroup_ContentBackground;
@sapUiGroupContentBorderColor: @sapGroup_ContentBorderColor;
@sapUiGroupFooterBackground: @sapGroup_FooterBackground;

@sapUiToolbarBackground: @sapToolbar_Background;
@sapUiToolbarSeparatorColor: @sapToolbar_SeparatorColor;

@sapUiListHeaderBackground: @sapList_HeaderBackground;
@sapUiListHeaderBorderColor: @sapList_HeaderBorderColor;
@sapUiListHeaderTextColor: @sapList_HeaderTextColor;
@sapUiListBorderColor: @sapList_BorderColor;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListSelectionBackgroundColor: @sapList_SelectionBackgroundColor;
@sapUiListHoverBackground: @sapList_Hover_Background;

@sapUiScrollBarFaceColor: @sapScrollBar_FaceColor;
@sapUiScrollBarTrackColor: @sapScrollBar_TrackColor;
@sapUiScrollBarBorderColor: @sapScrollBar_BorderColor;
@sapUiScrollBarSymbolColor: @sapScrollBar_SymbolColor;


// Brand Colors

@sapUiBrand: @sapBrandColor;                     // "Quick" default #F0AB00

@sapUiHighlight: @sapHighlightColor;             // "Quick" default #007DC0

@sapUiFocus: darken(@sapUiHighlight, 12%);       // #005483, rgb(0, 84, 131)

@sapUiUx3ShellHeaderColor: @sapShellColor;			// "Quick" default #000


// Accent Colors

@sapUiPurple: #AB218E;
@sapUiOrange: #F27020;
@sapUiGreen: #008A3B;
@sapUiBlue: #007CC0;
@sapUiRed: #E52929;
@sapUiYellow: #F0AB00;

@sapUiCritical: #d14900; //rgb(209, 73, 0)


// Base Colors

@sapUiBase: darken(@sapBaseColor,37);			// "Quick" default #7F7F7F

@sapUiBaseBG: darken(@sapBackgroundColor,45);			// "Quick" default #7F7F7F

@sapUiBaseBorder: hsl(hue(@sapUiBase), saturation(@sapUiBase), lightness(@sapUiBase));	// default: s:0%, l:50%

@sapUiBaseText: @sapTextColor;			// "Quick" default #000000

@sapUiBaseLine: hsl(hue(@sapUiBase), saturation(@sapUiBase), lightness(@sapUiBase));		// default: s:0%, l:50%


// Background Colors
// Grayscale Backgrounds

@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff

@sapUiExtraLightBG: lighten(@sapUiBaseBG, 45%);			// #f2f2f2, Canvas Background

@sapUiLightBG: lighten(@sapBaseColor, 3.2);			// #e5e5e5

@sapUiMediumBG: @sapBaseColor;			// "Quick" default #dddddd

@sapUiDarkBG: darken(@sapBaseColor, 46.7);			// #666666

@sapUiDeepBG: darken(@sapBaseColor, 69.5);			// #2c2c2c

@sapUiBlackBG: darken(@sapBaseColor, 100);			// #000000



// Tinted Backgrounds

@sapUiHoverBG: mix(@sapUiHighlight, @sapUiWhiteBG, 10.35%);

@sapUiMediumAltBG: spin(hsl(hue(@sapUiHighlight), 16%, 76%), 9);								// #b8c2cc, Scrollbar thumb

@sapUiDarkAltBG: spin(mix(@sapUiHighlight, darken(@sapUiDarkBG, 1.2%), 3%), 9);	// #606366;


// Button Background Colors

@sapUiButtonStandardBG: hsl(hue(@sapUiBase), 0%, 88.5%); // #e2e2e2;

@sapUiButtonEmphasizedBG: #FDC411;

@sapUiButtonNegativeBG: @sapUiRed;

@sapUiButtonPositiveBG: @sapUiGreen;


// Semantic Background Colors

@sapUiErrorBG: mix(@sapUiRed, @sapUiWhite, 15%);    // #fbdfdf

@sapUiWarningBG: #FFFCB5;

@sapUiPositiveBG: mix(@sapUiGreen, @sapUiWhite, 12%);   // #e0f1e7

@sapUiReadOnlyBG: #EAEDF0;


// Text Colors

@sapUiHighlightText: @sapHighlightTextColor;

@sapUiExtraLightText: lighten(@sapUiBaseText, 44%);		// #707070;

@sapUiLightText: lighten(@sapUiBaseText, 40%);		// #666666;

@sapUiMediumText: lighten(@sapUiBaseText, 26.5%);	// #444444;

@sapUiDarkText: lighten(@sapUiBaseText, 20%);			// #333333;

@sapUiDeepText: lighten(@sapUiBaseText, 13.4%);			// #222222;

@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

@sapUiTextSelection: @sapUiTextInverted;


// Link

@sapUiLink: @sapLinkColor;			// "Quick" default #00679e

@sapUiLinkInverted: lighten(@sapUiLink, 25%);			// #1fb1ff

@sapUiLinkVisited: @sapUiLink;

@sapUiLinkActive: @sapUiLink;

@sapUiLinkHover: @sapUiLink; // the color for a link while being hovered


// Semantic Text Colors

@sapUiNegativeText: darken(@sapUiRed, 8%);   // #cc1919

@sapUiPositiveText: darken(@sapUiGreen, 3.5%);   // #007833

@sapUiCriticalText: @sapUiCritical; // #d14900

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff

@sapUiExtraLightBorder: lighten(@sapUiBaseBorder, 39.7%);	// #e5e5e5

@sapUiLightBorder: lighten(@sapUiBaseBorder, 36.5%);		// #dddddd

@sapUiMediumBorder: lighten(@sapUiBaseBorder, 30%);			// #cccccc

@sapUiDarkBorder: lighten(@sapUiBaseBorder, 25%);			// #bfbfbf

@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);			// #000000


// Semantic Border Colors

@sapUiErrorBorder: darken(@sapUiRed, 8%);   // #cc1919;

@sapUiWarningBorder: #D99900;

@sapUiPositiveBorder: darken(@sapUiGreen, 3.5%);   // #007833


// Line Colors

@sapUiLightLine: lighten(@sapUiBaseLine, 30%);	// #cccccc

@sapUiMediumLine: lighten(@sapUiBaseLine, 10%);	// #999999

@sapUiEmphasizedLine: @sapUiHighlight;

@sapUiDarkLine: darken(@sapUiBaseLine, 30%);		// #333333


// Table Colors

@sapUiTableRowAlternatingBG: #eff7fb;

@sapUiTableRowSelectionBG: #d1e9f4;

@sapUiTableRowSelectionReadOnlyBG: #c9e1ed;


/* ---------------------------------------------------------------------------------------- */

@sapUiTextTitle: @sapTitleColor;			// was "Quick" default #333333

@sapUiBackgroundImage: @sapBackgroundImage;			// "Quick"

@sapUiFontFamily: Arial, Helvetica, sans-serif;

@sapUiFontSize: 12px;

@sapUiFontLargeSize: 13px;
@sapUiFontSmallSize: 11px;
@sapUiFontHeader1Size: 26px;
@sapUiFontHeader2Size: 20px;
@sapUiFontHeader3Size: 18px;
@sapUiFontHeader4Size: 16px;
@sapUiFontHeader5Size: 14px;
@sapUiFontHeader6Size: @sapUiFontLargeSize;

@sapUiLineHeight: 18px;

// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiDarkBG;
@sapUiUx3ShellGradientBottom: lighten(@sapUiUx3ShellHeaderColor, 17.3);			// #2c2c2c
@sapUiUx3ShellGradientTop: spin(mix(@sapUiHighlight, lighten(@sapUiUx3ShellGradientBottom, 22), 3%), 9);			// #606366

@sapUiUx3ExactLstExpandOffset: -1 -2;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstContentTop: 26px;

/* Crystal Blue value set by UX: */
@sapUiHeaderBGCrystal: #007cc0;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotficationTimestamp: darken(@sapUiBaseColor,20);
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

// @sapUiButtonBorderColor: darken(@sapUiButtonStandardBG, 25%);
// @sapUiButtonDisabledBorderColor: lighten(@sapUiButtonBorderColor, 11.2%); // #BFBFBF
// @sapUiButtonDisabledBackgroundColor: @sapUiButtonStandardBG;
// @sapUiButtonHoverBorderColor: darken(@sapUiHighlight, 7%); //#00689E
// @sapUiButtonHoverBackgroundColor: @sapUiHighlight;
@sapUiButtonActiveBorderColor: darken(darken(@sapBaseColor, 46.7), 20%); // #333333
@sapUiButtonActiveBackground: darken(@sapBaseColor, 46.7);
// @sapUiButtonEmphasizedBorderColor: darken(@sapUiButtonEmphasizedBackground, 25%);
@sapUiButtonEmphasizedHoverBorderColor: darken(@sapUiButtonEmphasizedBackground, 35%); // #444444
@sapUiButtonEmphasizedHoverBackground: lighten(@sapUiButtonEmphasizedBackground, 7%);
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
@sapUiButtonEmphasizedActiveBackground: darken(@sapUiButtonEmphasizedBackground, 7%); //#EFAB00
@sapUiButtonAcceptBorderColor: darken(@sapUiButtonAcceptBackground, 10%); //#196600
@sapUiButtonAcceptHoverBorderColor: darken(@sapUiButtonAcceptBackground, 35%); //#104000
@sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptHoverBorderColor;
@sapUiButtonAcceptActiveBackground: darken(@sapUiButtonAcceptBackground, 5%); //#1D7300
@sapUiButtonRejectBorderColor: darken(@sapUiButtonRejectBackground, 10%); //#A60000
@sapUiButtonRejectHoverBorderColor: darken(@sapUiButtonRejectBackground, 35%); // #550000
@sapUiButtonRejectHoverBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectHoverBorderColor;
@sapUiButtonRejectActiveBackground: darken(@sapUiButtonRejectBackground, 5%); // #B20000
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiButtonLiteTextColor: darken(@sapUiHighlight, 7%); //#00689E
@sapUiToggleButtonHoverBorderColor: @sapUiHighlight;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;
@sapUiToggleButtonPressedDisabledBackground: lighten(desaturate(@sapUiHighlight, 80%),46%); // #CDD6DB
@sapUiToggleButtonPressedBorderColor: @sapUiButtonHoverBorderColor;
@sapUiToggleButtonPressedHoverBackground: darken(@sapUiHighlight, 7%); // #0078BB
@sapUiToggleButtonPressedHoverBorderColor: darken(@sapUiHighlight, 7%); // #0078BB

@sapUiCalendarColorToday: #ffc51c;

// semantic colors
// avoid changing the color hue in specific themes - slight adaptations are fine, though
@sapUiPositiveBG: lighten(desaturate(@sapUiPositiveText, 50%), 60%); // #BAEE9A no positive background defined by UX

// shadow for popups
@sapUiShadow: 0px 4px 17px rgba(0, 0, 0, 0.4);

//images for shell

@sapUiUx3ShellBackgroundImageURL: @sapBackgroundImage;			// "Quick"

@sapUiUx3ShellHeaderImageURL: ~"";

@sapUiUx3ShellApplicationImageURL: @sapCompanyLogo;			// "Quick"
/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* =============================================== */

.sapUiCal{
	background: none repeat scroll 0 0 @sapUiFieldBackground;
	width: 14em;
	overflow: hidden;
	position: relative;
}

/* calendar should have only a border if on popup */
.sapUiCal.sapUiShd{
	border: 1px solid @sapUiFieldBorderColor;
}

/*** HEADER ***/
.sapUiCalHead{
	width: 100%;
	height: @sapUiLineHeight;
	position: relative;
	text-align:center;
}

.sapUiCalPrev,
.sapUiCalNext,
.sapUiCalMonthPick,
.sapUiCalYearPick,
.sapUiCancel{
	background-color: @sapUiButtonLiteBackground;
	border: none;
	color: @sapUiButtonTextColor;
	cursor: pointer;
}

.sapUiCalPrev,
.sapUiCalNext{
	position: absolute;
}

.sapUiCalPrev{
	left: 0;
}

.sapUiCalNext{
	right: 0;
}

/* no default (browser) outline, if device needs focus visualization its defined later */
.sapUiCalPrev:focus,
.sapUiCalNext:focus,
.sapUiCalMonthPick:focus,
.sapUiCalYearPick:focus,
.sapUiCancel:focus{
	outline: none;
}

/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
.sap-desktop .sapUiCalPrev:focus,
.sap-desktop .sapUiCalNext:focus,
.sap-desktop .sapUiCalMonthPick:focus,
.sap-desktop .sapUiCalYearPick:focus,
.sap-desktop .sapUiCancel:focus{
	background-color: @sapUiButtonHoverBackground;
	color: @sapUiButtonHoverTextColor;
}

.sap-desktop .sapUiCalPrev:hover,
.sap-desktop .sapUiCalNext:hover,
.sap-desktop .sapUiCalMonthPick:hover,
.sap-desktop .sapUiCalYearPick:hover,
.sap-desktop .sapUiCancel:hover{
	background-color: @sapUiButtonHoverBackground;
	color: @sapUiButtonHoverTextColor;
}

/* once for desktop to overwrite focus and once for all devices needed */
.sapUiCalPrev:active,
.sapUiCalNext:active,
.sapUiCalMonthPick:active,
.sapUiCalYearPick:active,
.sapUiCancel:active,
.sap-desktop .sapUiCalPrev:active,
.sap-desktop .sapUiCalNext:active,
.sap-desktop .sapUiCalMonthPick:active,
.sap-desktop .sapUiCalYearPick:active,
.sap-desktop .sapUiCancel:active{
	background-color: @sapUiHighlight;
	color: @sapUiTextSelection;
}

.sapUiCalPrev.sapUiCalDsbl,
.sapUiCalNext.sapUiCalDsbl{
	cursor: default;
	opacity: .3;
	filter: alpha(opacity=30);
}

.sap-desktop .sapUiCalPrev.sapUiCalDsbl:focus,
.sap-desktop .sapUiCalNext.sapUiCalDsbl:focus,
.sap-desktop .sapUiCalPrev.sapUiCalDsbl:hover,
.sap-desktop .sapUiCalNext.sapUiCalDsbl:hover,
.sapUiCalPrev.sapUiCalDsbl:active,
.sapUiCalNext.sapUiCalDsbl:active{
	background-color: @sapUiButtonLiteBackground;
	color: @sapUiButtonTextColor;
}

/*** days, months, years ***/
.sapUiCalDays,
.sapUiCalMonths,
.sapUiCalYears{
	display: inline-block;
	width: 100%;
}

.sapUiCalWH,
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	display: block;
	overflow: hidden;
	float: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: center;
}

.sapUiCalWH,
.sapUiCalDay,
.sapUiCalWeekNum{
	width: 12.5%;
}

.sapUiCalDayNum{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.sapUiCalWeekNum{
	position: absolute;
	right: 100%;
	width: 100%;
	color: @sapUiLightText;
	font-size: @sapUiFontSmallSize;
	cursor: default;
}

.sapUiCalWH{
	color: @sapUiLightText;
}

.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	color: @sapUiBaseText;
	background-color: @sapUiExtraLightBG;
}

.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:focus{
	background-color: @sapUiFieldFocusBackground;
}

.sapUiCalFirstWDay{
	clear: both;
	margin-left: 12.5%;
	position: relative;
	overflow: visible;
}

.sapUiCalDayOtherMonth{
	color: @sapUiContentDisabledTextColor;
}

.sapUiCalDayToday{
	color: @sapUiHighlight;
}

.sapUiCalDayWeekEnd{
	background-color: @sapUiLightBG;
}

.sapUiCalDaySel,
.sapUiCalMonthSel,
.sapUiCalYearSel{
	background-color: @sapUiSelected;
}

.sapUiCalMonths,
.sapUiCalYears{
	position: absolute;
	top: @sapUiLineHeight;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: @sapUiFieldBackground;
}

.sapUiCalMonth{
	width: 33.33%;
}

.sapUiCalYear{
	width: 25%;
}

.sapUiCancel{
	display: none; /* cancel button only visible on phones */
	position: absolute;
}
/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* Goldreflection                                  */
/* =============================================== */

.sapUiCal{
	width: 190px;
	border: 4px solid @sapUiFieldBackground;
}

/*** HEADER ***/
.sapUiCalHead{
	padding-bottom: 9px;
	height: 22px;
}

.sapUiCalPrev,
.sapUiCalNext,
.sapUiCalMonthPick,
.sapUiCalYearPick{
	height: 22px;
	padding: 0;
}

.sapUiCalPrev,
.sapUiCalNext{
	width: 22px;
	padding-top: 2px; /* to set arrows in middle */
}

.sapUiCalMonthPick,
.sapUiCalYearPick{
	width: 70px;
	font-weight: bold;
}

/*** days, months, years ***/
.sapUiCalWH,
.sapUiCalDay,
.sapUiCalWeekNum,
.sapUiCalMonth,
.sapUiCalYear{
	border: 1px solid @sapUiFieldBackground;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiCalWH,
.sapUiCalDay,
.sapUiCalWeekNum{
	height: 24px;
	line-height: 22px;
}

.sapUiCalDayNum{
	border: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiCalWeekNum{
	top: -1px;
	padding-top: 1px;
	color: @sapUiHighlight;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
}

.sapUiCalWH{
	color: @sapUiHighlight;
	font-size: 11px;
	font-weight: bold;
}

.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear{
	color:@sapUiDeepText;
}

/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
.sap-desktop .sapUiCalDay:hover,
.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:hover,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:hover,
.sap-desktop .sapUiCalYear:focus{
	background-color: @sapUiHighlight;
	color: @sapUiTextSelection;
}

.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:focus{
	outline: none;
}

.sapUiCalDayOtherMonth{
	color: @sapUiLightText;
}

.sapUiCalDayToday > .sapUiCalDayNum{
	background-color: @sapUiFieldBackground;
	border-color: @sapUiCalendarColorToday;
	box-shadow: inset 1px 1px 0 1px @sapUiCalendarColorToday, inset -1px -1px 0 1px @sapUiCalendarColorToday;
	-moz-box-shadow: inset 1px 1px 0 1px @sapUiCalendarColorToday, inset -1px -1px 0 1px @sapUiCalendarColorToday;
	-webkit-box-shadow: inset 1px 1px 0 1px @sapUiCalendarColorToday, inset -1px -1px 0 1px @sapUiCalendarColorToday;
}

html[data-sap-ui-browser="ie8"] .sapUiCalDayToday > .sapUiCalDayNum{
	background-color: @sapUiCalendarColorToday; /*As IE8 don't support shadows - complete filled*/
}

.sap-desktop .sapUiCalDayToday:hover > .sapUiCalDayNum,
.sap-desktop .sapUiCalDayToday:focus > .sapUiCalDayNum{
	background-color: @sapUiHighlight;
}

.sapUiCalDaySel,
.sapUiCalMonthSel,
.sapUiCalYearSel{
	background-color: @sapUiFieldBackground;
}

.sapUiCalDaySel > .sapUiCalDayNum{
	border-color: @sapUiButtonHoverBackground;
}

.sap-desktop .sapUiCalDaySel:not(.sapUiCalDayToday):hover > .sapUiCalDayNum,
.sap-desktop .sapUiCalDaySel:not(.sapUiCalDayToday):focus > .sapUiCalDayNum{
	box-shadow: inset 1px 1px 0 0 @sapUiFieldBackground, inset -1px -1px 0 0 @sapUiFieldBackground;
	-moz-box-shadow: inset 1px 1px 0 0 @sapUiFieldBackground, inset -1px -1px 0 0 @sapUiFieldBackground;
	-webkit-box-shadow: inset 1px 1px 0 0 @sapUiFieldBackground, inset -1px -1px 0 0 @sapUiFieldBackground;
}

.sapUiCalMonths,
.sapUiCalYears{
	top: 31px;
	padding-top: 24px;
}

.sapUiCalYears.sapUiCalYearNoTop{
	padding-top: 0;
}

.sapUiCalMonth,
.sapUiCalYear{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 4px;
	overflow: hidden;
	height: 24px;
	line-height: 22px;
}

.sapUiCalMonthSel,
.sapUiCalYearSel{
	box-shadow: inset 1px 1px 0 0 @sapUiButtonHoverBackground, inset -1px -1px 0 0 @sapUiButtonHoverBackground;
	-moz-box-shadow: inset 1px 1px 0 0 @sapUiButtonHoverBackground, inset -1px -1px 0 0 @sapUiButtonHoverBackground;
	-webkit-box-shadow: inset 1px 1px 0 0 @sapUiButtonHoverBackground, inset -1px -1px 0 0 @sapUiButtonHoverBackground;
}

html[data-sap-ui-browser="ie8"] .sapUiCalMonthSel,
html[data-sap-ui-browser="ie8"] .sapUiCalYearSel{
	border-color: @sapUiButtonHoverBackground; /* As IE8 don't support shadows - use border */
}

/* ============================================= */
/* CSS for control sap.ui.unified/ContentSwitcher.control */
/* ============================================= */

.sapUiUfdCSwitcher {
	position:							relative;
	width:								100%;
	height:								100%;
	overflow:							hidden;
}


.sapUiUfdCSwitcher > section {
	position:							absolute;
	top:								0;
	left:								0;
	width:								100%;
	height:								100%
}


/* Unanimated */

.sapUiUfdCSwitcherContent {
	display:			none;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;
}

.sapUiUfdCSwitcherVisible {
	display:			block;
}


/* Fade animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationFade > section {
	display:			block;
	opacity:			0;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;
	
	transition:			opacity 500ms ease 0s;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationFade .sapUiUfdCSwitcherVisible {
	display:			block;
	opacity:			1;
	z-index:			1;
}


/* Slide over Left animation  */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver > section {
	display:			block;
	left:				-100%;
	
	top:				0%;
	
	width:				100%;
	height:				100%;

	transition:			left 500ms ease 0ms, right 500ms ease 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver section.sapUiUfdCSwitcherContent1.visible {
	transition:			left 0ms ease 500ms, right 0ms ease 500ms;
	
	left:				0;
}


/* Slide Right animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideRight > section {
	display:			block;
	left:				-100%;
	z-index:			1;
	
	transition:			left 0ms ease 500ms, right 0ms ease 500ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideRight .sapUiUfdCSwitcherVisible {
	display:			block;
	left:				0;
	z-index:			2;

	transition:			left 500ms ease 0ms, right 500ms ease 0ms;
}


/* Zoom Out animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomOut > section {
	display:			block;
	left:				50%;
	top:				50%;
	
	width:				0%;
	height:				0%;
	
	z-index:			1;
	
	opacity:			0;
	
	transition: 		left 500ms ease 0ms,
						right 500ms ease 0ms,
						top 500ms ease 0ms,
						width 500ms ease 0ms,
						height 500ms ease 0ms,
						z-index 0ms ease 500ms,
						opacity 500ms ease 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomOut .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;

	z-index:			2;

	opacity:			1;

	transition: 		left 0ms ease 0ms,
						right 0ms ease 0ms,
						top 0ms ease 0ms,
						width 0ms ease 0ms,
						height 0ms ease 0ms,
						z-index 0ms ease 500ms;
}


/* Zoom Out animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomIn > section {
	display:			block;
	left:				50%;
	top:				50%;
	
	width:				0%;
	height:				0%;
	
	z-index:			1;
	
	opacity:			0;
	
	transition: 		left 0ms ease 500ms,
						right 0ms ease 500ms,
						top 0ms ease 500ms,
						width 0ms ease 500ms,
						height 0ms ease 500ms,
						opacity 0ms ease 500ms,
						z-index 0ms ease 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomIn .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;

	z-index:			2;

	opacity:			1;

	transition: 		left 500ms ease 0ms,
						right 500ms ease 0ms,
						top 500ms ease 0ms,
						width 500ms ease 0ms,
						height 500ms ease 0ms,
						opacity 500ms ease 0ms;
}


/* Rotate Animation */

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationRotate > section {
	display:			block;
	left:				50%;
	top:				50%;
	
	width:				0%;
	height:				0%;
	
	z-index:			1;
	
	opacity:			0;
	
	transition: 		left 0ms linear 500ms,
						right 0ms linear 500ms,
						top 0ms linear 500ms,
						width 0ms linear 500ms,
						height 0ms linear 500ms,
						opacity 0ms linear 500ms,
						transform 0ms linear 500ms,
						z-index 0ms linear 0ms;
	-webkit-transition: left 0ms linear 500ms,
						right 0ms linear 500ms,
						top 0ms linear 500ms,
						width 0ms linear 500ms,
						height 0ms linear 500ms,
						opacity 0ms linear 500ms,
						-webkit-transform 0ms linear 500ms,
						z-index 0ms linear 0ms;
}

.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationRotate .sapUiUfdCSwitcherVisible {
	display:			block;

	left:				0%;
	top:				0%;
	
	width:				100%;
	height:				100%;

	z-index:			2;

	opacity:			1;
	
	transform:			rotate(360deg);
	-webkit-transform:	rotate(360deg);

	transition: 		left 500ms linear 0ms,
						right 500ms linear 0ms,
						top 500ms linear 0ms,
						width 500ms linear 0ms,
						height 500ms linear 0ms,
						opacity 500ms linear 0ms,
						transform 500ms linear 0ms;
	-webkit-transition: left 500ms linear 0ms,
						right 500ms linear 0ms,
						top 500ms linear 0ms,
						width 500ms linear 0ms,
						height 500ms linear 0ms,
						opacity 500ms linear 0ms,
						-webkit-transform 500ms linear 0ms;
}
.sapUiUfdCurrency {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.sapUiUfdCurrencyAlign {
	text-align: end;
	width: 200px;
	float: right;
}
/* special handling for IE, as it does not support text-align: end */
html[data-sap-ui-browser^="ie"] .sapUiUfdCurrencyAlign {
	text-align: right;
}
html[dir=rtl][data-sap-ui-browser^="ie"] .sapUiUfdCurrencyAlign {
	text-align: left;
}

.sapUiUfdCurrencyValue,
.sapUiUfdCurrencyCurrency {
	display: inline-block;
	vertical-align: middle;
}

.sapUiUfdCurrencyValue {
	text-align: end;
}
/* special handling for IE, as it does not support text-align: end */
html[data-sap-ui-browser^="ie"] .sapUiUfdCurrencyValue {
	text-align: right;
}
html[dir=rtl][data-sap-ui-browser^="ie"] .sapUiUfdCurrencyValue {
	text-align: left;
}

.sapUiUfdCurrencyCurrency {
	text-align: start;
	margin-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* =================================================== */
/* CSS for control sap.ui.unified/FileUploader.control */
/* =================================================== */

.sapUiFup {
	display: inline-block;
}

.sapUiFupInp {
	top: 2px;
}

.sapUiFupGroup {
	display: table;
}

.sapUiFupGroup > div {
	display: table-row;
}

.sapUiFupGroup > div > div {
	display: table-cell;
}

.sapUiFupGroup > div > div:last-child {
	padding-left: 1px;
}

.sapUiFup > form {
	display: inline-block;
}

.sapUiFup > form > div {
	position: relative;
	display: inline-block;
}

.sapUiFupInputMask {  /* the element masking the real (but hidden) file input, so the clickable area has exactly the same size as the visible control */
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.sapUiFupInputMask > input { /* the real, but hidden file input */
	position: absolute;
	opacity: 0;
	top: 0px;
	bottom: 0px;
	cursor: pointer;
	cursor: hand;
	left: -4em;       /* avoid the input field behind the file chooser */
	font-size: 500px; /* to make the field high enough for most themes; for themes with very large fonts this needs to be increased further */
}

html[data-sap-ui-browser="ie8"] .sapUiFupInputMask > input { /* for IE8 the file input should be native */
	position: relative;
	left: auto;
	font-size: small;
}

html[data-sap-ui-browser^="sf"] .sapUiFupInputMask > input, /* for Safari and Chrome the file input is not clickable with opacity "0" */
html[data-sap-ui-browser^="cr"] .sapUiFupInputMask > input {
	position: relative;
	left: auto;
	opacity: 0.01;
}
@sapUiMnuItmHeight: 20px;

.sapUiMnu {
	/* initially hidden off the screen */
	position: absolute;
	top: -10000px;
	display: block;
	min-width: 80px;
	border: 1px solid @sapUiMediumBorder; /* the regular popup menu border */
	background-color: @sapUiLightBG; /* the popup menu's main background */
	cursor: default;
	outline: none;
	overflow: hidden;
	padding: 1px;
}

.sapUiMnuLst {
	padding: 0;
	margin: 0;
	display: block;
	cursor: default;
	color: @sapUiBaseText;
	font-size: @sapUiFontSize;
	font-family: @sapUiFontFamily;
}

.sapUiMnuItm {
	display: block;
	height: @sapUiMnuItmHeight;
	line-height: @sapUiMnuItmHeight;
	white-space: nowrap;
	position: relative;
}

.sapUiMnuItm.sapUiMnuItmDsbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl .sapUiMnuTfItemLbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl.sapUiMnuItmHov .sapUiMnuTfItemLbl {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItm.sapUiMnuItmHov {
	color: @sapUiTextSelection;
	background-color: @sapUiHighlight;
}

.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmHov .sapUiMnuTfItemLbl {
	color: @sapUiTextSelection;
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov {
	background-color: darken(@sapUiWhiteBG, 24.7);
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItmL,
.sapUiMnuItmIco,
.sapUiMnuItmTxt,
.sapUiMnuItmSCut,
.sapUiMnuItmSbMnu,
.sapUiMnuItmR {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
	outline: none;
}

.sapUiMnuItmSCut,
.sapUiMnuItmSbMnu,
.sapUiMnuItmR {
	position: absolute;
	top: 0px;
}

.sapUiMnuItmL{
	width: 2px;
}

.sapUiMnuItmIco {
	width: 20px;
	text-align: center;
}

.sapUiMnuItmIco > img{
	max-width: 16px;
	max-height: 16px;
	vertical-align: middle;
}

.sapUiMnuItmDsbl > .sapUiMnuItmIco > img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.sapUiMnuNoIco > .sapUiMnuItm > .sapUiMnuItmIco {
	width: 0px;
	display: none;
}

.sapUiMnuItmTxt {
	padding-right: 27px; /*22+5*/
	white-space: nowrap;
}

.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
	padding-right: 5px;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
	vertical-align: top;
	margin-right: 5px;
	line-height: @sapUiMnuItmHeight;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt > .sapUiMnuTfItemWrppr {
	position: absolute;
	right: 5px;
	top: 0;
	width: 22ex;
	display: inline-block;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	font-family: @sapUiFontFamily;
	font-size: @sapUiFontSize;
	-webkit-appearance: none; /*Needed for safari mobile*/
	border: 1px solid @sapUiFieldBorderColor;
	-webkit-border-radius: 0px; /*Needed for safari mobile*/
	background-color: @sapUiFieldBackground;
	color: @sapUiBaseText;
	width: 100%;
	outline: none; /* remove Webkit glow effect */
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf:focus {
	background-color: @sapUiFieldBackground;
	border-color: @sapUiFieldFocusBorderColor;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf::-ms-clear {
	width : 0;
	height: 0;
	display:none;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfDsbl {
	background-color: @sapUiFieldReadOnlyBackground;
	color: @sapUiContentDisabledTextColor;
	/* Avoid text selection in disabled TextFields */
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border-color: @sapUiFieldDisabledBorderColor;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfErr {
	border-color: @sapUiFieldInvalidColor;
	background-color: @sapUiFieldInvalidBackground;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfWarn {
	border-color: @sapUiFieldWarningColor;
	background-color: @sapUiFieldWarningBackground;
}

.sapUiMnuTfItmStretch {
	display: inline-block;
	width: 22ex;
	height: 1px;
}

.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt {
	padding-right: 7px; /*2+5*/
}

.sapUiMnuItmSCut {
	white-space: nowrap;
	right: 22px;
	width: 0px;
	display: none;
}

.sapUiMnuItmSbMnu {
	right: 2px;
	width: 15px;
	text-align: left;
}

.sapUiMnuItmSbMnu > div:after {
	content: "\e066";
	font-family: 'SAP-icons';
	outline: none;
}

.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmSbMnu {
	width: 0px;
	display: none;
}

.sapUiMnuItmR {
	width: 2px;
	right: 0px;
}

.sapUiMnuDiv{
	position: relative;
	height: 3px;
}

.sapUiMnuDiv > hr {
	display: inline-block;
	margin: 0;
	position: absolute;
	left: 5px;
	right: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-width: 0;
	border-top: 1px solid @sapUiMediumBorder;
	height: 1px;
}

.sapUiMnuDivL,
.sapUiMnuDivR{
	display: inline-block;
	position: absolute;
	width: 5px;
	height: 100%;
}

.sapUiMnuDivR{
	right: 0;
}

.sapUiMnuDivL{
	left: 0;
}
@sapUiMnuItmHeight: 1.5625rem;
@sapUiMnuItmPadding: 0.5rem;

@sapUiMnuItmDfltFontsize_IE8: 16px;
@sapUiMnuItmHeight_IE8: 1.5625 * @sapUiMnuItmDfltFontsize_IE8;
@sapUiMnuItmPadding_IE8: 0.5 * @sapUiMnuItmDfltFontsize_IE8;
@sapUiMnuItmFontsize: 0.75rem;
@sapUiMnuItmFontsize_IE8: @sapUiMnuItmDfltFontsize_IE8 - 4px;

.sapUiMnu {
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
	padding: 1px;
	min-width: 5 * @sapUiMnuItmDfltFontsize_IE8;
	min-width: 5rem;
	background-color: @sapUiExtraLightBG;
	border: 1px solid @sapUiMediumLine;
	color: @sapUiDarkText;
}

.sapUiMnu.sapUiMnuTop {
	border: 1px solid @sapUiDarkBG;
	background-color: transparent;
	padding: 0;
}

.sapUiMnu.sapUiMnuScroll {
	overflow-x: none;
	overflow-y: auto;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuItmR {
	width: @sapUiMnuItmPadding_IE8 + @sapUiMnuItmDfltFontsize_IE8;
	width: @sapUiMnuItmPadding + 1rem;
}

.sapUiMnuItm {
	height: @sapUiMnuItmHeight_IE8;
	height: @sapUiMnuItmHeight;
	line-height: @sapUiMnuItmHeight_IE8;
	line-height: @sapUiMnuItmHeight;
}

.sapUiMnuLst {
	color: @sapUiBaseText;
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
}

.sapUiMnuTop > .sapUiMnuLst {
	background-color: @sapUiBlackBG;
	color: @sapUiTextInverted;
	background-color: rgba(0, 0, 0, .84);
}

.sapUiMnuItm.sapUiMnuItmHov {
	color: @sapUiTextSelection;
	background-color: @sapUiHighlight;
}

.sapUiMnuItm.sapUiMnuItmHov:active {
	color: @sapUiTextInverted;
	background-color: @sapUiHighlight;
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov,
.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov:active {
	color: @sapUiContentDisabledTextColor;
	background-color: transparent;
}

.sapUiMnuItmL {
	width: 0;
}

.sapUiMnuItmR,
.sapUiMnuNoIco .sapUiMnuItmL {
	width: @sapUiMnuItmPadding_IE8;
	width: @sapUiMnuItmPadding;
}

.sapUiMnuItmIco {
	width: @sapUiMnuItmHeight_IE8;
	width: @sapUiMnuItmHeight;
}

.sapUiMnuItm.sapUiMnuItmDsbl .sapUiMnuItmIco {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov:active .sapUiMnuItmIco {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItmIco > img {
	padding-left: 0;
	max-height: @sapUiMnuItmDfltFontsize_IE8;
	max-width: 1rem;
	max-height: @sapUiMnuItmDfltFontsize_IE8;
	max-width: 1rem;
}

.sapUiMnuDiv > hr {
	left: @sapUiMnuItmPadding_IE8;
	right: @sapUiMnuItmPadding_IE8;
	left: @sapUiMnuItmPadding;
	right: @sapUiMnuItmPadding;
	border-color: @sapUiMediumBorder;
}

.sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmHeight_IE8 + @sapUiMnuItmPadding_IE8;
	padding-right: @sapUiMnuItmHeight + @sapUiMnuItmPadding;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmHeight_IE8 + @sapUiMnuItmPadding_IE8 + @sapUiMnuItmDfltFontsize_IE8;
	padding-right: @sapUiMnuItmHeight + @sapUiMnuItmPadding + 1rem;
}

.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt,
.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmPadding_IE8;
	padding-right: @sapUiMnuItmPadding;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt,
.sapUiMnu.sapUiMnuScroll .sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
	padding-right: @sapUiMnuItmPadding_IE8 + @sapUiMnuItmDfltFontsize_IE8;
	padding-right: @sapUiMnuItmPadding + 1rem;
}

.sapUiMnuNoIco .sapUiMnuItmTxt {
	padding-left: 0;
}

.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt > .sapUiMnuTfItemWrppr {
	right: @sapUiMnuItmPadding_IE8;
	right: @sapUiMnuItmPadding;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf {
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
	padding: 0.125*@sapUiMnuItmDfltFontsize_IE8 0.3125*@sapUiMnuItmDfltFontsize_IE8 0.125*@sapUiMnuItmDfltFontsize_IE8 0.3125*@sapUiMnuItmDfltFontsize_IE8;
	padding: 0.125rem 0.3125rem 0.125rem 0.3125rem;
	margin-top: 0.125 * @sapUiMnuItmDfltFontsize_IE8;
	margin-top: 0.125rem;
	height: @sapUiMnuItmHeight_IE8 - 0.25*@sapUiMnuItmDfltFontsize_IE8;
	height: @sapUiMnuItmHeight - 0.25rem;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfDsbl {
	background-color: @sapUiFieldDisabledBackground;
}

.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
	line-height: @sapUiMnuItmHeight_IE8;
	line-height: @sapUiMnuItmHeight;
	font-family: @sapUiFontFamily;
	font-size: @sapUiMnuItmFontsize_IE8;
	font-size: @sapUiMnuItmFontsize;
	color: @sapUiContentLabelColor;
	margin-right: @sapUiMnuItmPadding_IE8;
	margin-right: @sapUiMnuItmPadding;
}

.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmHov .sapUiMnuTfItemLbl,
.sapUiMnu.sapUiMnuTop .sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
	color: @sapUiTextInverted;
}

.sapUiMnu.sapUiMnuTop .sapUiMnuItm.sapUiMnuItmDsbl .sapUiMnuTfItemLbl {
	color: @sapUiContentDisabledTextColor;
}

.sapUiMnuItmSbMnu {
	right: 0;
	width: @sapUiMnuItmHeight_IE8;
	width: @sapUiMnuItmHeight;
	text-align: center;
	font-size: 0.75*@sapUiMnuItmDfltFontsize_IE8;
	font-size: 0.75rem;
}

.sapUiMnu.sapUiMnuScroll .sapUiMnuItmSbMnu {
	right: @sapUiMnuItmDfltFontsize_IE8;
	right: 1rem;
}
/* =================================================== */
/* CSS for sap.ui.unfied.Shell.control (base)          */
/* =================================================== */

@sapUiUfdShellBrandHeight: 4px;
@sapUiUfdShellHeaderBarHeight: 44px;
@sapUiUfdShellHeadHeight: @sapUiUfdShellBrandHeight + @sapUiUfdShellHeaderBarHeight;
@sapUiUfdShellAnimDuration: 500ms; /*Duration of the transitions (must be defined in ms)*/

.sapUiUfdShell {
}

.sapUiUfdShellBG {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


._sapUiUfdShellSubHdr {  /* Testpage only */
	background-color: @sapUiBaseBG;
	color: @sapUiBaseText;
}


/* Basics */

.sapUiUfdShellCntnt {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sapUiUfdShellPad {
	padding: 10px;
}

.sapUiUfdShellHidden {
	display: none;
}


/* Animations */

.sapUiUfdShellAnim .sapUiUfdShellHead,
.sapUiUfdShellAnim .sapUiUfdShellHead > div,
.sapUiUfdShellAnim .sapUiUfdShellCurtain,
.sapUiUfdShellAnim .sapUiUfdShellCanvas {
	-webkit-transition-duration: @sapUiUfdShellAnimDuration;
	transition-duration: @sapUiUfdShellAnimDuration;
	-moz-transition-duration: @sapUiUfdShellAnimDuration;
}

.sapUiUfdShellAnim .sapUiUfdShellCanvas {
	-webkit-transition-property: top;
	transition-property: top;
	-moz-transition-property: top;
}

.sapUiUfdShellAnim .sapUiUfdShellCurtain {
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-moz-transition-property: top, bottom;
}

.sapUiUfdShellAnim .sapUiUfdShellHead {
	perspective: 400px;
	-webkit-perspective: 400px;
	-webkit-transition-property: top;
	transition-property: top;
	-moz-transition-property: top;
}

.sapUiUfdShellAnim .sapUiUfdShellHead > div {
	-webkit-transform: rotateX(0);
	-webkit-transform-origin: bottom center;
	transform: rotateX(0);
	transform-origin: bottom center;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-moz-transition-property: opacity, -moz-transform;
}

.sapUiUfdShellAnim.sapUiUfdShellHeadHidden .sapUiUfdShellHead > div {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0.3;
}


/* Header */

.sapUiUfdShellBrand {
	position: absolute;
	top: 0;
	height: @sapUiUfdShellBrandHeight;
	left: 0;
	right: 0;
	border: medium none;
	margin: 0;
	z-index: 7;
	background-color: @sapUiBrand;
}

.sapUiUfdShellHead {
	position: absolute;
	top: @sapUiUfdShellBrandHeight;
	height: @sapUiUfdShellHeaderBarHeight;
	left: 0;
	right: 0;
	z-index: 3;
	overflow: hidden;
}

.sapUiUfdShellHead > div {
	position: absolute;
	top: 0;
	height: @sapUiUfdShellHeaderBarHeight;
	left: 0;
	right: 0;
	overflow: hidden;
	opacity: 1;
}

.sapUiUfdShell.sapUiUfdShellHeadHidden .sapUiUfdShellHead {
	top: -@sapUiUfdShellHeaderBarHeight;
}


/* Canvas / Curtain */

.sapUiUfdShellCanvas {
	top: @sapUiUfdShellHeadHeight;
}

.sapUiUfdShellCurtain {
	top: 0;
	z-index: 1;
}

.sapUiUfdShell.sapUiUfdShellHeadHidden .sapUiUfdShellCanvas {
	top: @sapUiUfdShellBrandHeight;
}

.sapUiUfdShellCurtain > .sapUiUfdShellCntnt {
	overflow: auto;
	top: @sapUiUfdShellHeadHeight;
	-webkit-overflow-scrolling: touch;
} 

.sapUiUfdShell.sapUiUfdShellCurtainHidden .sapUiUfdShellCurtain {
	top: -100%;
	bottom: 100%;
}

.sapUiUfdShell.sapUiUfdShellCurtainHidden.sapUiUfdShellCurtainClosed .sapUiUfdShellCurtain > div,
.sapUiUfdShell.sapUiUfdShellCurtainHidden.sapUiUfdShellCurtainClosed .sapUiUfdShellCurtain > span {
	display: none;
}



/* =================================================== */
/* CSS for ShellHeader Content                         */
/* =================================================== */

@sapUiUfdShellHeadCenterAnimDuration: 200ms; /*Duration of the transitions of the header center area width (must be defined in ms)*/
@sapUiUfdShellHeadCenterAnimDelay: 30ms; /*Delay of the transitions of the header center area width (must be defined in ms)*/
@sapUiUfdShellHeadButtonOuterSpace: 4px; /*Left/Right spacing of the header buttons*/
@sapUiUfdShellHeadButtonInnerSpace: 9px; /*Spacing between icons and text (user button)*/
@sapUiUfdShellHeadButtonOutlineWidth: 1px;
@sapUiUfdShellHeadButtonSeparatorWidth: 1px;
@sapUiUfdShellHeadButtonBorderRadius: 2px;
@sapUiUfdShellHeadButtonHeight: @sapUiUfdShellHeaderBarHeight - 2*@sapUiUfdShellHeadButtonOuterSpace;


.sapUiUfdShellHeader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Animations */

.sapUiUfdShellAnim .sapUiUfdShellHeadItmMarker {
	-webkit-transition-duration: @sapUiUfdShellAnimDuration;
	transition-duration: @sapUiUfdShellAnimDuration;
	-moz-transition-duration: @sapUiUfdShellAnimDuration;
}

.sapUiUfdShellAnim .sapUiUfdShellHeadCenter.sapUiUfdShellAnim {
	-webkit-transition-duration: @sapUiUfdShellHeadCenterAnimDuration;
	transition-duration: @sapUiUfdShellHeadCenterAnimDuration;
	-moz-transition-duration: @sapUiUfdShellHeadCenterAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellHeadCenterAnimDelay;
	transition-delay: @sapUiUfdShellHeadCenterAnimDelay;
	-moz-transition-delay: @sapUiUfdShellHeadCenterAnimDelay;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-moz-transition-property: left, right;
	z-index: 1;
}

.sapUiUfdShellAnim .sapUiUfdShellHeadItmMarker {
	-webkit-transition-property: bottom;
	transition-property: bottom;
	-moz-transition-property: bottom;
}


/* Header */

.sapUiUfdShellHeadBegin,
.sapUiUfdShellHeadCenter,
.sapUiUfdShellHeadEnd {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.sapUiUfdShellHeadBegin {
	left: 0;
	max-width: 265px;
	white-space: nowrap;
}

.sapUiUfdShellHeadCenter {
	left: 0;
	right: 0;
	text-align: center;
}

.sapUiUfdShellHeadEnd {
	right: 0;
	max-width: 390px;
	white-space: nowrap;
}

.sapUiUfdShellHeadEnd > .sapUiUfdShellIco,
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	line-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellHeaderBarHeight/10;
}

.sapUiUfdShellHeadEnd > .sapUiUfdShellIco {
	text-align: right;
	padding-right: 8px;
}

.sapUiUfdShellHeadBegin > .sapUiUfdShellIco {
	padding-left: 8px;
}

.sapUiUfdShellHeadEnd > .sapUiUfdShellIco > img,
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco > img {
	max-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellBrandHeight * 2;
	max-width: 96px;
	vertical-align: middle;
}

.sapUiUfdShellIco.sapUiUfdShellHidden {
	display: none;
}

.sapUiUfdShellHeadEnd > * {
	float: right;
}

.sapUiUfdShellHeadContainer {
	overflow: hidden;
	display: inline-block;
}

.sapUiUfdShellHeadItm {
	width:  @sapUiUfdShellHeaderBarHeight;
	height: 100%;
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	overflow: hidden;
	position: relative;
}

.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep {
	width:  @sapUiUfdShellHeaderBarHeight + 2*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
}

.sapUiUfdShellHeadItm.sapUiUfdShellHidden {
	display: none;
}

.sapUiUfdShellHeadItm > span {
	width: @sapUiUfdShellHeadButtonHeight;
	height: @sapUiUfdShellHeadButtonHeight;
	display: inline-block;
	font-weight: normal;
	line-height: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth;
	text-align: center;
	font-size: @sapUiUfdShellHeaderBarHeight / 2;
	margin: @sapUiUfdShellHeadButtonOuterSpace - @sapUiUfdShellHeadButtonOutlineWidth;
	margin-top: @sapUiUfdShellHeadButtonOuterSpace;
	color: @sapUiBaseText;
	-moz-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span {
	margin-right: 3*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
	margin-left: @sapUiUfdShellHeadButtonOuterSpace;
}

.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span {
	margin-left: 3*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
	margin-right: @sapUiUfdShellHeadButtonOuterSpace;
}

.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before,
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
	content: " ";
    height: @sapUiUfdShellHeadButtonHeight - @sapUiUfdShellHeadButtonOuterSpace;
    top: @sapUiUfdShellHeadButtonOuterSpace * 3 / 2;
    position: absolute;
    width: @sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
    right: 0;
    border-right: @sapUiUfdShellHeadButtonOuterSpace solid transparent;
    border-left: @sapUiUfdShellHeadButtonSeparatorWidth solid @sapUiBaseBorder;
}

.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
    left: 0;
    border-left: @sapUiUfdShellHeadButtonOuterSpace solid transparent;
    border-right: @sapUiUfdShellHeadButtonSeparatorWidth solid @sapUiBaseBorder;
}

.sapUiUfdShellHeadItm:active > span,
.sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover > *,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover:active > *,
.sapUiUfdShellHeadUsrItm:active > *,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active:hover > span {
	background-color: @sapUiHighlight;
}

.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:hover > span {
	background-color: darken(@sapUiHighlight, 5%);
}

.sapUiUfdShellHeadItm > span > img {
	margin-top: @sapUiUfdShellHeaderBarHeight / 4 - 4px;
	width: @sapUiUfdShellHeaderBarHeight / 2;
	height: @sapUiUfdShellHeaderBarHeight / 2;
	border-width: 0;
}

.sapUiUfdShellHeadItm:focus,
.sapUiUfdShellHeadUsrItm:focus {
	outline: none;
}

.sapUiUfdShellHeadItm:focus > span {
	border: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}

.sapUiUfdShellSearch {
	display: inline-block;
	position: relative;
	width: 95%;
	max-width: 415px;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	line-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellHeaderBarHeight/10;
	padding-left: @sapUiUfdShellHeadButtonOuterSpace;
	padding-right: @sapUiUfdShellHeadButtonOuterSpace;
}

.sapUiUfdShellSearch.sapUiUfdShellHidden {
	display: none;
}

.sapUiUfdShellSearch > div {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.sapUiUfdShellHeadItmMarker {
	position: absolute;
	bottom: -7px;
	left: 15px;
	width: 14px;
	height: 7px;
	background-color: transparent;
    overflow: hidden;
}

.sapUiUfdShellHeadItmMark > .sapUiUfdShellHeadItmMarker {
	bottom: 0;
}

.sapUiUfdShellHeadItmMarker > div {
	position: relative;
    top: 100%;
}

.sapUiUfdShellHeadItmMarker > div:after,
.sapUiUfdShellHeadItmMarker > div:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    left: 50%;
    border-bottom-color: @sapUiBaseText;
}

.sapUiUfdShellHeadItmMarker > div:after {
	border-width: 6px;
	margin-left: -6px;
}

.sapUiUfdShellHeadItmMarker > div:before {
	border-width: 7px;
	margin-left: -7px;
}


/* User Item */

.sapUiUfdShellHeadUsrItm {
	text-decoration: none;
	overflow: hidden;
	position: relative;
	line-height: @sapUiUfdShellHeaderBarHeight;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	color: @sapUiBaseText;
}

.sapUiUfdShellHeadUsrItm > * {
	display: inline-block;
	vertical-align: top;
	height: @sapUiUfdShellHeadButtonHeight;
	line-height: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth;
	margin-top: @sapUiUfdShellHeadButtonOuterSpace;
	margin-bottom: @sapUiUfdShellHeadButtonOuterSpace - @sapUiUfdShellHeadButtonOutlineWidth;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapUiUfdShellHeadUsrItmImg {
	font-weight: normal;
	text-align: center;
	font-size: @sapUiUfdShellHeaderBarHeight / 2;
	-moz-border-top-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-top-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-top-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-moz-border-bottom-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-bottom-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-bottom-left-radius: @sapUiUfdShellHeadButtonBorderRadius;
	margin-left: 3*@sapUiUfdShellHeadButtonOuterSpace + @sapUiUfdShellHeadButtonSeparatorWidth;
	border-left: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	padding-left: @sapUiUfdShellHeadButtonInnerSpace;
	padding-right: @sapUiUfdShellHeadButtonInnerSpace;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmImg {
	border-left: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}

.sapUiUfdShellHeadUsrItmImg > img {
	margin-top: 1px;
	width: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	height: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	-moz-border-radius: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	-webkit-border-radius: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	border-radius: @sapUiUfdShellHeadButtonHeight - 2*@sapUiUfdShellHeadButtonOutlineWidth - 2px;
	border-width: 0;
}

.sapUiUfdShellHeadUsrItmName {
	font-size: 14px;
	max-width: 241px; /*15rem + 1px*/
	overflow: hidden;
	padding-right: @sapUiUfdShellHeadButtonInnerSpace;
	text-overflow: ellipsis;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmName {
	border-top: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}

.sapUiUfdShellHeadUsrItmLimit > .sapUiUfdShellHeadUsrItmName,
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmName,
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmExp {
	display: none; 
}

.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmImg {
	margin-right: @sapUiUfdShellHeadButtonOuterSpace;
	-moz-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-radius: @sapUiUfdShellHeadButtonBorderRadius;
}

.sapUiUfdShellHeadUsrItmExp {
	font-size: 16px;
    padding-right: @sapUiUfdShellHeadButtonInnerSpace;
    margin-right: @sapUiUfdShellHeadButtonOuterSpace;
    -moz-border-top-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-top-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-top-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-moz-border-bottom-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	-webkit-border-bottom-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-bottom-right-radius: @sapUiUfdShellHeadButtonBorderRadius;
	border-right: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth solid transparent;
}

.sapUiUfdShellHeadUsrItmExp:after {
	content: "\e1ef";
	font-family: 'SAP-icons';
	outline: none;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmExp {
	border-right: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-top: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
	border-bottom: @sapUiUfdShellHeadButtonOutlineWidth dotted @sapUiBaseText;
}
/* ============================================== */
/* CSS for sap.ui.unfied.ShellOverlay.control (base)*/
/* ============================================== */

@sapUiUfdShellOvrlyAnimDuration: 525ms;

@sapUiUfdShellOvrlyCntntOpenAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 1.5; 
@sapUiUfdShellOvrlyCntntOpenAnimDelay: 75ms;
@sapUiUfdShellOvrlyCntntCloseAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 1.5;
@sapUiUfdShellOvrlyCntntInnerOpenAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 3;
@sapUiUfdShellOvrlyCntntInnerOpenAnimDelay: @sapUiUfdShellOvrlyCntntOpenAnimDuration / 1.5 + @sapUiUfdShellOvrlyCntntOpenAnimDelay;
@sapUiUfdShellOvrlyCntntInnerCloseAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 3;
@sapUiUfdShellOvrlyCntntInnerCloseAnimDelay: 0;
@sapUiUfdShellOvrlyCntntCloseAnimDelay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration + @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
@sapUiUfdShellOvrlySearchOpenAnimDuration: @sapUiUfdShellOvrlyAnimDuration;
@sapUiUfdShellOvrlySearchCloseAnimDuration: @sapUiUfdShellOvrlyAnimDuration;
@sapUiUfdShellOvrlyBlockLayerAnimDuration: @sapUiUfdShellOvrlyAnimDuration / 2.5;

@sapUiUfdShellOvrlyOpenAnimOverAll: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay + @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
@sapUiUfdShellOvrlyCloseAnimOverAll: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration + @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay + @sapUiUfdShellOvrlyCntntCloseAnimDuration;

@sapUiUfdShellOvrlyHeadHeight: @sapUiUfdShellHeadHeight;
@sapUiUfdShellOvrlyBrandHeight: @sapUiUfdShellBrandHeight;


.sapUiUfdShellOvrly {
	position: absolute;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sapUiUfdShellOvrly > div {
	height: 100%;
	width: 80%;
	max-width: 1120px; /*70rem*/
	display: inline-block;
	position: relative;
	text-align: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sapUiMedia-Std-Tablet .sapUiUfdShellOvrly > div {
	width: 94%;
}

.sapUiMedia-Std-Phone .sapUiUfdShellOvrly > div {
	width: 100%;
}

.sapUiUfdShellOvrlyHead {
	height: @sapUiUfdShellOvrlyHeadHeight;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.sapUiUfdShellOvrlyBrand {
	position: absolute;
	top: 0;
	height: @sapUiUfdShellOvrlyBrandHeight;
	left: 0;
	right: 0;
	border: medium none;
	margin: 0;
}

.sapUiUfdShellOvrlyHeadClose {
	cursor: pointer;
	right: 24px;
	position: absolute;
	opacity: 1;
	text-decoration: none;
	font-size: 14px;
	top: 0px;
	height: 100%;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sapUiUfdShellOvrlyHeadClose,
.sapUiUfdShellOvrlyHeadClose:active,
.sapUiUfdShellOvrlyHeadClose:hover,
.sapUiUfdShellOvrlyHeadClose:focus,
.sapUiUfdShellOvrlyHeadClose:visited {
	color: @sapUiBaseText;
}

.sapUiUfdShellOvrlyCntnt {
	background-color: white;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: @sapUiUfdShellOvrlyHeadHeight solid transparent;
	box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
}

.sapUiUfdShellOvrlyCntnt > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyCntnt {
	top: -100%;
	bottom: 100%;
}

.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyCntnt > div {
	opacity: 0;
}

.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyHeadClose {
	opacity: 0;
}

.sapUiUfdShellOvrlyHeadCntnt {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: @sapUiUfdShellOvrlyBrandHeight;
}

.sapUiUfdShellOvrlyHeadCenter {
	position: absolute;
	height: 100%;
	left: 90px;
	right: 90px;
	top: 0;
	text-align: center;
}

.sapUiMedia-Std-Phone .sapUiUfdShellOvrlyHeadCenter {
	left: 5px;
}

.sapUiUfdShellOvrlySearch {
	display: inline-block;
	position: relative;
	width: 95%;
	max-width: 600px;
	height: 100%;
	line-height: @sapUiUfdShellHeaderBarHeight - @sapUiUfdShellHeaderBarHeight/10;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}

.sapUiUfdShellOvrlySearch > div {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrly > div {
	-webkit-transition-property: width;
	transition-property: width;
	-moz-transition-property: width;
	-webkit-transition-duration: @sapUiUfdShellOvrlyAnimDuration / 3;
	transition-duration: @sapUiUfdShellOvrlyAnimDuration / 3;
	-moz-transition-duration: @sapUiUfdShellOvrlyAnimDuration / 3;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntOpenAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntOpenAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntOpenAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntOpenAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntOpenAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntOpenAnimDelay;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntCloseAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntCloseAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntCloseAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntCloseAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntCloseAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntCloseAnimDelay;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt,
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-timing-function: cubic-bezier(0,0,0,1);
	transition-timing-function: cubic-bezier(0,0,0,1);
	-moz-transition-timing-function: cubic-bezier(0,0,0,1);
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyCntnt {
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-moz-transition-property: top, bottom;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt > div {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntInnerOpenAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntInnerOpenAnimDelay;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt > div {
	-webkit-transition-duration: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyCntntInnerCloseAnimDuration;
	-webkit-transition-delay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
	transition-delay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
	-moz-transition-delay: @sapUiUfdShellOvrlyCntntInnerCloseAnimDelay;
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyCntnt > div {
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-property: opacity;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlySearch {
	-webkit-transition-duration: @sapUiUfdShellOvrlySearchOpenAnimDuration;
	transition-duration: @sapUiUfdShellOvrlySearchOpenAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlySearchOpenAnimDuration;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
}

.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlySearch {
	-webkit-transition-duration: @sapUiUfdShellOvrlySearchCloseAnimDuration;
	transition-duration: @sapUiUfdShellOvrlySearchCloseAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlySearchCloseAnimDuration;
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlySearch {
	-webkit-transition-property: width;
	transition-property: width;
	-moz-transition-property: width;
}

.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyHeadClose {
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-property: opacity;
	-webkit-transition-duration: @sapUiUfdShellOvrlyAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyAnimDuration;
}

.sapUiBLy.sapUiUfdShellOvrlyBly {
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-property: all;
	-webkit-transition-duration: @sapUiUfdShellOvrlyBlockLayerAnimDuration;
	transition-duration: @sapUiUfdShellOvrlyBlockLayerAnimDuration;
	-moz-transition-duration: @sapUiUfdShellOvrlyBlockLayerAnimDuration;
}

.sapUiBLy.sapUiUfdShellOvrlyBly.sapUiUfdShellOvrlyBlyTp {
	background-color: transparent;
}
/** TODO: Move to global.css in core (pending discussion with Jens P and Michael S)
/* The animation duration must be in ms so it returns the correct integer value when used with parseInt */
@sapUiUfdSplitContAnimationDuration: 500ms;

.sapUiUfdSpltCont {
	overflow: hidden;
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}


.sapUiUfdSpltContAnim .sapUiUfdSpltContCanvas,
.sapUiUfdSpltContAnim .sapUiUfdSpltContPane {
	transition: height @sapUiUfdSplitContAnimationDuration ease 0ms, width @sapUiUfdSplitContAnimationDuration ease 0ms, left @sapUiUfdSplitContAnimationDuration ease 0ms, top @sapUiUfdSplitContAnimationDuration ease 0ms;
	-webkit-transition: height @sapUiUfdSplitContAnimationDuration ease 0ms, width @sapUiUfdSplitContAnimationDuration ease 0ms, left @sapUiUfdSplitContAnimationDuration ease 0ms, top @sapUiUfdSplitContAnimationDuration ease 0ms;
}

.sapUiUfdSpltContPane {
	background-color: @sapUiWhiteBG;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.sapUiUfdSpltContPane.sapUiUfdSplitContSecondClosed > div {
	display: none;
}

.sapUiUfdSpltContCanvas {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.sapUiUfdSpltContCntnt {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sapUiUfdSpltContPad {
	padding: 10px;
}

.sapUiUfdSpltContH {}

.sapUiUfdSpltContH .sapUiUfdSpltContPane {
	border-right: 1px solid @sapUiMediumBorder;
	bottom: 0;
}


.sapUiUfdSpltContV {}

.sapUiUfdSpltContV .sapUiUfdSpltContPane {
	border-bottom: 1px solid @sapUiMediumBorder;
	right: 0;
}

