
/* SAP UI development toolkit for HTML5 (SAPUI5/OpenUI5)
 * (c) Copyright 2009-2014 SAP AG or an SAP affiliate company. 
 * Licensed under the Apache License, Version 2.0 - see LICENSE.txt.
 * 
 *//* Global CSS for 'base' theme */

// $BEGIN_BASE_LESS$

@sapBrandColor: #000;
@sapHighlightColor: #fff;
@sapBaseColor: #ddd;
@sapShellColor: #000;
@sapBackgroundColor: #fff;

@sapTextColor: #000;
@sapLinkColor: #000;

@sapCompanyLogo: none;
@sapBackgroundImage: none;
@sapBackgroundImageOpacity: 1.0;
@sapBackgroundImageRepeat: false;

@sapSelectedColor: @sapHighlightColor;
@sapActiveColor: @sapHighlightColor;
@sapHighlightTextColor: contrast(@sapHighlightColor, @sapTextColor, #fff);
@sapTitleColor: contrast(@sapBaseColor, lighten(@sapTextColor,20), #fff);
@sapNegativeColor: #d0001d;
@sapCriticalColor: #fffcb5;
@sapPositiveColor: #008a3b;
@sapNeutralColor: #306898;

@sapContent_LabelColor: @sapTextColor;
@sapContent_DisabledTextColor: lighten(@sapTextColor, 60);
@sapContent_ForegroundColor: darken(saturate(@sapBaseColor, 2), 14);
@sapContent_ForegroundBorderColor: darken(desaturate(@sapContent_ForegroundColor, 16), 12);
@sapContent_ForegroundTextColor: @sapTextColor;

@sapShell_Background: darken(saturate(@sapBaseColor, 4), 43);
@sapShell_BorderColor: darken(saturate(@sapShell_Background, 6), 11);
@sapShell_TextColor: contrast(@sapShell_Background, @sapTextColor, #fff);

@sapButton_Background: white;
@sapButton_BorderColor: black;
@sapButton_TextColor: @sapTextColor;
@sapButton_Disabled_Background: lighten(desaturate(@sapButton_Background, 45), 5);
@sapButton_Disabled_BorderColor: lighten(@sapButton_TextColor,58);
@sapButton_Disabled_TextColor: contrast(@sapButton_Disabled_Background, lighten(@sapButton_TextColor, 51), darken(#fff, 47));
@sapButton_Hover_Background: darken(desaturate(@sapHighlightColor, 5), 18);
@sapButton_Hover_BorderColor: darken(@sapButton_BorderColor, 39);
@sapButton_Hover_TextColor: contrast(@sapButton_Hover_Background, @sapButton_TextColor, #fff);
@sapButton_Emphasized_Background: @sapButton_Background;
@sapButton_Emphasized_BorderColor: darken(@sapButton_BorderColor, 39);
@sapButton_Emphasized_TextColor: contrast(@sapButton_Emphasized_Background, @sapButton_TextColor, #fff);
@sapButton_Reject_Background: @sapNegativeColor;
@sapButton_Accept_Background: @sapPositiveColor;

@sapField_Background: #fff;
@sapField_BorderColor: darken(desaturate(@sapBaseColor, 46), 28);
@sapField_HelpBackground: desaturate(@sapBaseColor, 24);
@sapField_Hover_Background: @sapField_Background;
@sapField_Hover_BorderColor: @sapField_BorderColor;
@sapField_Hover_HelpBackground: @sapField_Hover_BorderColor;   //check
@sapField_Focus_Background: #fef09e;
@sapField_Focus_BorderColor: @sapField_BorderColor;
@sapField_Focus_HelpBackground: @sapField_Focus_Background;   //check
@sapField_ReadOnly_Background: @sapField_Background;   //check
@sapField_ReadOnly_BorderColor: @sapField_BorderColor;   //check
@sapField_ReadOnly_HelpBackground: @sapField_ReadOnly_Background;   //check
@sapField_Disabled_Background: @sapField_ReadOnly_Background;
@sapField_Disabled_BorderColor: lighten(saturate(@sapField_BorderColor, 10), 14);
@sapField_Disabled_HelpBackground: @sapField_Disabled_Background;   //check
@sapField_RequiredColor: #d0001d;
@sapField_InvalidColor: #d0001d;
@sapField_InvalidBackground: lighten(desaturate(@sapField_InvalidColor, 31), 54);
@sapField_WarningColor: #fffcb5;
@sapField_WarningBackground: lighten(desaturate(@sapField_WarningColor, 31), 54);
@sapField_SuccessColor: green;
@sapField_SuccessBackground: lighten(desaturate(@sapField_SuccessColor, 31), 54);

@sapGroup_TitleBackground: @sapBaseColor;
@sapGroup_TitleBorderColor: darken(desaturate(@sapGroup_TitleBackground, 9), 12);
@sapGroup_TitleTextColor: @sapTextColor;
@sapGroup_ContentBackground: @sapField_Background;
@sapGroup_ContentBorderColor: darken(desaturate(@sapGroup_TitleBorderColor,9),9);
@sapGroup_FooterBackground: @sapGroup_TitleBackground;

@sapToolbar_Background: @sapGroup_TitleBackground;
@sapToolbar_SeparatorColor: #fff;

@sapList_HeaderBackground: lighten(desaturate(@sapBaseColor, 39), 1);
@sapList_HeaderBorderColor: @sapList_BorderColor;
@sapList_HeaderTextColor: contrast(@sapList_HeaderBackground, darken(@sapBaseColor,67), #fff);
@sapList_BorderColor: darken(desaturate(@sapBaseColor, 32), 3);
@sapList_HighlightColor: @sapHighlightColor;
@sapList_SelectionBackgroundColor: @sapHighlightColor;
@sapList_Hover_Background: mix(@sapHighlightColor, #fff, 10.35%);

@sapScrollBar_FaceColor: lighten(@sapGroup_TitleBackground, 4);
@sapScrollBar_TrackColor: lighten(desaturate(@sapBackgroundColor, 7), 3);
@sapScrollBar_BorderColor: desaturate(spin(@sapScrollBar_FaceColor, 7), 11);
@sapScrollBar_SymbolColor: darken(desaturate(@sapScrollBar_FaceColor, 32), 59);

// $END_BASE_LESS$

// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundBorderColor: #A6A6A6;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
// @sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
// @sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
// @sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: red;
@sapUiButtonAcceptBackground: green;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: #BFBFBF;
@sapUiFieldHelpBackground: @sapField_Background;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Background;
@sapUiFieldReadOnlyBackground: #808080;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: #808080;
@sapUiFieldDisabledBackground: @sapField_Background;
@sapUiFieldDisabledBorderColor: @sapField_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Background;
@sapUiFieldRequiredColor: @sapField_BorderColor;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldInvalidBackground: #FF9A90;
@sapUiFieldWarningColor: #FFFF00;
@sapUiFieldWarningBackground: #FAF2B0;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiListHeaderBorderColor: #000000;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiListSelectionBackgroundColor: @sapUiHighlight;


// Brand Colors
@sapUiBrand: #F0AB00;     // SAP Gold #f0ab00
@sapUiHighlight: #111177;
@sapUiSelected: @sapUiHighlight;
@sapUiActive: @sapUiHighlight;

// Accent Colors
@sapUiPurple: purple;
@sapUiOrange: orange;
@sapUiGreen: green;
@sapUiBlue: blue;
@sapUiRed: red;
@sapUiYellow: yellow;

// Base Colors
@sapUiBase: darken(@sapBaseColor, 100);			// #000000
@sapUiBaseBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiBaseBorder: @sapUiBase;
@sapUiBaseText: @sapTextColor;
@sapUiBaseLine: @sapUiBase;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: lightgray;
@sapUiMediumBG: gray;
@sapUiDarkBG: darkgray;
@sapUiDeepBG: black;
@sapUiBlackBG: #000000;

// Tinted Backgrounds
@sapUiHoverBG: grey;
@sapUiMediumAltBG: grey;
@sapUiDarkAltBG: darkgrey;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: yellow;
@sapUiButtonNegativeBG: red;
@sapUiButtonPositiveBG: green;

// Semantic Background Colors
@sapUiErrorBG: #FF9A90;
@sapUiWarningBG: #FAF2B0;
@sapUiReadOnlyBG: grey;

// Text Colors
@sapUiExtraLightText: lightgray;
@sapUiLightText: lightgray;
@sapUiMediumText: grey;
@sapUiDarkText: darkgrey;
@sapUiDeepText: black;
@sapUiText: @sapUiBaseText; // black
@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

// Link
@sapUiLink: #0000FF;
@sapUiLinkInverted: @sapUiLink;
@sapUiLinkVisited: #800080;               // the color for a vistited link
@sapUiLinkActive: #FF0000;                // the color for a link while being clicked
@sapUiLinkHover: #FF0000;                 // the color for a link while being hovered

// Semantic Text Colors
@sapUiNegativeText: red;
@sapUiPositiveText: #B5E7A8;

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff
@sapUiExtraLightBorder: lightgrey;
@sapUiLightBorder: grey;
@sapUiMediumBorder: @sapUiBaseBorder;
@sapUiDarkBorder: @sapUiBaseBorder;
@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);	// #000000

// Semantic Border Colors
@sapUiErrorBorder: red;
@sapUiWarningBorder: yellow;

// Line Colors
@sapUiLightLine: lightgrey;
@sapUiMediumLine: grey;
@sapUiEmphasizedLine: @sapUiHighlight;
@sapUiDarkLine: darkgrey;

// Table Colors
@sapUiTableRowBG: @sapUiWhite;
@sapUiTableRowAlternatingBG: @sapUiWhite;
@sapUiTableRowSelectionBG: @sapUiHighlight;
@sapUiTableRowSelectionReadOnlyBG: @sapUiHighlight;
@sapUiTableRowHoverBG: @sapUiHoverBG;

// MOBILE-specific, but still very global-like:
@sapUiListBG: #f7f7f7;


/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
@sapUiTextColor: green; /* may be required by SubstitutionRulesManager.css in inbox lib */
@sapUiTextTitleColor: green;
@sapUiTextSelectionColor: green;

/* ---------------------------------------------------------------------------------------- */

@sapUiTextDisabled: lighten(@sapUiText, 60%); // the color for disabled text
@sapUiTextTitle: @sapUiBaseText;  // the text color for titles of all kinds
@sapUiTextSelection: @sapUiTextInverted; // the color for selected text
@sapUiTextfieldBackground: @sapUiWhite; // better to have an own parameter insted of using sapUiWhite

@sapUiLineHeight: 21px;

@sapUiFontFamily: Arial,Helvetica,sans-serif;  // the default font
@sapUiFontMonospaceFamily: Lucida Console;     // the default monospacefont
@sapUiFontSize: medium;                        // the default font size
@sapUiFontLargeSize: large;                    // TODO: might also be title font size
@sapUiFontSmallSize: small;
@sapUiFontHeader1Size: xx-large;
@sapUiFontHeader2Size: x-large;
@sapUiFontHeader3Size: @sapUiFontLargeSize;
@sapUiFontHeader4Size: @sapUiFontSize;
@sapUiFontHeader5Size: @sapUiFontSize;
@sapUiFontHeader6Size: @sapUiFontSize;


// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiBaseText;
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
@sapUiUx3ShellSideBarBaseWidth:       40px;
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
@sapUiUx3ShellPaneOverflowButtonHeight: 120px;

@sapUiUx3ExactLstExpandOffset: 0 0;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstCollapseWidth: 24px;
@sapUiUx3ExactLstHeaderHeight: 25px;
@sapUiUx3ExactLstContentTop: @sapUiUx3ExactLstHeaderHeight;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiText, @sapUiTextInverted);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiText,33), darken(@sapUiTextInverted,33));
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"true"; /* Telling the ToolPopup if it's inverted per default */
@sapUiUx3ToolPopupArrowWidth: 13px;
@sapUiUx3ToolPopupArrowHeight: 20px;
@sapUiUx3ToolPopupArrowRightMarginCorrection: -2px;
@sapUiUx3ToolPopupArrowRightMarginCorrectionInverted: -7px;
@sapUiUx3TPPaddingBottom: 50px;


// @sapUiButtonBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
// @sapUiButtonBackground: @sapUiButtonStandardBG; // to be renamed????
// @sapUiButtonDisabledBorderColor: @sapUiMediumBorder; // needed because different in GR, HCB and UX
@sapUiButtonDisabledBackground: @sapUiExtraLightBG; // needed, different in every theme
// @sapUiButtonHoverBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonHoverBackground: @sapUiMediumBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonActiveBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonActiveBackground: @sapUiDarkBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonEmphasizedBorderColor: @sapUiButtonBorderColor;
@sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBG;
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonEmphasizedBorderColor;
@sapUiButtonEmphasizedDisabledBackground: @sapUiButtonEmphasizedBackground;
@sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonEmphasizedHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonAcceptBorderColor: @sapUiButtonBorderColor;
@sapUiButtonAcceptBackground: @sapUiButtonPositiveBG;
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptDisabledBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonAcceptActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonRejectBorderColor: @sapUiButtonBorderColor;
@sapUiButtonRejectBackground: @sapUiButtonNegativeBG;
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectDisabledBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonRejectActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiToggleButtonPressedDisabledBackground: #D8D8E8;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;

// semantic colors
@sapUiPositiveBG: @sapUiPositiveText; // no positive background defined by UX, but using text color as background may be confusing

// default shadow for popups 
@sapUiShadowTint: #000;
@sapUiShadow: 5px 5px 10px fade(@sapUiShadowTint,50%);
/* Global CSS for 'sap_hcb' theme */

// Semantic Theming Mapping
@sapUiHighlightColor: #7A5100;
@sapUiContentDisabledTextColor: #666666;
@sapUiButtonBackground: #000000;
@sapUiButtonBorderColor: #FFFFFF;
@sapUiButtonTextColor: #FFFFFF;
@sapUiButtonDisabledBackground: #000000;
@sapUiButtonDisabledBorderColor: #666666;
@sapUiButtonHoverBackground: #7A5100;
@sapUiButtonHoverBorderColor: #FFFFFF;
@sapUiButtonHoverTextColor: #FFFFFF;
@sapUiFieldBackground: #000000;
@sapUiFieldBorderColor: #FFFFFF;
@sapUiFieldHoverBorderColor: #FFFFFF;
@sapUiFieldHoverHelpBackground: @sapUiHighlightColor;
@sapUiFieldReadOnlyBackground: #585858;
@sapUiFieldReadOnlyBorderColor: #999999;
@sapUiFieldInvalidBackground: #AA0000;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldWarningBackground: #CCAA00;
@sapUiFieldWarningColor: #FFFFFF;
@sapUiFieldSuccessBackground: #00AA00;
@sapUiFieldSuccessColor: #00AA00;

@sapUiListHeaderBackground: #585858;
@sapUiListHeaderBorderColor: @sapUiBaseBorder;
@sapUiListSelectionBackgroundColor: @sapUiHighlightColor;
@sapUiListHoverBackground: @sapUiHighlightColor;

// central colors
// Brand Colors
@sapUiHighlight: @sapUiHighlightColor;

// Base Colors
@sapUiBase: #FFFFFF;
@sapUiBaseBG: #000000;
@sapUiBaseText: #FFFFFF;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #000000;
@sapUiWhiteBG: #000000;
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: @sapUiHighlight;
@sapUiMediumBG: @sapUiLightBG;
@sapUiDarkBG: @sapUiLightBG;
@sapUiDeepBG: #FFFFFF;
@sapUiBlackBG: #FFFFFF;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: @sapUiButtonStandardBG;
@sapUiButtonNegativeBG: @sapUiButtonStandardBG;
@sapUiButtonPositiveBG: @sapUiButtonStandardBG;

// Semantic Background Colors
@sapUiErrorBG: #AA0000;
@sapUiWarningBG: #CCAA00;
@sapUiReadOnlyBG: #585858;

// Link
@sapUiLink: @sapUiText;

// Semantic Text Colors
@sapUiPositiveText: #00AA00;

// Grayscale Borders
@sapUiExtraLightBorder: @sapUiBaseBorder;
@sapUiLightBorder: @sapUiBaseBorder;

// Semantic Border Colors
@sapUiWarningBorder: @sapUiBaseBorder;

// Table Colors
@sapUiTableRowBG: #000000;
@sapUiTableRowAlternatingBG: #444444;

/* ---------------------------------------------------------------------------------------- */



@sapUiTextDisabled: #666666;
@sapUiTextSelection: @sapUiText;
@sapUiTextInverted: darken(@sapUiBaseText, 100%);			// #000000;

@sapUiFontFamily: Arial,Helvetica,sans-serif;
@sapUiFontSize: 11px;
@sapUiFontLargeSize: 16px;
@sapUiFontSmallSize: 10px;
@sapUiFontHeader1Size: @sapUiFontLargeSize;
@sapUiFontHeader2Size: 13px;
@sapUiFontHeader3Size: @sapUiFontSize;
@sapUiFontHeader4Size: @sapUiFontSmallSize;
@sapUiFontHeader5Size: @sapUiFontSmallSize;
@sapUiFontHeader6Size: @sapUiFontSmallSize;

@sapUiLineHeight: 18px;

// SOME important control-specific parameters... 

/* NotificationBar */
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiTextInverted, @sapUiText);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiTextInverted,33), darken(@sapUiText,33));
@sapUiNotificationBarCalloutBorder: @sapUiBase;
@sapUiNotificationBarCalloutBorder_IE: @sapUiBase;
@sapUiNotificationBarCalloutArr: @sapUiBase;
@sapUiNotificationBarBG: @sapUiBaseBG;
@sapUiNotificationBarBG_IE: @sapUiBaseBG;
@sapUiNotifierSeparator: @sapUiBase;
@sapUiMessageNotifierCountBG: #0F5D94;

@sapUiLinkVisited: @sapUiLink;
@sapUiLinkActive: @sapUiLink;
@sapUiLinkHover: @sapUiLink;

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"false";
@sapUiUx3ToolPopupArrowRightMarginCorrection: 11px;

@sapUiButtonDisabledBorderColor: @sapUiTextDisabled; 
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonDisabledBorderColor; 
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonDisabledBorderColor; 
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonDisabledBorderColor;
@sapUiToggleButtonPressedBackground: @sapUiMediumBG;
@sapUiToggleButtonPressedDisabledBackground: @sapUiExtraLightBG;

@sapUiDatePickerTableBackground: lighten(desaturate(spin(@sapUiHighlightColor,165),18),8);
@sapUiDatePickerTableBorderColor: @sapUiDatePickerTableBackground;
/* ============================================ */
/* CSS for control sap.ui.layout/Form.control   */
/* ============================================ */

/* ============================================ */
/* CSS for control sap.ui.layout/Form.control   */
/* HCB                                          */
/* ============================================ */
/* ================================================ */
/* CSS for control sap.ui.layout/FormLayout.control */
/* ================================================ */

@sapUiFormTitleSize: ~"H3";
@sapUiFormSubTitleSize: ~"H4";

.sapUiFormLayout{
	border: 1px solid @sapUiMediumBorder;
}

.sapUiFormTitle{
	margin: 0;
}

.sapUiFormLayout > .sapUiFormContainer{
	display: block;
}

.sapUiFormTitle{
	border-bottom: 2px solid @sapUiMediumBorder;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	font-weight: bold;
	color: @sapUiTextTitle;
}

.sapUiFormTitle.sapUiFormTitleEmph{
	border-color: @sapUiHighlight;
}

/* Title levels - can not use TextView CSS from commons, because also used in mobile */
.sapUiFormTitleH1 {
	font-size: @sapUiFontHeader1Size;
	line-height: 122%;
}

.sapUiFormTitleH2 {
	font-size: @sapUiFontHeader2Size;
	line-height: 122%;
}

.sapUiFormTitleH3 {
	font-size: @sapUiFontHeader3Size;
	line-height: 122%;
}

.sapUiFormTitleH4 {
	font-size: @sapUiFontHeader4Size;
}

.sapUiFormTitleH5 {
	font-size: @sapUiFontHeader5Size;
}

.sapUiFormTitleH6 {
	font-size: @sapUiFontHeader6Size;
	color: @sapUiTextTitle;
}
/* UI5 RESPONSIVE GRID */


div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridSpan"] {
    float: left;
    overflow: hidden;
}

/* CLEAR FIX */

div[class*="sapUiRespGrid"]:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

/* GRID HORIZONTAL SPACING - 1rem */
.sapUiRespGrid.sapUiRespGridHSpace1 { 
    padding: 0 0.5rem;
}

.sapUiRespGrid.sapUiRespGridHSpace1 > div {
    margin: 0 0.5rem;
}

/* GRID HORIZONTAL SPACING - 2rem */

.sapUiRespGrid.sapUiRespGridHSpace2 {
    padding: 0 1rem;
}

.sapUiRespGrid.sapUiRespGridHSpace2 > div {
    margin: 0 1rem;
}

/* GRID VERTICAL SPACING - general */

.sapUiRespGrid.sapUiRespGridVSpace0 > div {
    margin-bottom: 0;
}

.sapUiRespGrid.sapUiRespGridVSpace1 > div {
    margin-bottom: 1rem;
}

.sapUiRespGrid.sapUiRespGridVSpace2 > div {
    margin-bottom: 2rem;
}

/* GENERAL BREAK */

.sapUiRespGridBreak { clear: both }



/* =============================== */
/*   S M A L L   C O N T E X T S   */
/* =============================== */
    
/* SPANS for SMALL contexts with 0 gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS1 {
	width: 8.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS2 {
    width: 16.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS3 {
    width: 25%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS4 {
    width: 33.333%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS5 {
    width: 41.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS6 {
    width: 50%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS7 {
    width: 58.333%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS8 {
    width: 66.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS9 {
    width: 75%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS10 {
    width: 83.333%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS11 {
    width: 91.666%
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS12 {
    width: 100%
}

/* SPANS for SMALL contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS1 {
    width: 3.333%;
    width: ~"-webkit-calc(8.333% - 1rem)";
    width: ~"calc(8.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS2 {
    width: 11.666%;
    width: ~"-webkit-calc(16.666% - 1rem)";
    width: ~"calc(16.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS3 {
    width: 20%;
    width: ~"-webkit-calc(25% - 1rem)";
    width: ~"calc(25% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS4 {
    width: 28.333%;
    width: ~"-webkit-calc(33.333% - 1rem)";
    width: ~"calc(33.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS5 {
    width: 36.666%;
    width: ~"-webkit-calc(41.666% - 1rem)";
    width: ~"calc(41.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS6 {
    width: 45%;
    width: ~"-webkit-calc(50% - 1rem)";
    width: ~"calc(50% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS7 {
    width: 53.333%;
    width: ~"-webkit-calc(58.333% - 1rem)";
    width: ~"calc(58.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS8 {
    width: 61.666%;
    width: ~"-webkit-calc(66.666% - 1rem)";
    width: ~"calc(66.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS9 {
    width: 70%;
    width: ~"-webkit-calc(75% - 1rem)";
    width: ~"calc(75% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS10 {
    width: 78.333%;
    width: ~"-webkit-calc(83.333% - 1rem)";
    width: ~"calc(83.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS11 {
    width: 86.666%;
    width: ~"-webkit-calc(91.666% - 1rem)";
    width: ~"calc(91.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS12 {
    width: 95%;
    width: ~"-webkit-calc(100% - 1rem)";
    width: ~"calc(100% - 1rem)";
}

/* SPANS for SMALL contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS1 {
    width: 0%;
    width: ~"-webkit-calc(8.333% - 2rem)";
    width: ~"calc(8.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS2 {
    width: 6.666%;
    width: ~"-webkit-calc(16.666% - 2rem)";
    width: ~"calc(16.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS3 {
    width: 15%;
    width: ~"-webkit-calc(25% - 2rem)";
    width: ~"calc(25% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS4 {
    width: 23.333%;
    width: ~"-webkit-calc(33.333% - 2rem)";
    width: ~"calc(33.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS5 {
    width: 31.666%;
    width: ~"-webkit-calc(41.666% - 2rem)";
    width: ~"calc(41.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS6 {
    width: 40%;
    width: ~"-webkit-calc(50% - 2rem)";
    width: ~"calc(50% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS7 {
    width: 48.333%;
    width: ~"-webkit-calc(58.333% - 2rem)";
    width: ~"calc(58.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS8 {
    width: 56.666%;
    width: ~"-webkit-calc(66.666% - 2rem)";
    width: ~"calc(66.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS9 {
    width: 65%;
    width: ~"-webkit-calc(75% - 2rem)";
    width: ~"calc(75% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS10 {
    width: 73.333%;
    width: ~"-webkit-calc(83.333% - 2rem)";
    width: ~"calc(83.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS11 {
    width: 81.666%;
    width: ~"-webkit-calc(91.666% - 2rem)";
    width: ~"calc(91.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS12 {
    width: 90%;
    width: ~"-webkit-calc(100% - 2rem)";
    width: ~"calc(100% - 2rem)";
}

/* INDENTS for SMALL contexts with 0rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS1 {
    margin-left: 8.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS2 {
    margin-left: 16.666%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS3 {
    margin-left: 25%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS4 {
    margin-left: 33.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS5 {
    margin-left: 41.666%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS6 {
    margin-left: 50%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS7 {
    margin-left: 58.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS8 {
    margin-left: 66.666%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS9 {
    margin-left: 75%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS10 {
    margin-left: 83.333%;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS11 {
    margin-left: 91.666%;
}

/* INDENTS for SMALL contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS1 {
    margin-left: 10.833%;
    margin-left: ~"-webkit-calc(8.333% + 0.5rem)";
    margin-left: ~"calc(8.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS2 {
    margin-left: 19.166%;
    margin-left: ~"-webkit-calc(16.666% + 0.5rem)";
    margin-left: ~"calc(16.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS3 {
    margin-left: 27.5%;
    margin-left: ~"-webkit-calc(25% + 0.5rem)";
    margin-left: ~"calc(25% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS4 {
    margin-left: 35.833%;
    margin-left: ~"-webkit-calc(33.333% + 0.5rem)";
    margin-left: ~"calc(33.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS5 {
    margin-left: 44.166%;
    margin-left: ~"-webkit-calc(41.666% + 0.5rem)";
    margin-left: ~"calc(41.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS6 {
    margin-left: 52.5%;
    margin-left: ~"-webkit-calc(50% + 0.5rem)";
    margin-left: ~"calc(50% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS7 {
    margin-left: 60.833%;
    margin-left: ~"-webkit-calc(58.333% + 0.5rem)";
    margin-left: ~"calc(58.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS8 {
    margin-left: 69.166%;
    margin-left: ~"-webkit-calc(66.666% + 0.5rem)";
    margin-left: ~"calc(66.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS9 {
    margin-left: 77.5%;
    margin-left: ~"-webkit-calc(75% + 0.5rem)";
    margin-left: ~"calc(75% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS10 {
    margin-left: 85.833%;
    margin-left: ~"-webkit-calc(83.333% + 0.5rem)";
    margin-left: ~"calc(83.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS11 {
    margin-left: 94.166%;
    margin-left: ~"-webkit-calc(91.666% + 0.5rem)";
    margin-left: ~"calc(91.666% + 0.5rem)";
}

/* INDENTS for SMALL contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS1 {
    margin-left: 13.333%;
    margin-left: ~"-webkit-calc(8.333% + 1rem)";
    margin-left: ~"calc(8.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS2 {
    margin-left: 21.666%;
    margin-left: ~"-webkit-calc(16.666% + 1rem)";
    margin-left: ~"calc(16.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS3 {
    margin-left: 30%;
    margin-left: ~"-webkit-calc(25% + 1rem)";
    margin-left: ~"calc(25% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS4 {
    margin-left: 38.333%;
    margin-left: ~"-webkit-calc(33.333% + 1rem)";
    margin-left: ~"calc(33.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS5 {
    margin-left: 46.666%;
    margin-left: ~"-webkit-calc(41.666% + 1rem)";
    margin-left: ~"calc(41.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS6 {
    margin-left: 55%;
    margin-left: ~"-webkit-calc(50% + 1rem)";
    margin-left: ~"calc(50% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS7 {
    margin-left: 63.333%;
    margin-left: ~"-webkit-calc(58.333% + 1rem)";
    margin-left: ~"calc(58.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS8 {
    margin-left: 71.666%;
    margin-left: ~"-webkit-calc(66.666% + 1rem)";
    margin-left: ~"calc(66.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS9 {
    margin-left: 80%;
    margin-left: ~"-webkit-calc(75% + 1rem)";
    margin-left: ~"calc(75% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS10 {
    margin-left: 88.333%;
    margin-left: ~"-webkit-calc(83.333% + 1rem)";
    margin-left: ~"calc(83.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS11 {
    margin-left: 96.666%;
    margin-left: ~"-webkit-calc(91.666% + 1rem)";
    margin-left: ~"calc(91.666% + 1rem)";
}

/* MOVE LEFT for SMALL contexts */

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS1 { left: 8.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS2{ left: 16.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS3 { left: 25%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS4 { left: 33.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS5 { left: 41.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS6 { left: 50%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS7 { left: 58.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS { left: 66.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS9 { left: 75%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS10 { left: 83.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS11 { left: 91.666%; }


/* MOVE RIGHT for SMALL contexts */

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS1 { right: 8.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS2 { right: 16.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS3 { right: 25%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS4 { right: 33.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS5 { right: 41.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS6 { right: 50%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS7 { right: 58.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS8 { right: 66.666%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS9 { right: 75%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS10 { right: 83.333%; }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS11 { right: 91.666%; }



/* SHOW and HIDE for LARGE contexts */

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleL { display: none }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleM { display: none }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleS { display: block }



.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenL { display: block }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenM { display: block }

.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenS { display: none }


/* BREAK for SMALL contexts */
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBreakS { clear: both }



/* =============================== */
/*   M E D I U M   D E V I C E S   */
/* =============================== */

/* SPANS for MEDIUM contexts with 0 gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM1 {
    width: 8.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM2 {
    width: 16.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM3 {
    width: 25%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM4 {
    width: 33.333%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM5 {
    width: 41.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM6 {
    width: 50%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM7 {
    width: 58.333%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM8 {
    width: 66.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM9 {
    width: 75%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM10 {
    width: 83.333%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM11 {
    width: 91.666%
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM12 {
    width: 100%
}

/* SPAN for MEDIUM contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM1 {
    width: 5.666%;
    width: ~"-webkit-calc(8.333% - 1rem)";
    width: ~"calc(8.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM2 {
    width: 13.999%;
    width: ~"-webkit-calc(16.666% - 1rem)";
    width: ~"calc(16.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM3 {
    width: 22.333%;
    width: ~"-webkit-calc(25% - 1rem)";
    width: ~"calc(25% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM4 {
    width: 30.666%;
    width: ~"-webkit-calc(33.333% - 1rem)";
    width: ~"calc(33.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM5 {
    width: 38.999%;
    width: ~"-webkit-calc(41.666% - 1rem)";
    width: ~"calc(41.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM6 {
    width: 47.333%;
    width: ~"-webkit-calc(50% - 1rem)";
    width: ~"calc(50% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM7 {
    width: 55.666%;
    width: ~"-webkit-calc(58.333% - 1rem)";
    width: ~"calc(58.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM8 {
    width: 63.999%;
    width: ~"-webkit-calc(66.666% - 1rem)";
    width: ~"calc(66.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM9 {
    width: 72.333%;
    width: ~"-webkit-calc(75% - 1rem)";
    width: ~"calc(75% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM10 {
    width: 80.666%;
    width: ~"-webkit-calc(83.333% - 1rem)";
    width: ~"calc(83.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM11 {
    width: 88.999%;
    width: ~"-webkit-calc(91.666% - 1rem)";
    width: ~"calc(91.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM12 {
    width: 97.333%;
    width: ~"-webkit-calc(100% - 1rem)";
    width: ~"calc(100% - 1rem)";
}

/* SPAN for MEDIUM contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM1 {
    width: 3%;
    width: ~"-webkit-calc(8.333% - 2rem)";
    width: ~"calc(8.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM2 {
    width: 11.333%;
    width: ~"-webkit-calc(16.666% - 2rem)";
    width: ~"calc(16.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM3 {
    width: 19.667%;
    width: ~"-webkit-calc(25% - 2rem)";
    width: ~"calc(25% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM4 {
    width: 28%;
    width: ~"-webkit-calc(33.333% - 2rem)";
    width: ~"calc(33.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM5 {
    width: 36.333%;
    width: ~"-webkit-calc(41.666% - 2rem)";
    width: ~"calc(41.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM6 {
    width: 44.667%;
    width: ~"-webkit-calc(50% - 2rem)";
    width: ~"calc(50% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM7 {
    width: 53%;
    width: ~"-webkit-calc(58.333% - 2rem)";
    width: ~"calc(58.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM8 {
    width: 61.333%;
    width: ~"-webkit-calc(66.666% - 2rem)";
    width: ~"calc(66.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM9 {
    width: 69.667%;
    width: ~"-webkit-calc(75% - 2rem)";
    width: ~"calc(75% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM10 {
    width: 78%;
    width: ~"-webkit-calc(83.333% - 2rem)";
    width: ~"calc(83.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM11 {
    width: 86.333%;
    width: ~"-webkit-calc(91.666% - 2rem)";
    width: ~"calc(91.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM12 {
    width: 94.667%;
    width: ~"-webkit-calc(100% - 2rem)";
    width: ~"calc(100% - 2rem)";
}

/* INDENTS for MEDIUM contexts with 0rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM1 {
    margin-left: 8.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM2 {
    margin-left: 16.666%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM3 {
    margin-left: 25%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM4 {
    margin-left: 33.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM5 {
    margin-left: 41.666%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM6 {
    margin-left: 50%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM7 {
    margin-left: 58.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM8 {
    margin-left: 66.666%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM9 {
    margin-left: 75%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM10 {
    margin-left: 83.333%;
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM11 {
    margin-left: 91.666%;
}

/* INDENTS for MEDIUM contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM1 {
    margin-left: 9.666%;
    margin-left: ~"-webkit-calc(8.333% + 0.5rem)";
    margin-left: ~"calc(8.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM2 {
    margin-left: 17.999%;
    margin-left: ~"-webkit-calc(16.666% + 0.5rem)";
    margin-left: ~"calc(16.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM3 {
    margin-left: 26.333%;
    margin-left: ~"-webkit-calc(25% + 0.5rem)";
    margin-left: ~"calc(25% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM4 {
    margin-left: 34.666%;
    margin-left: ~"-webkit-calc(33.333% + 0.5rem)";
    margin-left: ~"calc(33.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM5 {
    margin-left: 42.999%;
    margin-left: ~"-webkit-calc(41.666% + 0.5rem)";
    margin-left: ~"calc(41.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM6 {
    margin-left: 51.333%;
    margin-left: ~"-webkit-calc(50% + 0.5rem)";
    margin-left: ~"calc(50% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM7 {
    margin-left: 59.666%;
    margin-left: ~"-webkit-calc(58.333% + 0.5rem)";
    margin-left: ~"calc(58.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM8 {
    margin-left: 67.999%;
    margin-left: ~"-webkit-calc(66.666% + 0.5rem)";
    margin-left: ~"calc(66.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM9 {
    margin-left: 76.333%;
    margin-left: ~"-webkit-calc(75% + 0.5rem)";
    margin-left: ~"calc(75% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM10 {
    margin-left: 84.666%;
    margin-left: ~"-webkit-calc(83.333% + 0.5rem)";
    margin-left: ~"calc(83.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM11 {
    margin-left: 92.999%;
    margin-left: ~"-webkit-calc(91.666% + 0.5rem)";
    margin-left: ~"calc(91.666% + 0.5rem)";
}

/* INDENTS for MEDIUM contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM1 {
    margin-left: 11%;
    margin-left: ~"-webkit-calc(8.333% + 1rem)";
    margin-left: ~"calc(8.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM2 {
    margin-left: 19.333%;
    margin-left: ~"-webkit-calc(16.666% + 1rem)";
    margin-left: ~"calc(16.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM3 {
    margin-left: 27.667%;
    margin-left: ~"-webkit-calc(25% + 1rem)";
    margin-left: ~"calc(25% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM4 {
    margin-left: 36%;
    margin-left: ~"-webkit-calc(33.333% + 1rem)";
    margin-left: ~"calc(33.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM5 {
    margin-left: 44.333%;
    margin-left: ~"-webkit-calc(41.666% + 1rem)";
    margin-left: ~"calc(41.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM6 {
    margin-left: 52.667%;
    margin-left: ~"-webkit-calc(50% + 1rem)";
    margin-left: ~"calc(50% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM7 {
    margin-left: 61%;
    margin-left: ~"-webkit-calc(58.333% + 1rem)";
    margin-left: ~"calc(58.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM8 {
    margin-left: 69.333%;
    margin-left: ~"-webkit-calc(66.666% + 1rem)";
    margin-left: ~"calc(66.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM9 {
    margin-left: 77.667%;
    margin-left: ~"-webkit-calc(75% + 1rem)";
    margin-left: ~"calc(75% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM10 {
    margin-left: 86%;
    margin-left: ~"-webkit-calc(83.333% + 1rem)";
    margin-left: ~"calc(83.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM11 {
    margin-left: 94.333%;
    margin-left: ~"-webkit-calc(91.666% + 1rem)";
    margin-left: ~"calc(91.666% + 1rem)";
}

/* MOVE LEFT for MEDIUM contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM1 { left: 8.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM2 { left: 16.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM3 { left: 25%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM4 { left: 33.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM5 { left: 41.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM6 { left: 50%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM7 { left: 58.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM8 { left: 66.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM9 { left: 75%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM10 { left: 83.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM11 { left: 91.666%; }


/* MOVE RIGHT for MEDIUM contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM1 { right: 8.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM2 { right: 16.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM3 { right: 25%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM4 { right: 33.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM5 { right: 41.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM6 { right: 50%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM7 { right: 58.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM8 { right: 66.666%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM9 { right: 75%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM10 { right: 83.333%; }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM11 { right: 91.666%; }



/* SHOW and HIDE for LARGE contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleL { display: none }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleM { display: block }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleS { display: none }


.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenL { display: block }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenM { display: none }

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenS { display: block }


/* BREAK for MEDIUM contexts */

.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBreakM { clear: both }



/* ============================= */
/*   L A R G E   D E V I C E S   */
/* ============================= */

/* SPANS for LARGE contexts with 0 gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL1 {
    width: 8.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL2 {
    width: 16.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL3 {
    width: 25%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL4 {
    width: 33.333%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL5 {
    width: 41.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL6 {
    width: 50%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL7 {
    width: 58.333%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL8 {
    width: 66.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL9 {
    width: 75%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL10 {
    width: 83.333%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL11 {
    width: 91.666%
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL12 {
    width: 100%
}

/* SPANS for LARGE contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL1 {
    width: 6.7705%;
    width: ~"-webkit-calc(8.333% - 1rem)";
    width: ~"calc(8.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL2 {
    width: 15.1035%;
    width: ~"-webkit-calc(16.666% - 1rem)";
    width: ~"calc(16.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL3 {
    width: 23.4375%;
    width: ~"-webkit-calc(25% - 1rem)";
    width: ~"calc(25% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL4 {
    width: 31.7705%;
    width: ~"-webkit-calc(33.333% - 1rem)";
    width: ~"calc(33.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL5 {
    width: 40.1035%;
    width: ~"-webkit-calc(41.666% - 1rem)";
    width: ~"calc(41.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL6 {
    width: 48.4375%;
    width: ~"-webkit-calc(50% - 1rem)";
    width: ~"calc(50% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL7 {
    width: 56.7705%;
    width: ~"-webkit-calc(58.333% - 1rem)";
    width: ~"calc(58.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL8 {
    width: 65.1035%;
    width: ~"-webkit-calc(66.666% - 1rem)";
    width: ~"calc(66.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL9 {
    width: 73.4375%;
    width: ~"-webkit-calc(75% - 1rem)";
    width: ~"calc(75% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL10 {
    width: 81.7705%;
    width: ~"-webkit-calc(83.333% - 1rem)";
    width: ~"calc(83.333% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL11 {
    width: 90.1035%;
    width: ~"-webkit-calc(91.666% - 1rem)";
    width: ~"calc(91.666% - 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL12 {
    width: 98.4375%;
    width: ~"-webkit-calc(100% - 1rem)";
    width: ~"calc(100% - 1rem)";
}

/* SPANS for LARGE contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL1 {
    width: 5.208%;
    width: ~"-webkit-calc(8.333% - 2rem)";
    width: ~"calc(8.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL2 {
    width: 13.541%;
    width: ~"-webkit-calc(16.666% - 2rem)";
    width: ~"calc(16.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL3 {
    width: 21.875%;
    width: ~"-webkit-calc(25% - 2rem)";
    width: ~"calc(25% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL4 {
    width: 30.208%;
    width: ~"-webkit-calc(33.333% - 2rem)";
    width: ~"calc(33.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL5 {
    width: 38.541%;
    width: ~"-webkit-calc(41.666% - 2rem)";
    width: ~"calc(41.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL6 {
    width: 46.875%;
    width: ~"-webkit-calc(50% - 2rem)";
    width: ~"calc(50% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL7 {
    width: 55.208%;
    width: ~"-webkit-calc(58.333% - 2rem)";
    width: ~"calc(58.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL8 {
    width: 63.541%;
    width: ~"-webkit-calc(66.666% - 2rem)";
    width: ~"calc(66.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL9 {
    width: 71.875%;
    width: ~"-webkit-calc(75% - 2rem)";
    width: ~"calc(75% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL10 {
    width: 80.208%;
    width: ~"-webkit-calc(83.333% - 2rem)";
    width: ~"calc(83.333% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL11 {
    width: 88.541%;
    width: ~"-webkit-calc(91.666% - 2rem)";
    width: ~"calc(91.666% - 2rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL12 {
    width: 96.875%;
    width: ~"-webkit-calc(100% - 2rem)";
    width: ~"calc(100% - 2rem)";
}

/* INDENTS for LARGE contexts with 0rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL1 {
    margin-left: 8.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL2 {
    margin-left: 16.666%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL3 {
    margin-left: 25%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL4 {
    margin-left: 33.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL5 {
    margin-left: 41.666%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL6 {
    margin-left: 50%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL7 {
    margin-left: 58.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL8 {
    margin-left: 66.666%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL9 {
    margin-left: 75%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL10 {
    margin-left: 83.333%;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL11 {
    margin-left: 91.666%;
}

/* INDENTS for LARGE contexts with 1rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL1 {
    margin-left: 9.11425%;
    margin-left: ~"-webkit-calc(8.333% + 0.5rem)";
    margin-left: ~"calc(8.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL2 {
    margin-left: 17.44725%;
    margin-left: ~"-webkit-calc(16.666% + 0.5rem)";
    margin-left: ~"calc(16.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL3 {
    margin-left: 25.78125%;
    margin-left: ~"-webkit-calc(25% + 0.5rem)";
    margin-left: ~"calc(25% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL4 {
    margin-left: 34.11425%;
    margin-left: ~"-webkit-calc(33.333% + 0.5rem)";
    margin-left: ~"calc(33.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL5 {
    margin-left: 42.44725%;
    margin-left: ~"-webkit-calc(41.666% + 0.5rem)";
    margin-left: ~"calc(41.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL6 {
    margin-left: 50.78125%;
    margin-left: ~"-webkit-calc(50% + 0.5rem)";
    margin-left: ~"calc(50% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL7 {
    margin-left: 59.11425%;
    margin-left: ~"-webkit-calc(58.333% + 0.5rem)";
    margin-left: ~"calc(58.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL8 {
    margin-left: 67.44725%;
    margin-left: ~"-webkit-calc(66.666% + 0.5rem)";
    margin-left: ~"calc(66.666% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL9 {
    margin-left: 75.78125%;
    margin-left: ~"-webkit-calc(75% + 0.5rem)";
    margin-left: ~"calc(75% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL10 {
    margin-left: 84.11425%;
    margin-left: ~"-webkit-calc(83.333% + 0.5rem)";
    margin-left: ~"calc(83.333% + 0.5rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL11 {
    margin-left: 92.44725%;
    margin-left: ~"-webkit-calc(91.666% + 0.5rem)";
    margin-left: ~"calc(91.666% + 0.5rem)";
}

/* INDENTS for LARGE contexts with 2rem gutter */

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL1 {
    margin-left: 9.8955%;
    margin-left: ~"-webkit-calc(8.333% + 1rem)";
    margin-left: ~"calc(8.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL2 {
    margin-left: 18.2285%;
    margin-left: ~"-webkit-calc(16.666% + 1rem)";
    margin-left: ~"calc(16.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL3 {
    margin-left: 26.5625%;
    margin-left: ~"-webkit-calc(25% + 1rem)";
    margin-left: ~"calc(25% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL4 {
    margin-left: 34.8955%;
    margin-left: ~"-webkit-calc(33.333% + 1rem)";
    margin-left: ~"calc(33.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL5 {
    margin-left: 43.2285%;
    margin-left: ~"-webkit-calc(41.666% + 1rem)";
    margin-left: ~"calc(41.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL6 {
    margin-left: 51.5625%;
    margin-left: ~"-webkit-calc(50% + 1rem)";
    margin-left: ~"calc(50% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL7 {
    margin-left: 59.8955%;
    margin-left: ~"-webkit-calc(58.333% + 1rem)";
    margin-left: ~"calc(58.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL8 {
    margin-left: 68.2285%;
    margin-left: ~"-webkit-calc(66.666% + 1rem)";
    margin-left: ~"calc(66.666% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL9 {
    margin-left: 76.5625%;
    margin-left: ~"-webkit-calc(75% + 1rem)";
    margin-left: ~"calc(75% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL10 {
    margin-left: 84.8955%;
    margin-left: ~"-webkit-calc(83.333% + 1rem)";
    margin-left: ~"calc(83.333% + 1rem)";
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL11 {
    margin-left: 93.2285%;
    margin-left: ~"-webkit-calc(91.666% + 1rem)";
    margin-left: ~"calc(91.666% + 1rem)";
}

/* MOVE LEFT for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL1 { left: 8.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL2 { left: 16.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL3 { left: 25%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL4 { left: 33.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL5 { left: 41.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL6 { left: 50%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL7 { left: 58.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL8 { left: 66.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL9 { left: 75%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL10 { left: 83.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL11 { left: 91.666%; }


/* MOVE RIGHT for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL1 { right: 8.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL2 { right: 16.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL3 { right: 25%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL4 { right: 33.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL5 { right: 41.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL6 { right: 50%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL7 { right: 58.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL8 { right: 66.666%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL9 { right: 75%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL10 { right: 83.333%; }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL11 { right: 91.666%; }



/* SHOW and HIDE for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleL { display: block }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleM { display: none }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleS { display: none }


.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenL { display: none }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenM { display: block }

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenS { display: block }


/* BREAK for LARGE contexts */

.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBreakL { clear: both }



/* ============= */
/*   E X T R A   */
/* ============= */

/* HORIZONTAL POSITIONING GRID IN CONTAINER */

div.sapUiRespGrid.sapUiRespGridPosCenter {
       margin-left: auto;
       margin-right: auto;
}

div.sapUiRespGrid.sapUiRespGridPosRight {
       margin-left: auto;
       margin-right: 0;
}

/* MOVE FOWARD and BACKWARD */

div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridFwd"] {
       position: relative;
}

div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridBwd"] {
       float: right;
       position: relative;
}


/* explanation for percentages for browsers without calc support:
   16px = 1rem
   ------------------------
S  2.5%     =  8px / 320px
   5%       = 16px / 320px
   10%      = 32px / 320px
M  1.333%   =  8px / 600px
   2.667%   = 16px / 600px
   5.333%   = 32px / 600px
L  0.78125% =  8px / 1024px
   1.5625%  = 16px / 1024px
   3.125%   = 32px / 1024px
   ------------------------
*/
/* ====================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control  */
/* ====================================================== */

/*.sapUiGrid{

}*/

.sapUiGrid td{
	vertical-align: top;
	overflow: hidden;
}

.sapUiGrid td.sapUiGridHeader{
	vertical-align: bottom;
}


.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-align: start;
/*	border-bottom: 2px solid @sapUiHighlight;*/
	position: relative;
}

/* Internet Explorer  does not support "text-align: start"!
Therefore the title needs to be positioned separately for RTL and LTR mode */
[data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
[data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle{ 
	text-align: left;
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle{ 
	text-align: right;
}

/*
.sapUiGrid td[colspan="8"] > .sapUiFormTitle{
	border-color: @sapUiMediumBorder;
}
*/

.sapUiGridHeader > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}
/* ===================================================== */
/* CSS for control sap.ui.layout.form/GridLayout.control */
/* HCB                                                   */
/* ===================================================== */

/*
.sapUiGrid{

}
*/

.sapUiGrid td{
	padding: 2px 1px 1px 2px;
}

.sapUiGrid td:first-child{
	padding-left: 1px;
}

.sapUiGrid .sapUiGridHeader{
	padding: 0;
}

.sapUiGrid th > h4,
.sapUiGrid td > h4{
	font-size: @sapUiFontHeader2Size; /*as long as the global header sizes are not adopted to godreflection ones*/
}

.sapUiGrid th > h5,
.sapUiGrid td > h5{
	font-size: @sapUiFontHeader3Size; /*as long as the global header sizes are not adopted to godreflection ones*/
}

.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-transform: uppercase;
	margin-bottom: 2px;
	margin-top: 20px;
	padding-bottom: 5px;
}

.sapUiGridSpace{
	width: 30px;
}

.sapUiGridHeader > .sapUiFormTitle > .sapUiBtn.sapUiBtnLite{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	width: 19px;
	height: 19px;
	border: 1px solid @sapUiDarkBorder;
}

.sapUiGrid .sapUiFormTitle > img,
.sapUiGrid .sapUiFormTitle > span{
	margin-right: 3px;
}
/* ====================================================== */
/* CSS for control sap.ui.layout/HorizontalLayout.control */
/* ====================================================== */

.sapUiHLayout {
	display: inline-block;
}

.sapUiHLayoutNoWrap {
	white-space: nowrap;
}

.sapUiHLayoutChildWrapper {
	white-space: normal;
	display: inline-block;
	vertical-align: top;
}
/* ========================================================== */
/* CSS for control sap.ui.layout/ResponsiveFlowLayout.control */
/* ========================================================== */
@sapUiRFLPadding: ~"3px";

.sapUiRFL {
	position: relative;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

HTML[data-sap-ui-browser*='ie'] .sapUiRFL {
	width: 99%; /* needed if rounding issues occur and padding was deactivated */
}

.sapUiRFLRow {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sapUiRFLContainer {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
	overflow: hidden;
}

.sapUiRFLPaddingClass {
	padding: 3px 3px 0 0;
}

.sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:first-child {
	padding-left: 0;
}

.sapUiRFLRow > .sapUiRFLContainer:last-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:last-child {
	padding-right: 0;
}

.sapUiRFLMultiContainerContent {
	white-space: nowrap;
}

.sapUiRFLMultiContent.sapUiRFLPaddingClass {
	padding: 0 3px 0 0;
} 

.sapUiRFLMultiContent {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiRFLMultiContainerContent > .sapUiRFLMultiContent.sapUiRFLPaddingClass:last-child {
	padding-right: 0;
}
/* =============================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveGridLayout.control */
/* =============================================================== */

/*.sapUiFormResGrid > .sapUiFormTitle,*/
.sapUiRGLContainer > .sapUiFormTitle{
	position: relative;
	margin-bottom: 1rem;
}

.sapUiFormResGrid > .sapUiFormTitle > img,
.sapUiRGLContainer > .sapUiFormTitle > img,
.sapUiFormResGrid > .sapUiFormTitle > span,
.sapUiRGLContainer > .sapUiFormTitle > span{
	margin-right: 0.5rem;
}

.sapUiRGLContainer > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}

.sapUiRGLContainerCont{
	padding-bottom: 1.5rem;
}

.sapUiRGLContainerColl > .sapUiRGLContainerCont{
	display: none;
}

/* add paddings to content */
.sapUiFormResGridCont > div{
	padding: 0 0.25rem 0.5rem 0.25rem;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}

.sapUiFormResGridCont > .sapUiFormResGridLbl{
	min-height: @sapUiLineHeight;
}

/* ================= */
/*   SMALL DEVICES   */
/* ================= */
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12{
	padding-top: 0.375rem;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > div:first-child.sapUiFormResGridLbl.sapUiRespGridSpanS12{
	padding-top: 0;
}

.sapUiRespGridMedia-Std-Phone > div > .sapUiRGLContainer > .sapUiRGLContainerCont{
	padding-bottom: 0.5rem;
}

/* ================================= */
/*   SMALL, MEDIUM and LARGE DEVICES */
/* ================================= */
/* make labels right aligned if left from fields*/
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
	padding-right: 0.5rem;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12,
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanM12,
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanL12{
	padding-bottom: 0.125rem;
}

/* on last row no padding-bottom on container content */
.sapUiRespGridMedia-Std-Phone > .sapUiFormResGridLastRowM:last-child > .sapUiRGLContainer > .sapUiRGLContainerCont,
.sapUiRespGridMedia-Std-Tablet > .sapUiFormResGridLastRowM > .sapUiRGLContainer > .sapUiRGLContainerCont,
.sapUiRespGridMedia-Std-Desktop > .sapUiFormResGridLastRowL > .sapUiRGLContainer > .sapUiRGLContainerCont{
	padding-bottom: 0;
}

/* ============================ */
/*   MEDIUM and LARGE DEVICES   */
/* ============================ */
/* add paddings between containers */
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridMain > div:not(.sapUiRespGridSpanM12):not(.sapUiFormResGridLastContM),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain > div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL){
	padding-right: 1rem;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}

.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridMain > div:not(.sapUiRespGridBreakM):not(.sapUiRespGridSpanM12),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain > div:not(.sapUiRespGridBreakL):not(.sapUiRespGridSpanL12){
	padding-left: 1rem;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}
/* =========================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveLayout.control */
/* =========================================================== */

.sapUiRLContainer > .sapUiFormTitle{
	position: relative;
}

.sapUiRLContainer > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}

.sapUiRLContainerColl > .sapUiRLContainerCont{
	display: none;
}

/* make labels before fields right aligned */
.sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div{
	text-align: end;
}

html[data-sap-ui-browser^=ie] .sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div{
	text-align: right;
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div{
	text-align: left;
}
/* ===================================================== */
/* CSS for control sap.ui.layout/form/SimpleForm.control */
/* ===================================================== */

.sapUiSimpleForm {
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* SimpleForm placed directly in a body of a Fiori page */
.sap-tablet .sapUiFioriObjectPage > section > div > .sapUiSimpleForm,
.sap-desktop .sapUiFioriObjectPage > section > div > .sapUiSimpleForm {
	padding: 0 1rem;
}

/* ============================================= */
/* CSS for control sap.ui.unified/Splitter.control */
/* ============================================= */

/**
 * The main Splitter element can have the following classes in addition to its main class 
 * "sapUiLoSplitter":
 *   sapUiLoSplitterAnimated - Resizing should be animated (through css-transitions)
 *   sapUiLoSplitterH        - It's a horizontal splitter
 *   sapUiLoSplitterV        - It's a vertical splitter
 * The splitter bars "sapUiLoSplitterBar" and "sapUiLoSplitterOverlayBar" can have the following
 * additional classes:
 *   sapUiLoSplitterNoResize
 *
**/

/********************************************* General ********************************************/

.sapUiLoSplitter {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}

.sapUiLoSplitterContent {
	overflow: auto;
}

.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	cursor: move;
	font-size: 16px;
	background-color: transparent;
	color: darken(@sapUiLightText, 20);
	text-shadow: 1px 1px @sapUiWhiteBG;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sapUiLoSplitter > .sapUiLoSplitterBar:focus {
	outline: 1px dotted darken(@sapUiHighlight, 12);
	outline-offset: -1px;
}


.sapUiLoSplitter > .sapUiLoSplitterBar:hover {
	background-color: @sapUiDarkBG;
	color: @sapUiTextInverted;
	text-shadow: none;
}

.sapUiLoSplitter > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	background-color: @sapUiHighlight;
	color: @sapUiTextInverted;
	text-shadow: none;
}

.sapUiLoSplitterBarIcon {
	text-align: center;
	position: relative;
	display: block;
}

.sapUiLoSplitter.sapUiLoSplitterH > .sapUiLoSplitterBar.sapUiLoSplitterNoResize,
.sapUiLoSplitter.sapUiLoSplitterV > .sapUiLoSplitterBar.sapUiLoSplitterNoResize {
	cursor: default;
	visibility: hidden;
}

.sapUiLoSplitter > .sapUiLoSplitterBar.sapUiLoSplitterNoResize > *,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar.sapUiLoSplitterNoResize > * {
	display: none;
}

.sapUiLoSplitterOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	position: absolute;
}


/******************************************* Horizontal *******************************************/

.sapUiLoSplitterH > .sapUiLoSplitterBar,
.sapUiLoSplitterH > .sapUiLoSplitterContent,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.sapUiLoSplitterH > .sapUiLoSplitterBar > .sapUiLoSplitterBarIcon,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	top: ~"calc(50% - 12px)";
}

.sapUiLoSplitterH > .sapUiLoSplitterBar > .sapUiIcon.sapUiLoSplitterBarIcon::before,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon::before {
	content: "\e1fa";
}

.sapUiLoSplitterAnimated.sapUiLoSplitterH > .sapUiLoSplitterContent {
	transition: width 200ms ease 0ms;
}

.sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	cursor: col-resize;
	width: 4px;
}


/******************************************** Vertical ********************************************/

.sapUiLoSplitterV > .sapUiLoSplitterBar,
.sapUiLoSplitterV > .sapUiLoSplitterContent,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	display: block;
	width: 100%;
}

.sapUiLoSplitterV > .sapUiLoSplitterBar > .sapUiLoSplitterBarIcon,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	left: ~"calc(50% - 8px)";
	top: -5px;
}

.sapUiLoSplitterV > .sapUiLoSplitterBar > .sapUiIcon.sapUiLoSplitterBarIcon::before,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon::before {
	content: "\e1fb";
}

.sapUiLoSplitterAnimated.sapUiLoSplitterV > .sapUiLoSplitterContent {
	transition: height 200ms ease 0ms;
}

.sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	cursor: row-resize;
	height: 4px;
}

/************************************** Responsive Bar sizes **************************************/


.sap-desktop .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-desktop .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-desktop .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
	width: 6px;
}


.sap-desktop .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-desktop .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-desktop .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
	height: 6px;
}


.sap-tablet .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-tablet .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-tablet .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
	width: 16px;
}


.sap-tablet .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-tablet .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-tablet .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
	height: 16px;
}


.sap-phone .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-phone .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-phone .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
	width: 1px;
}

.sap-phone .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-phone .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-phone .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
	height: 1px;
}

/* ============================================= */
/* CSS for control sap.ui.unified/Splitter.control */
/* ============================================= */

.sapUiLoSplitter > .sapUiLoSplitterBar:focus {
	outline: 1px dotted @sapUiBaseText;
}

.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitter > .sapUiLoSplitterBar:hover,
.sapUiLoSplitter > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	color: @sapUiBaseText;
}
/* ====================================================== */
/* CSS for control sap.ui.layout/VerticalLayout.control   */
/* ====================================================== */

.sapUiVlt {
	display: inline-block;
	overflow: hidden;
}
