
/* SAP UI development toolkit for HTML5 (SAPUI5/OpenUI5)
 * (c) Copyright 2009-2014 SAP AG or an SAP affiliate company. 
 * Licensed under the Apache License, Version 2.0 - see LICENSE.txt.
 * 
 */@import "../../../../../../Base/baseLib/baseTheme/base.less";
@import "../../../../../../Base/baseLib/sap_bluecrystal/base.less";
/* Global CSS for 'base' theme */



// Semantic Theming Mapping
@sapUiBaseColor: @sapBaseColor;

@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundBorderColor: #A6A6A6;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
// @sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
// @sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
// @sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: red;
@sapUiButtonAcceptBackground: green;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: #BFBFBF;
@sapUiFieldHelpBackground: @sapField_Background;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Background;
@sapUiFieldReadOnlyBackground: #808080;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: #808080;
@sapUiFieldDisabledBackground: @sapField_Background;
@sapUiFieldDisabledBorderColor: @sapField_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Background;
@sapUiFieldRequiredColor: @sapField_BorderColor;
@sapUiFieldInvalidColor: #FF0000;
@sapUiFieldInvalidBackground: #FF9A90;
@sapUiFieldWarningColor: #FFFF00;
@sapUiFieldWarningBackground: #FAF2B0;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiListHeaderBorderColor: #000000;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiListSelectionBackgroundColor: @sapUiHighlight;


// Brand Colors
@sapUiBrand: #F0AB00;     // SAP Gold #f0ab00
@sapUiHighlight: #111177;
@sapUiSelected: @sapUiHighlight;
@sapUiActive: @sapUiHighlight;

// Accent Colors
@sapUiPurple: purple;
@sapUiOrange: orange;
@sapUiGreen: green;
@sapUiBlue: blue;
@sapUiRed: red;
@sapUiYellow: yellow;

// Base Colors
@sapUiBase: darken(@sapBaseColor, 100);			// #000000
@sapUiBaseBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiBaseBorder: @sapUiBase;
@sapUiBaseText: @sapTextColor;
@sapUiBaseLine: @sapUiBase;

// Background Colors
// Grayscale Backgrounds
@sapUiWhite: #FFFFFF;
@sapUiWhiteBG: lighten(@sapBaseColor, 100);			// #ffffff
@sapUiExtraLightBG: @sapUiBaseBG;
@sapUiLightBG: lightgray;
@sapUiMediumBG: gray;
@sapUiDarkBG: darkgray;
@sapUiDeepBG: black;
@sapUiBlackBG: #000000;

// Tinted Backgrounds
@sapUiHoverBG: grey;
@sapUiMediumAltBG: grey;
@sapUiDarkAltBG: darkgrey;

// Button Background Colors
@sapUiButtonStandardBG: @sapUiBaseBG;
@sapUiButtonEmphasizedBG: yellow;
@sapUiButtonNegativeBG: red;
@sapUiButtonPositiveBG: green;

// Semantic Background Colors
@sapUiErrorBG: #FF9A90;
@sapUiWarningBG: #FAF2B0;
@sapUiReadOnlyBG: grey;

// Text Colors
@sapUiExtraLightText: lightgray;
@sapUiLightText: lightgray;
@sapUiMediumText: grey;
@sapUiDarkText: darkgrey;
@sapUiDeepText: black;
@sapUiText: @sapUiBaseText; // black
@sapUiTextInverted: lighten(@sapUiBaseText, 100%);			// #ffffff;

// Link
@sapUiLink: #0000FF;
@sapUiLinkInverted: @sapUiLink;
@sapUiLinkVisited: #800080;               // the color for a vistited link
@sapUiLinkActive: #FF0000;                // the color for a link while being clicked
@sapUiLinkHover: #FF0000;                 // the color for a link while being hovered

// Semantic Text Colors
@sapUiNegativeText: red;
@sapUiPositiveText: #B5E7A8;

// Grayscale Borders
@sapUiWhiteBorder: lighten(@sapUiBaseBorder, 100%);	// #ffffff
@sapUiExtraLightBorder: lightgrey;
@sapUiLightBorder: grey;
@sapUiMediumBorder: @sapUiBaseBorder;
@sapUiDarkBorder: @sapUiBaseBorder;
@sapUiBlackBorder: darken(@sapUiBaseBorder, 100%);	// #000000

// Semantic Border Colors
@sapUiErrorBorder: red;
@sapUiWarningBorder: yellow;

// Line Colors
@sapUiLightLine: lightgrey;
@sapUiMediumLine: grey;
@sapUiEmphasizedLine: @sapUiHighlight;
@sapUiDarkLine: darkgrey;

// Table Colors
@sapUiTableRowBG: @sapUiWhite;
@sapUiTableRowAlternatingBG: @sapUiWhite;
@sapUiTableRowSelectionBG: @sapUiHighlight;
@sapUiTableRowSelectionReadOnlyBG: @sapUiHighlight;
@sapUiTableRowHoverBG: @sapUiHoverBG;

// MOBILE-specific, but still very global-like:
@sapUiListBG: #f7f7f7;


/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
@sapUiTextColor: green; /* may be required by SubstitutionRulesManager.css in inbox lib */
@sapUiTextTitleColor: green;
@sapUiTextSelectionColor: green;

/* ---------------------------------------------------------------------------------------- */

@sapUiTextDisabled: lighten(@sapUiText, 60%); // the color for disabled text
@sapUiTextTitle: @sapUiBaseText;  // the text color for titles of all kinds
@sapUiTextSelection: @sapUiTextInverted; // the color for selected text
@sapUiTextfieldBackground: @sapUiWhite; // better to have an own parameter insted of using sapUiWhite

@sapUiLineHeight: 21px;

@sapUiFontFamily: Arial,Helvetica,sans-serif;  // the default font
@sapUiFontMonospaceFamily: Lucida Console;     // the default monospacefont
@sapUiFontSize: medium;                        // the default font size
@sapUiFontLargeSize: large;                    // TODO: might also be title font size
@sapUiFontSmallSize: small;
@sapUiFontHeader1Size: xx-large;
@sapUiFontHeader2Size: x-large;
@sapUiFontHeader3Size: @sapUiFontLargeSize;
@sapUiFontHeader4Size: @sapUiFontSize;
@sapUiFontHeader5Size: @sapUiFontSize;
@sapUiFontHeader6Size: @sapUiFontSize;


// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiBaseText;
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
@sapUiUx3ShellSideBarBaseWidth:       40px;
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
@sapUiUx3ShellPaneOverflowButtonHeight: 120px;

@sapUiUx3ExactLstExpandOffset: 0 0;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstCollapseWidth: 24px;
@sapUiUx3ExactLstHeaderHeight: 25px;
@sapUiUx3ExactLstContentTop: @sapUiUx3ExactLstHeaderHeight;

/* NotificationBar */
@sapUiNotificationBarBG: fade(@sapUiMediumText, 92%);
@sapUiNotificationBarBG_IE: @sapUiMediumText;
@sapUiNotifierHoverColor: @sapUiHighlight;
@sapUiNotifierSeparator: @sapUiMediumLine;
@sapUiNotificationText: contrast(@sapUiNotificationBarBG, @sapUiText, @sapUiTextInverted);
@sapUiNotificationTimestamp: contrast(@sapUiNotificationBarBG, lighten(@sapUiText,33), darken(@sapUiTextInverted,33));
@sapUiNotificationBarCalloutBorder: fade(@sapUiMediumText, 0%);
@sapUiNotificationBarCalloutBorder_IE: @sapUiNotificationBarBG_IE;
@sapUiNotificationBarCalloutArr: @sapUiNotificationBarBG;
@sapUiNotificationBarHeight: ~"40px";
@sapUiNotificationBarHeightMinimized: ~"0px";
/* The maximized height will be calculated corresponding to the window's height.*/
@sapUiNotificationBarHeightMaximized: ~"40%";
@sapUiNotifierWidth: ~"40px";
@sapUiNotifierSeparatorWidth: ~"2px";

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"true"; /* Telling the ToolPopup if it's inverted per default */
@sapUiUx3ToolPopupArrowWidth: 13px;
@sapUiUx3ToolPopupArrowHeight: 20px;
@sapUiUx3ToolPopupArrowRightMarginCorrection: -2px;
@sapUiUx3ToolPopupArrowRightMarginCorrectionInverted: -7px;
@sapUiUx3TPPaddingBottom: 50px;


// @sapUiButtonBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
// @sapUiButtonBackground: @sapUiButtonStandardBG; // to be renamed????
// @sapUiButtonDisabledBorderColor: @sapUiMediumBorder; // needed because different in GR, HCB and UX
@sapUiButtonDisabledBackground: @sapUiExtraLightBG; // needed, different in every theme
// @sapUiButtonHoverBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonHoverBackground: @sapUiMediumBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonActiveBorderColor: @sapUiMediumBorder; // needed beacuse different in GR and UX
@sapUiButtonActiveBackground: @sapUiDarkBG; // needed beacuse different in GR, Platinum and UX
@sapUiButtonEmphasizedBorderColor: @sapUiButtonBorderColor;
@sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBG;
@sapUiButtonEmphasizedDisabledBorderColor: @sapUiButtonEmphasizedBorderColor;
@sapUiButtonEmphasizedDisabledBackground: @sapUiButtonEmphasizedBackground;
@sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonEmphasizedHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonAcceptBorderColor: @sapUiButtonBorderColor;
@sapUiButtonAcceptBackground: @sapUiButtonPositiveBG;
@sapUiButtonAcceptDisabledBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptDisabledBackground: @sapUiButtonAcceptBackground;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonAcceptActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonRejectBorderColor: @sapUiButtonBorderColor;
@sapUiButtonRejectBackground: @sapUiButtonNegativeBG;
@sapUiButtonRejectDisabledBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectDisabledBackground: @sapUiButtonRejectBackground;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonRejectActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteBackground: rgba(0,0,0,0); /* transparent; */
@sapUiToggleButtonPressedDisabledBackground: #D8D8E8;
@sapUiToggleButtonPressedBackground: @sapUiHighlight;

// semantic colors
@sapUiPositiveBG: @sapUiPositiveText; // no positive background defined by UX, but using text color as background may be confusing

// default shadow for popups 
@sapUiShadowTint: #000;
@sapUiShadow: 5px 5px 10px fade(@sapUiShadowTint,50%);
/* ====================================== */
/* Global CSS for 'sap_bluecrystal' theme */
/* ====================================== */



/* ===================================== */
/* Semantic Theming Mapping              */
/* ===================================== */

@sapUiContentLabelColor: @sapContent_LabelColor;
@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentForegroundColor: @sapContent_ForegroundColor;
@sapUiContentForegroundBorderColor: @sapContent_ForegroundBorderColor;
@sapUiContentForegroundTextColor: @sapContent_ForegroundTextColor;

@sapUiShellBackground: @sapShell_Background;
@sapUiShellBorderColor: @sapShell_BorderColor;
@sapUiShellTextColor: @sapShell_TextColor;

@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonDisabledBackground: @sapButton_Disabled_Background;
@sapUiButtonDisabledBorderColor: @sapButton_Disabled_BorderColor;
@sapUiButtonDisabledTextColor: @sapButton_Disabled_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
@sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
@sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
@sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: @sapButton_Reject_Background;
@sapUiButtonAcceptBackground: @sapButton_Accept_Background;

@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: @sapField_BorderColor;
@sapUiFieldHelpBackground: @sapField_HelpBackground;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Focus_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Focus_HelpBackground;
@sapUiFieldReadOnlyBackground: @sapField_ReadOnly_Background;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: @sapField_ReadOnly_HelpBackground;
@sapUiFieldDisabledBackground: @sapField_Disabled_Background;
@sapUiFieldDisabledBorderColor: @sapField_Disabled_BorderColor;
@sapUiFieldDisabledHelpBackground: @sapField_Disabled_HelpBackground;
@sapUiFieldRequiredColor: @sapField_RequiredColor;
@sapUiFieldInvalidColor: @sapField_InvalidColor;
@sapUiFieldInvalidBackground: @sapField_InvalidBackground;
@sapUiFieldWarningColor: @sapField_WarningColor;
@sapUiFieldWarningBackground: @sapField_WarningBackground;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;

@sapUiGroupTitleBackground: @sapGroup_TitleBackground;
@sapUiGroupTitleBorderColor: @sapGroup_TitleBorderColor;
@sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;
@sapUiGroupContentBackground: @sapGroup_ContentBackground;
@sapUiGroupContentBorderColor: @sapGroup_ContentBorderColor;
@sapUiGroupFooterBackground: @sapGroup_FooterBackground;

@sapUiToolbarBackground: @sapToolbar_Background;
@sapUiToolbarSeparatorColor: @sapToolbar_SeparatorColor;

@sapUiListHeaderBackground: @sapList_HeaderBackground;
@sapUiListHeaderBorderColor: @sapList_HeaderBorderColor;
@sapUiListHeaderTextColor: @sapList_HeaderTextColor;
@sapUiListBorderColor: @sapList_BorderColor;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListSelectionBackgroundColor: @sapList_SelectionBackgroundColor;
@sapUiListHoverBackground: @sapList_Hover_Background;

@sapUiScrollBarFaceColor: @sapScrollBar_FaceColor;
@sapUiScrollBarTrackColor: @sapScrollBar_TrackColor;
@sapUiScrollBarBorderColor: @sapScrollBar_BorderColor;
@sapUiScrollBarSymbolColor: @sapScrollBar_SymbolColor;
@sapUiScrollBarHoverFaceColor: @sapScrollBar_Hover_FaceColor;


/* ================================================== */
/* Absolute fixed Colors - do not use in Controls!!   */
/* ================================================== */

@sapUiYellow:   #f0ab00;	// rgb(240, 171, 0)
@sapUiOrange:   #f27020;	// rgb(242, 112, 32)
@sapUiRed:      #e52929;	// rgb(229, 41, 41)
@sapUiPurple:   #ab218e;	// rgb(171, 33, 142)
@sapUiBlue:     #007cc0;	// rgb(0, 124, 192)
@sapUiGreen:    #008a3b;	// rgb(0, 138, 59)
@sapUiWhite:    #fff;
@sapUiBlack:    #000;


/* ======================================================= */
/* Semantic Foreground Colors - do not use in Controls!!   */
/* ======================================================= */

@sapUiNegative:	#cc1919; //rgb(204, 25, 25)
@sapUiCritical: #d14900; //rgb(209, 73, 0)
@sapUiPositive: #007833; //rgb(0, 120, 51)
@sapUiNeutral:  #007cc0; //rgb(0, 124, 192)


/* ===================================== */
/* Accent Colors                         */
/* ===================================== */

@sapUiAccent1: @sapUiYellow; //   #f0ab00;	// rgb(240, 171, 0)
@sapUiAccent2: @sapUiOrange; //   #f27020;	// rgb(242, 112, 32)
@sapUiAccent3: @sapUiRed;    //   #e52929;	// rgb(229, 41, 41)
@sapUiAccent4: @sapUiPurple; //   #ab218e;	// rgb(171, 33, 142)
@sapUiAccent5: @sapUiBlue;   //   #007cc0;	// rgb(0, 124, 192)
@sapUiAccent6: @sapUiGreen;  //   #008a3b;	// rgb(0, 138, 59)
@sapUiAccent7: #004990;      // rgb(0, 73, 144)
@sapUiAccent8: #009de0;      // rgb(0, 157, 224)


/* ===================================== */
/* Chart Colors                         */
/* ===================================== */

/* Semantic Chart Colors */
@sapUiChartGood:     #61a656;
@sapUiChartNeutral:  #808080;
@sapUiChartBad:      #d32030;
@sapUiChartCritical: #e17b24;


/* Accent Chart Colors */
@sapUiChart1:  #5cbae6;
@sapUiChart2:  #b6d957;
@sapUiChart3:  #fac364;
@sapUiChart4:  #8cd3ff;
@sapUiChart5:  #d998cb;
@sapUiChart6:  #fade64;
@sapUiChart7:  #93b9c6;
@sapUiChart8:  #d9d6c7;
@sapUiChart9:  #52bacc;
@sapUiChart10: #dce65c;
@sapUiChart11: #98aafb;


/* ===================================== */
/* Special Colors                        */
/* ===================================== */

@sapUiSearchHighlight: #fffcb5;



/* ===================================== */
/* Brand Colors                          */
/* ===================================== */

@sapUiBrand: @sapBrandColor;                            // "Quick" default #009de0

@sapUiHighlight: @sapHighlightColor;                    // "Quick" default #007cc0, rgb(0, 124, 192)

@sapUiActiveBG: mix(@sapUiHighlight, @sapUiWhite, 10%); // #e5f2f9, rgb(229, 242, 249)

@sapUiFocus: darken(@sapUiHighlight, 12%);              // #005483, rgb(0, 84, 131)

@sapUiInvertedFocus: @sapUiLightestBorder;           // #fff

@sapUiUx3ShellHeaderColor: @sapShellColor;			// "Quick" default #000


/* ===================================== */
/* Base Colors                           */
/* ===================================== */

@sapUiBaseColor: @sapBaseColor;

@sapUiHighlightTextColor: @sapHighlightTextColor;

@sapUiBase: @sapUiBaseColor;			// "Quick" default #808080

@sapUiBaseBG: @sapBackgroundColor;			// "Quick" default #f2f2f2

@sapUiBaseBorder: hsl(hue(@sapUiBase), saturation(@sapUiBase), lightness(@sapUiBase));  // #808080

@sapUiBaseText:   @sapTextColor;			// "Quick" default #000000

@sapUiBaseLine:   hsl(hue(@sapUiBase), saturation(@sapUiBase), lightness(@sapUiBase));  // #808080


/* ===================================== */
/* Background Colors                     */
/* ===================================== */

/* Grayscale Backgrounds                 */

@sapUiLightestBG:   lighten(@sapBaseColor, 100);   // #ffffff
@sapUiExtraLightBG: @sapUiBaseBG;                  // #f2f2f2 rgb(242, 242, 242)
@sapUiLightBG:      lighten(@sapBaseColor, 39.7);  // #e5e5e5 rgb(229, 229, 229)
@sapUiMediumBG:     lighten(@sapBaseColor, 36.5);  // #dddddd  --- not used in Fiori!
@sapUiDarkBG:       darken(@sapBaseColor, 3.7);    // #777777
@sapUiExtraDarkBG:  darken(@sapBaseColor, 30.2);   // #333333 rgb(51, 51, 51)
@sapUiDarkestBG:    darken(@sapBaseColor, 100);    // #000000


/* Tinted Backgrounds                    */

@sapUiHoverBG: mix(@sapUiHighlight, @sapUiLightestBG, 10%);			//#e5f2f9  rgb(229, 242, 249)

@sapUiMediumAltBG: spin(hsl(hue(@sapUiHighlight), 16%, 76%), 9);			// #b8c2cc, Scrollbar thumb

@sapUiDarkAltBG: spin(mix(@sapUiHighlight, darken(@sapUiDarkBG, 1.2%), 3%), 9);			// #606366;

/* Button Background Colors              */

@sapUiButtonStandardBG:		#f7f7f7;      //  rgb(247, 247, 247)
@sapUiButtonEmphasizedBG:	@sapUiBrand;  // #009de0  rgb(0, 157, 224)

/* Transparent Backgrounds               */

@sapUiFooterBG: fade(#363e43, 96%); //#363e43
@sapUiFooterOnDesktopBG: @sapUiFooterBG;


/* ===================================== */
/* Font Colors                           */
/* ===================================== */

/* Grayscale Text                        */

@sapUiTextInverted:  lighten(@sapUiBaseText, 100%);   //#ffffff  rgb(255, 255, 255)

@sapUiExtraLightText: lighten(@sapUiBaseText,44%);    //#707070  rgb(112, 112, 112)
@sapUiLightText:      lighten(@sapUiBaseText, 40%);   //#666666  rgb(102, 102, 102)
@sapUiMediumText:     lighten(@sapUiBaseText, 26.5%); //#444444  rgb(68, 68, 68)
@sapUiDarkText:       lighten(@sapUiBaseText, 20%);   //#333333  rgb(51, 51, 51)
@sapUiExtraDarkText:  lighten(@sapUiBaseText, 13.4%); // #222222;

@sapUiStandardText:   @sapUiBaseText;                 //#000000  rgb(0, 0, 0)

@sapUiHighlightText:  @sapHighlightTextColor;

@sapUiTextSelection:  @sapUiTextInverted;

@sapUiHeaderText:     @sapUiDarkText;


/* Hyperlinks                            */

@sapUiLink:           @sapLinkColor; // "Quick" default #00679e, rgb(0, 103, 158)
@sapUiLinkActive:     @sapUiLink;
@sapUiLinkVisited:    @sapUiLink;
@sapUiLinkHover:      @sapUiLink;
@sapUiLinkInverted:   #1bb1ff;       // rgb(27, 177, 255)

/* Semantic Text                         */

@sapUiNegativeText:	@sapUiNegative; //rgb(204, 25, 25)
@sapUiCriticalText: @sapUiCritical; //rgb(209, 73, 0)
@sapUiPositiveText: @sapUiPositive; //rgb(0, 120, 51)

/* ===================================== */
/* Border Colors                         */
/* ===================================== */

/* Grayscale Borders                     */

@sapUiLightestBorder:   lighten(@sapUiBaseBorder, 100%);  // #ffffff
@sapUiExtraLightBorder: lighten(@sapUiBaseBorder, 39.7%); // #e5e5e5 rgb(229, 229, 229)
@sapUiLightBorder:      lighten(@sapUiBaseBorder, 36.5%); // #dddddd rgb(221, 221, 221)
@sapUiMediumBorder:     lighten(@sapUiBaseBorder, 30%);   // #cccccc rgb(204, 204, 204)
@sapUiDarkBorder:       lighten(@sapUiBaseBorder, 25%);   // #bfbfbf rgb(191, 191, 191)
@sapUiExtraDarkBorder:  lighten(@sapUiBaseBorder, 10%);   // #999999 rgb(153, 153, 153) // TODO: remove
@sapUiDarkestBorder:    darken(@sapUiBaseBorder, 100%);   // #000000

/* Semantic Border Colors                */

@sapUiErrorBorder:    @sapUiRed;    //  #e52929;
@sapUiWarningBorder:  @sapUiYellow; //  #f0ab00;
@sapUiSuccessBorder:  @sapUiGreen;  //  #008a3b;

/* Semantic Background Colors            */

@sapUiErrorBG: mix(@sapUiRed, @sapUiWhite, 15%);
@sapUiWarningBG: #fffcb5;
@sapUiSuccessBG: mix(@sapUiGreen, @sapUiWhite, 12%);
@sapUiNeutralBG: mix(@sapUiBlue, @sapUiWhite, 10%);

/* Line Colors                           */

@sapUiLightLine: lighten(@sapUiBaseLine, 30%);	// #cccccc
@sapUiMediumLine: lighten(@sapUiBaseLine, 10%);	// #999999
@sapUiEmphasizedLine: @sapUiHighlight;
@sapUiDarkLine: darken(@sapUiBaseLine, 30%);		// #333333

/* Table Colors                          */

@sapUiTableRowAlternatingBG: #eff7fb;
@sapUiTableRowSelectionBG: #d1e9f4;
@sapUiTableRowSelectionReadOnlyBG: #c9e1ed;


/* ===================================== */
/* EFFECT COLORS                         */
/* ===================================== */

@sapUiDarkShadowTint: @sapUiShadowTint;
@sapUiLightShadowTint: #fff;


/* ===================================== */
/* FOREGROUND ELEMENT COLORS             */
/* ===================================== */

/* General Foreground Elements           */

@sapUiInvertedElement: @sapUiTextInverted; //#ffffff rgb(255, 255, 255)
@sapUiElement:         @sapUiLightText;    //#666666 rgb(102, 102, 102)

/* Semantic Foreground Elements          */

@sapUiNegativeElement: @sapUiNegative;  // #cc1919 rgb(204, 25, 25)
@sapUiCriticalElement: @sapUiCritical;  // #d14900 rgb(209, 73, 0)
@sapUiPositiveElement: @sapUiPositive;  // #007833 rgb(0, 120, 51)
@sapUiNeutralElement:  @sapUiNeutral;   // #007cc0 rgb(0, 124, 192)

/* ===================================== */
/* HOVER COLORS             */
/* ===================================== */

@sapUiLightestBGHover: contrast(@sapUiLightestBG, darken(@sapUiLightestBG, 6), lighten(@sapUiLightestBG, 6));
@sapUIActiveBGHover: contrast(@sapUiActiveBG, darken(@sapUiActiveBG, 3), lighten(@sapUiActiveBG, 6));

/* ===================================== */
/* Font                                  */
/* ===================================== */

@sapUiFontFamily: @sapFontFamily;
@sapUiFontSize: 16px;

@sapUiFontCondensedFamily: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;

@sapUiFontHeaderFamily: @sapUiFontFamily;

@sapUiFontHeaderWeight: normal;


// use these "sapM"-prefixed parameters for sap.m controls
@sapMFontHeader1Size: 1.750rem;  //  28px
@sapMFontHeader2Size: 1.500rem;  //  24px
@sapMFontHeader3Size: 1.250rem;  //  20px
@sapMFontHeader4Size: 1.125rem;  //  18px
@sapMFontHeader5Size: 1rem;     //  16px
@sapMFontHeader6Size: 0.875em;   //  14px


@sapMFontSmallSize: 0.75rem;   // 12px
@sapMFontMediumSize: 0.875rem; // 14px
@sapMFontLargeSize: 1rem;      // 16px


/* Default margins classes to be used by the application for all controls */
@sapUiMarginSmall  : 1rem; /*make small margin themable*/
@sapUiMarginMedium : 2rem; /*make medium margin themable*/
@sapUiMarginLarge  : 3rem; /*make large margin themable*/


@sapUiTranslucentBGOpacity: 80%;

@sapMPlatformDependent: false;



//-----------------------------------------------------
// Themable Background Images
//-----------------------------------------------------

// [Label "Background Variant"]
// [Description "The background style variant which should be used. Currently the values 1 and 2 are allowed."]
// [Tags "Variant"]
@sapUiGlobalBackgroundVariant: 2;

// [Label "Logo"]
// [Description "A logo image which can be used for branding. It may only appear in desktop browsers when the screen/window is large enough."]
// [Tags "Quick", "Image", "CSSURI"]
@sapUiGlobalLogo: @sapUiGlobalLogoDefault;
@sapUiGlobalLogoDefault: '';

// [Label "Background Image Repeat"]
// [Description "Whether the global background image should be repeated (otherwise it is tiled); possible values are: true and false"]
// [Tags "Quick", "Image"]
@sapUiGlobalBackgroundRepeat: true;

// [Label "Background Image Opacity"]
// [Description "The opacity of the global background image; reduce to make the image appear less strong by letting the background color shine through"]
// [Tags "Quick", "Image", "Opacity"]
@sapUiGlobalBackgroundImageOpacity: @sapUiGlobalBackgroundImageOpacityDefault;
@sapUiGlobalBackgroundImageOpacityDefault: 1;

/*Please also not the mixins in shared.css which deal with the following background parameters*/

@sapUiGlobalBackgroundImageDefault: extract(url(../../../../../sap/ui/core/themes/sap_bluecrystal/img/bg_white_transparent.png) '', @sapUiGlobalBackgroundVariant);

// [Label "Background Image"]
// [Description "The global background image appearing behind each application"]
// [Tags "Quick", "Image", "CSSURI"]
@sapUiGlobalBackgroundImage: extract('' @sapUiGlobalBackgroundImageDefault, @sapUiGlobalBackgroundVariant);

// [Label "Image Background Color"]
// [Description "The color appearing behind the global background image, potentially shining through. Leave empty to apply the default gradient."]
// [Tags "Quick", "Image", "Color"]
@sapUiGlobalBackgroundColor: ''; // needed to detect at runtime whether there has been a theme modification
@sapUiGlobalBackgroundColorDefault: @sapUiLightestBG;

// [Label "Background Gradient Start Color"]
// [Description "The start color used in the default gradient."]
// [Tags "Image", "Color"]
@sapUiGlobalBackgroundGradientStartColor: extract(@sapUiWhite #2DABB3, @sapUiGlobalBackgroundVariant);

// [Label "Background Gradient Middle Color"]
// [Description "The middle color used in the default gradient."]
// [Tags "Image", "Color"]
@sapUiGlobalBackgroundGradientMiddleColor: extract('' #178299, @sapUiGlobalBackgroundVariant);

// [Label "Background Gradient End Color"]
// [Description "The end color used in the default gradient."]
// [Tags "Image", "Color"]
@sapUiGlobalBackgroundGradientEndColor: extract(@sapUiHighlight #1A4D80, @sapUiGlobalBackgroundVariant);

// [Label "Background Gradient Contrast Text Color"]
// [Description "The color used for texts on the strong background (defined by the gradient colors). A suitable value is computed automatically based on the background settings. But the value may be adapted."]
// [Tags "Font", "Color"]
@sapUiGlobalStrongBackgroundTextContrastColor: '';


/* ---------------------------------------------------------------------------------------- */

@sapUiTextTitle: @sapTitleColor;			// was "Quick" default #333333

@sapUiBackgroundImage: @sapBackgroundImage;			// "Quick"

@sapUiDesktopFontFamily: @sapUiFontFamily;

@sapUiDesktopFontSize: 12px;


// use these for desktop controls only
@sapUiFontLargeSize: 13px;
@sapUiFontSmallSize: 11px;
@sapUiFontHeader1Size: 26px;
@sapUiFontHeader2Size: 20px;
@sapUiFontHeader3Size: 18px;
@sapUiFontHeader4Size: 16px;
@sapUiFontHeader5Size: 14px;
@sapUiFontHeader6Size: @sapUiFontLargeSize;

@sapUiLineHeight: 18px;

/* Color used to show keyboard focus on an element (usually as outline) */
@sapUiKeyboardFocus:        darken(@sapUiHighlight, 12);


// SOME important control-specific parameters...

@sapUiUx3ShellBackgroundColor: @sapUiExtraLightBG;
@sapUiUx3ShellHoverColor: @sapUiDarkBG;
@sapUiUx3ShellGradientBottom: lighten(@sapUiUx3ShellHeaderColor, 17.3);			// #2c2c2c
@sapUiUx3ShellGradientTop: spin(mix(@sapUiHighlight, lighten(@sapUiUx3ShellGradientBottom, 22), 3%), 9);			// #606366

@sapUiUx3ExactLstExpandOffset: -1 -2;
@sapUiUx3ExactLstRootExpandOffset: 0 3;
@sapUiUx3ExactLstContentTop: 25px;

/* Notification Bar */
@sapUiNotificationBarBG: fade(@sapUiExtraDarkBG, 98%);
@sapUiNotifierSeparator: @sapUiDarkestBorder;
@sapUiNotifierSeparatorWidth: ~"1px";
@sapUiNotificationBarBorder: darken(@sapUiDarkBorder, 35);

/* ToolPopup */
@sapUiUx3ToolPopupInverted: ~"false"; /* Telling the ToolPopup if it's inverted per default */
@sapUiUx3ToolPopupArrowRightMarginCorrection: -1px;
@sapUiUx3ToolPopupShadow: 0 0 30px fade(@sapUiShadowTint, 20%);

/* Callout */
@sapUiCalloutShadow: 0 0 30px fade(@sapUiShadowTint, 20%);

@sapUiButtonActiveBorderColor: @sapUiButtonHoverBorderColor;
@sapUiButtonActiveBackground: @sapUiButtonHoverBackground;
@sapUiButtonEmphasizedHoverBackground: darken(@sapUiButtonEmphasizedBackground, 5);
@sapUiButtonEmphasizedHoverBorderColor: darken(@sapUiButtonEmphasizedHoverBackground, 10);
@sapUiButtonEmphasizedActiveBackground: darken(@sapUiButtonEmphasizedBackground, 5);
@sapUiButtonEmphasizedActiveBorderColor: darken(@sapUiButtonEmphasizedActiveBackground, 10);
@sapUiButtonAcceptBorderColor: darken(@sapUiButtonAcceptBackground, 10);
@sapUiButtonAcceptHoverBackground: darken(@sapUiButtonAcceptBackground, 5);
@sapUiButtonAcceptHoverBorderColor: darken(@sapUiButtonAcceptHoverBackground, 10);
@sapUiButtonAcceptActiveBackground: darken(@sapUiButtonAcceptBackground, 5);
@sapUiButtonAcceptActiveBorderColor: darken(@sapUiButtonAcceptActiveBackground, 10);
@sapUiButtonRejectBorderColor: darken(@sapUiButtonRejectBackground, 10);
@sapUiButtonRejectHoverBackground: darken(@sapUiButtonRejectBackground, 5);
@sapUiButtonRejectHoverBorderColor: darken(@sapUiButtonRejectHoverBackground, 10);
@sapUiButtonRejectActiveBackground: darken(@sapUiButtonRejectBackground, 5);
@sapUiButtonRejectActiveBorderColor: darken(@sapUiButtonRejectActiveBackground, 10);
@sapUiButtonLiteBackground: transparent;
@sapUiButtonLiteTextColor: darken(@sapUiHighlight, 7);
@sapUiToggleButtonPressedBackground: mix(@sapUiHighlight, #fff, 10);
@sapUiToggleButtonPressedBorderColor: @sapUiButtonBorderColor;
@sapUiToggleButtonPressedTextColor: contrast(@sapUiToggleButtonPressedBackground, @sapUiButtonTextColor, #fff);
@sapUiToggleButtonPressedHoverBackground: @sapUiButtonHoverBackground;
@sapUiToggleButtonPressedHoverBorderColor: darken(@sapUiToggleButtonPressedHoverBackground, 7);
@sapUiToggleButtonPressedDisabledBackground: @sapUiToggleButtonPressedBackground;
@sapUiToggleButtonPressedDisabledBorderColor: @sapUiToggleButtonPressedBorderColor;
@sapUiToggleButtonPressedDisabledTextColor: mix(@sapUiButtonTextColor, #fff, 25);
@sapUiFooterButtonHoverColor: contrast(@sapUiFooterOnDesktopBG, darken(@sapUiFooterOnDesktopBG, 3%), lighten(@sapUiFooterOnDesktopBG, 6%));

@sapUiCalendarColorToday: #ffc51c;

// shadow for popups
@sapUiShadow: 0px 4px 17px rgba(0, 0, 0, 0.4);

//images for shell

@sapUiUx3ShellBackgroundImageURL: @sapBackgroundImage;			// "Quick"

@sapUiUx3ShellHeaderImageURL: ~"";

@sapUiUx3ShellApplicationImageURL: @sapUiGlobalLogo;			// "Quick"



//-----------------------------------------------------
// Private Theme Parameters
//-----------------------------------------------------

/* ActionSheet                 */
@sapUiActionSheetBG: @sapUiFooterBG;
@sapUiActionSheetOnDesktopBG: @sapUiFooterOnDesktopBG;
@sapUiActionSheetBorder: @sapUiExtraLightBorder;
@sapUiActionSheetButtonText: @sapUiTextInverted;

/* Bar                         */
// [Label "Bar Background Color"]
// [Description "The background color for header bars"]
// [Tags "Color"]
@sapUiBarBG:          @sapUiExtraLightBG;
@sapUiBarBrandingBG:  @sapUiBrand;
@sapUiHeaderBG:       @sapUiBarBG;
@sapUiSubHeaderBG:    lighten(@sapUiBarBG, 4);

// [Label "Bar Text Color"]
// [Description "The text color for header bars"]
// [Tags "Color"]
@sapUiBarText:        @sapUiLightText; // standard text color in Bars and Bar-like controls
@sapUiFooterText:     @sapUiTextInverted;
@sapUiBarHeading:     @sapUiBarText; // highlighted text color in Bars  and Bar-like controls


/* Busy Indicator              */
@sapUiBusy:       @sapUiBrand;
@sapUiBusyLight:  @sapUiInvertedElement;

/* BusyDialog              */
@sapUiBusyDlgSimpleIndicatorBG:     fade(@sapUiInvertedElement, 60);
@sapUiBusyDlgSimpleIndicatorBorder: fade(@sapUiInvertedElement, 10);

/* --------------------------- */
/* Button                START */
/* --------------------------- */

@sapUiBtnText: @sapUiDarkText; // #333333
@sapUiBtnTextActive: @sapUiTextInverted; // #ffffff
@sapUiBtnTextLink: @sapUiLink; // #00679e
@sapUiBtnTextLinkDisabled: fade(@sapUiLink, 50%); // #00679e
@sapUiBtnBaseRadius: 0.143rem;
@sapUiBtnIcon: @sapUiElement; //#666666
@sapUiBtnTextShadowDefault: none;
@sapUiBtnBorderDefault: darken(@sapUiButtonStandardBG, 22);
@sapUiBtnTextTransparentDisabled: fade(@sapUiDarkText, 50%);
@sapUiBtnIconHeader: @sapUiBarText; // #666
@sapUiBtnTextHeader: @sapUiBarText; // #666
@sapUiBtnTextHeaderDisabled: @sapUiDarkText; /* fade(@sapUiDarkText, 50%); */
@sapUiBtnTextShadowHeader: fade(@sapUiLightShadowTint, 50%);
@sapUiBtnTextFooterDisabled: fade(@sapUiTextInverted, 50%);
@sapUiBtnTextShadowFooter: fade(@sapUiDarkShadowTint, 50%);

@sapUiBtnTextStandardDisabled: fadeout(@sapUiDarkText, 50%);
@sapUiBtnBGStandard: @sapUiButtonStandardBG;
@sapUiBtnBGStandardHover: darken(@sapUiButtonStandardBG, 5%);
@sapUiBtnBGStandardDown: @sapUiHighlight;
@sapUiBtnBGStandardDisabled: lighten(@sapUiButtonStandardBG, 1%);

@sapUiBtnTextPositiveDisabled: fadeout(@sapUiTextInverted, 50%);
@sapUiBtnBGPositive: @sapUiPositiveElement;
@sapUiBtnBGPositiveBorder: darken(@sapUiPositiveElement, 5%);
@sapUiBtnBGPositiveHover: darken(@sapUiPositiveElement, 5%);
@sapUiBtnBGPositiveDown: darken(@sapUiPositiveElement, 10%);
@sapUiBtnBGPositiveDisabled: fadeout(@sapUiPositiveElement, 50%);

@sapUiBtnTextNegativeDisabled: fadeout(@sapUiTextInverted, 50%);
@sapUiBtnBGNegative: @sapUiNegativeElement;
@sapUiBtnBGNegativeBorder: darken(@sapUiNegativeElement, 5%);
@sapUiBtnBGNegativeHover: darken(@sapUiNegativeElement, 5%);
@sapUiBtnBGNegativeDown: darken(@sapUiNegativeElement, 10%);
@sapUiBtnBGNegativeDisabled: fadeout(@sapUiNegativeElement, 50%);

@sapUiBtnTextEmphasizedDisabled: fadeout(@sapUiTextInverted, 50%);
@sapUiBtnBGEmphasized: @sapUiButtonEmphasizedBG;
@sapUiBtnBGEmphasizedBorder: darken(@sapUiButtonEmphasizedBG, 5%);
@sapUiBtnBGEmphasizedHover: darken(@sapUiButtonEmphasizedBG, 5%);
@sapUiBtnBGEmphasizedDown: darken(@sapUiButtonEmphasizedBG, 10%);
@sapUiBtnBGEmphasizedDisabled: fadeout(@sapUiButtonEmphasizedBG, 50%);
@sapUiBtnTextShadowEmphasized: fade(@sapUiDarkShadowTint, 50%);

@sapUiBtnBGTransparent: transparent;
@sapUiBtnBGTransparentHover: fadeout(darken(@sapUiButtonStandardBG, 10%), 50%);
@sapUiBtnBGTransparentDown: @sapUiHighlight;

@sapUiBtnFooterBGStandardHover: fadeout(@sapUiBtnBGStandardHover, 90%);

@sapUiBtnActionSelectBG: @sapUiFooterBG;
@sapUiBtnActionSelectBorderColor: contrast(@sapUiBtnActionSelectBG, darken(@sapUiBtnActionSelectBG, 10), lighten(@sapUiBtnActionSelectBG,20));
@sapUiBtnActionSelectBGTransparentHover: contrast(@sapUiBtnActionSelectBG, darken(@sapUiBtnActionSelectBG, 6), lighten(@sapUiBtnActionSelectBG,6));

/* --------------------------- */
/* Button                  END */
/* --------------------------- */

/* --------------------------- */
/* ToggleButton          START */
/* --------------------------- */

@sapUiToggleBtnPressed: @sapUiHighlight;
@sapUiToggleBtnBorder: darken(@sapUiHighlight, 5%);
@sapUiToggleBtnPressedHover: darken(@sapUiHighlight, 5%);

/* --------------------------- */
/* ToggleButton            END */
/* --------------------------- */

/* CheckBox                     */
@sapUiCheckBoxCheckedColor:   @sapUiHighlight;  // #007cc0;
@sapUiCheckBoxUncheckedColor: @sapUiDarkBorder; // #bfbfbf;
@sapUiCheckBoxFocusColor: @sapUiFocus;


/* DateTimeInput Custom Picker JavaScript	  */
@sapUiDTICustomRows: 5;
@sapUiDTICustomPhoneRows: 3;
@sapUiDTICustomWidth: 64;
@sapUiDTICustomHeight: 48;
@sapUiDTICustomShowLabel: false;
@sapUiDTICustomHeaderText: false;
@sapUiDTICustomMode: scroller;			/* mixed, scroller, clickpick */
@sapUiDTICustomDesktopMode: mixed;		/* mixed, scroller, clickpick */
@sapUiDTICustomDisplay: bubble;			/* modal, bubble, bottom, top */
@sapUiDTICustomPhoneDisplay: modal;		/* modal, bubble, bottom, top */

/* DateTimeInput Custom Picker Design	  	*/
@sapUiDTICustomFontFamily: @sapUiFontFamily;
@sapUiDTICustomDialogBorder: @sapUiExtraDarkBorder;
@sapUiDTICustomDialogWheelsBG: none;
@sapUiDTICustomDialogWheelBG: none;
@sapUiDTICustomArrowBG: @sapUiLightestBG;
@sapUiDTICustomArrowColor: @sapUiElement;
@sapUiDTICustomArrowHoverColor: @sapUiHighlight;
@sapUiDTICustomItemText: @sapUiLightText;
@sapUiDTICustomSelectedItemText: @sapUiStandardText;
@sapUiDTICustomSelectedItemBG: @sapUiActiveBG;
@sapUiDTICustomButtonBG: @sapUiFooterBG;
@sapUiDTICustomButtonOnDesktopBG: @sapUiFooterOnDesktopBG;
@sapUiDTICustomButtonHoverBG: @sapUiHighlight;
@sapUiDTICustomButtonText: @sapUiBtnTextActive;
@sapUiDTICustomHeaderTextColor: @sapUiBarText;
@sapUiDTICustomHeaderTextShadow: fade(@sapUiLightShadowTint, 50%);
@sapUiDTICustomHeaderBG: @sapUiBarBG;
@sapUiDTICustomFooterBG: @sapUiFooterBG;
@sapUiDTICustomFooterOnDesktopBG: @sapUiFooterOnDesktopBG;
@sapUiDTICustomHeaderBoxShadow: @sapUiLightBorder;

/* IconTabBar			*/
@sapUiITBTextOnlyBrandText: darken(@sapUiBrand, 10%);

/* Input/SearchField           */
@sapUiInputBaseBG: @sapUiLightestBG;
@sapUiInputBaseFont: @sapUiFontFamily;
@sapUiInputBaseText: @sapUiStandardText;
@sapUiInputBaseBorder: @sapUiDarkBorder;
@sapUiInputBaseFocus: @sapUiHighlight;

@sapUiInputBasePlaceholder: @sapUiExtraLightText;

@sapUiInputBaseWarning: @sapUiWarningBorder;
@sapUiInputBaseError: @sapUiErrorBorder;
@sapUiInputBaseErrorFont: @sapUiNegativeText;
@sapUiInputBaseSuccess: @sapUiSuccessBorder;

/* Label           */
@sapUiLabelText: @sapUiLightText;
@sapUiLabelFont: @sapUiFontFamily;

/* List                        */
@sapUiListBGHeader: @sapUiActiveBG;
@sapUiListBGFooter: lighten(@sapUiExtraLightBG,2);
@sapUiListBG: @sapUiLightestBG;
@sapUiListHeaderText: @sapUiLightText;
@sapUiListFooterText: @sapUiLightText;
@sapUiListSingleSelectMasterAsActive: false;
@sapUiListHeaderBorder: @sapUiLightBorder;
@sapUiListTextColor: @sapUiDarkText;
@sapUiGroupHeaderBG: lighten(@sapUiExtraLightBG,2);
@sapUiListNoDataTextColor: @sapUiDarkText;

/* List as Table               */
@sapUiListTblBG: fade(@sapUiListBG, 80%);
@sapUiListTblHeaderBorder: @sapUiLightBorder;
@sapUiListTblTextColor: @sapUiDarkText;
@sapUiListTblPopinHeaderTextColor: @sapUiLightText;
@sapUiListTblPopinValueTextColor: @sapUiStandardText;
@sapUiListTblPopinBG: fade(@sapUiListBG, 80%);
@sapUiListTblPopinActiveBG: @sapUiLIActive;
@sapUiListTblPopinSelectedBG: @sapUiLISelected;
@sapUiListTblIconSize: 1rem;
@sapUiListTblTextSize: 0.875rem;

/* ListItemBase                */
@sapUiLIBorder: @sapUiExtraLightBorder;
@sapUiLISelected: @sapUiActiveBG;
@sapUiLIActive: @sapUiHighlight;
@sapUiLICounter: @sapUiAccent5;
@sapUiLIText: @sapUiDarkText;
@sapUiLIStandardText: @sapUiStandardText;
@sapUiLITextSec: @sapUiLightText;
@sapUiLITextInverted: @sapUiTextInverted;
@sapUiLITextDisabled: @sapUiLightText;
@sapUiLIDelIcon: true;
@sapUiLIDelColor: @sapUiNegativeElement;
@sapUiLINavColor: lighten(@sapUiElement, 15%);
@sapUiLIDetailIcon: true;
@sapUiLIDetailColor: @sapUiElement;
@sapUiLIDetailBGActive: @sapUiHighlight;
@sapUiLIUnreadAsBubble: false;

/* ActionListItem               */
@sapUiALITextColor: @sapUiTextInverted;

/* MessageToast                 */
@sapUiMessageToastTextColor: @sapUiTextInverted;
@sapUiMessageToastTextShadow: @sapUiShadowTint;


/* Page                        */
// TODO: make public? advanced mode
@sapUiPageBG: @sapUiLightestBG;


/* Panel                  */
@sapUiPanelBG: @sapUiLightestBG;


/* Popover                */
@sapUiPopoverContBG: @sapUiPageBG;


/* Popups - shared parameters */
@sapUiPopupBorderColor: fade(@sapUiExtraDarkBorder, 60%);
@sapUiPopupBorder: 1px @sapUiPopupBorderColor solid;
@sapUiPopupBoxShadow: 0px 0px 30px 2px fade(@sapUiShadowTint, 15%);
// TODO: maybe advanced in theme designer
@sapUiBlockLayerColor: @sapUiDarkestBG;
@sapUiPopupButtonSeparator: 1px darken(@sapUiExtraDarkBG, 20) solid;
@sapUiPopupBorderRadius: 2px;


/* PullToRefresh */
@sapUiPullToRefreshText: @sapUiLightText;
@sapUiPullToRefreshArrow: @sapUiHighlight;
@sapUiPullToRefreshBG: @sapUiExtraLightBG;


/* RadioButton                 */
@sapUiRadioButtonSelectedColor: @sapUiHighlight;  // #007cc0;
@sapUiRadioButtonBorderColor:   @sapUiDarkBorder; // #bfbfbf;

/* Scrollbar */
@sapMUiScrollBarBG: fade(@sapUiDarkestBG, 50);
@sapMUiScrollBarBorderColor: @sapUiLightestBG;


/* SegmentedButton                */
@sapUiSegmentedBtnBG: lighten(@sapUiButtonStandardBG,3);
@sapUiSegmentedBtnBGSelected: @sapUiHighlight;
@sapUiSegmentedBtnBGSelectedHover: darken(@sapUiHighlight, 5%);
@sapUiSegmentedBtnBGHover: fade(darken(@sapUiButtonStandardBG, 20%), 50);
@sapUiSegmentedBtnBGActive: @sapUiHighlight;
@sapUiSegmentedBtnBorder: darken(@sapUiButtonStandardBG,10);
@sapUiSegmentedBtnIconDark: @sapUiElement;
@sapUiSegmentedBtnIconLight: @sapUiInvertedElement;
@sapUiSegmentedBtnText:  @sapUiLink;
@sapUiSegmentedBtnTextActive: @sapUiTextInverted;
@sapUiSegmentedBtnTextFooter: @sapUiTextInverted;
@sapUiSegmentedBtnFooterHover: fade(darken(@sapUiButtonStandardBG, 5%), 10);
@sapUiSegmentedBtnBorderFooter: contrast(@sapUiFooterBG, darken(@sapUiFooterBG, 10), lighten(@sapUiFooterBG, 20));

/* Select                       */
@sapUiSelectBG: @sapUiLightestBG;
@sapUiSelectBorderColor: @sapUiDarkBorder;
@sapUiSelectBorderColorHeader: @sapUiLightBorder;
@sapUiSelectBorderColorPressed: @sapUiHighlight;
@sapUiSelectLabelTextColor: @sapUiStandardText;
@sapUiSelectBGActive: @sapUiHighlight;
@sapUiSelectLabelTextColorPressed: @sapUiTextInverted;
@sapUiSelectLabelTextColorFooter: @sapUiTextInverted;
@sapUiSelectArrowColor: @sapUiElement;
@sapUiSelectArrowColorActive: @sapUiInvertedElement;
@sapUiSelectArrowBGHover: @sapUiBtnBGTransparentHover;
@sapUiSelectArrowBGActive: @sapUiHighlight;
@sapUiSelectFooterSeperator: contrast(@sapUiFooterBG, darken(@sapUiFooterBG, 10%), lighten(@sapUiFooterBG, 20%));
@sapUiSelectFooterSeperatorOnDesktop: contrast(@sapUiFooterOnDesktopBG, darken(@sapUiFooterOnDesktopBG, 10%), lighten(@sapUiFooterOnDesktopBG, 20%));
@sapUiSelectIconColor: @sapUiLightText;
@sapUiSelectIconColorActive: @sapUiInvertedElement;
@sapUiSelectIconBGHover: @sapUiBtnBGStandardHover;
@sapUiSelectIconBGPressed: @sapUiHighlight;
@sapUiSelectIconBorderColor: @sapUiDarkBorder;
@sapUiSelectFooterBGHover: @sapUiBtnFooterBGStandardHover;
@sapUiSelectBGTransparentHover: @sapUiBtnBGTransparentHover;

/* ComboBox */

/* Shell                        */
@sapMShellContentBGOpacity: 30;
@sapMShellContentBG: fade(@sapUiLightestBG, @sapMShellContentBGOpacity);

/* Slider                       */
@sapUiSliderBG: @sapUiLightBorder;
@sapUiSliderProgressBG: @sapUiHighlight;
@sapUiSliderHandleBorder: @sapUiExtraDarkBorder;
@sapUiSliderHandleBG: fade(@sapUiExtraDarkBorder, 30);
@sapUiSliderHandleBGHover: fade(@sapUiExtraDarkBorder, 60);
@sapUiSliderHandleBorderPressed: @sapUiHighlight;
@sapUiSliderHandleBGPressed: fade(@sapUiHighlight, 30);

/* SplitContainer */
@sapUiSplitContainerMasterBG: @sapUiPageBG;
@sapUiSplitContainerMasterShadow: 1px 0 10px fade(@sapUiShadowTint, 15);
@sapUiSplitContainerMasterBorder: 1px solid rgba(0, 0, 0, 0.15);
@sapUiSplitContainerMasterFooterSeperator: contrast(@sapUiFooterBG, darken(@sapUiFooterBG, 10), lighten(@sapUiFooterBG, 20));

/* StandardListItem                */
@sapUiSLIIconColor: @sapUiElement;
@sapUiSLIIconColorActive: @sapUiInvertedElement;
@sapUiInfoTop: false;

/* Switch                       */
@sapUiSwitchOnBG: @sapUiHighlight;
@sapUiSwitchOnHoverBG: darken(@sapUiHighlight, 5);
@sapUiSwitchOffBG: @sapUiLightestBG;
@sapUiSwitchHandleOnBG: @sapUiInvertedElement;
@sapUiSwitchHandleOffBG: @sapUiExtraDarkBorder;
@sapUiSwitchOnBorder: @sapUiHighlight;
@sapUiSwitchOffBorder: @sapUiExtraDarkBorder;
@sapUiSwitchBorderColorHover: @sapUiHighlight;
@sapUiSwitchTextOn: @sapUiTextInverted;
@sapUiSwitchTextOff: @sapUiLightText;
@sapUiSwitchAcceptRejectBG: @sapUiLightestBG;

/* RatingIndicator                 */
@sapUiRIIconPadding: 0.25rem;
@sapUiRIIconColor: @sapUiAccent1;

/* Toolbar 				*/
@sapUiToolbarBG: fade(@sapUiLightBG, 0%);
@sapUiToolbarSolidBG: @sapUiLightBG;
@sapUiToolbarBorder: @sapUiMediumBorder;
@sapUiToolbarInfoBG: mix(@sapUiAccent7, @sapUiWhite, 73%);
@sapUiToolbarInfoHoverBG: mix(@sapUiAccent7, @sapUiWhite, 83%);
@sapUiToolbarInfoActiveBG: mix(@sapUiAccent7, @sapUiWhite, 93%);
@sapUiToolbarInfoBorder: @sapUiExtraLightBorder;

/* FeedInput                    */
@sapUiFeedInputBG: @sapUiLightestBG;

//-----------------------------------------------------
// sap.me Library
//-----------------------------------------------------


/* OverlapCalendar Event Type */
@sapMeOverlapCalendarType00 : @sapUiExtraLightBorder;
@sapMeOverlapCalendarType01 : mix(@sapUiHighlight,@sapUiWhite,15);
@sapMeOverlapCalendarType04 : mix(@sapUiHighlight,@sapUiWhite,15);
@sapMeOverlapCalendarType06 : mix(@sapUiAccent1,@sapUiWhite,35);
@sapMeOverlapCalendarType07 : mix(@sapUiAccent3,@sapUiWhite,10);
@sapMeOverlapCalendarIndicator : @sapUiAccent2;

/* Calendar Legend */
@sapMeCalendarLegendIconCollapse: collapse;
@sapMeCalendarLegendIconExpand: expand;


/* Tab Container */
@sapMeTabIconInfo: hint;
@sapMeTabColorInfo: @sapUiAccent2;
@sapMeTabIconNotes: notes;
@sapMeTabColorNotes: @sapUiAccent4;
@sapMeTabIconAttachments: attachment;
@sapMeTabColorAttachments: @sapUiAccent5;
@sapMeTabIconPeople: group;
@sapMeTabColorPeople: @sapUiAccent7;

/* ============================================= */
/* CSS for control sap.ui.analytics/AnalyticalColumnMenu.control */
/* ============================================= */

.sapUiAnalyticsAnalyticalColumnMenu{
  color: @sapUiTextColor;
  border: 1px solid blue;
}
/* ======================================================== */
/* CSS for control sap.ui.analytics/AnalyticalTable.control */
/* ======================================================== */

.sapUiAnalyticalTable tr.sapUiAnalyticalTableDummy td {
	border-right-width: 0;
}

.sapUiAnalyticalTable tr.sapUiAnalyticalTableDummy td:last-child {
	border-right-width: 1px;
}

.sapUiAnalyticalTable .sapUiAnalyticalTableLoading {
	margin-left: 40px;
}

/*******************************************************************************
 * CHILD CONTROL STYLES
 ******************************************************************************/

.sapUiAnalyticalTable .sapUiTableCol .sapMLabel,
.sapUiAnalyticalTable .sapUiTableCell > .sapMLabel {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sapUiAnalyticalTable .sapUiTableCell > .sapMText {
	width: 100%;
}

.sapUiSizeCompact .sapUiAnalyticalTable .sapUiTableGroupIcon::before {
	line-height: @sapUiTableRowHeight;
}
/* ======================================================== */
/* CSS for control sap.ui.analytics/AnalyticalTable.control */
/* ======================================================== */

.sapUiAnalyticalTable .sapUiTableColHdrCnt {
	min-height: @sapUiTableColHdrHeight;
}

.sapUiAnalyticalTable .sapUiTableCtrl tr {
	height: @sapUiTableRowHeight;
}

.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableColHdrScr,
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableColHdrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableColRowHdr,
.sapUiAnalyticalTable .sapUiTableColRowHdrIco,
.sapUiAnalyticalTable .sapUiTableRowHdrScr {
	width: @sapUiTableRowHdrWidth;
}


.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlScr,
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlScrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlEmpty {
	left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableHSb {
	padding-left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableSelModeNone .sapUiTableRowHdr.sapUiTableGroupHeader {
	width: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableColCell > .sapUiLbl {
	font-weight: bold;
	font-size: 0.875rem;
	color: #6F6F6E;
}

.sapUiAnalyticalTable .sapUiTableCell > .sapUiTv {
	font-size: 0.875rem;
}

.sapUiAnalyticalTable .sapUiTableGroupIcon::before {
	line-height: 27px;
}

/* Hierarchical Support */

.sapUiAnalyticalTable tr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableSum {
	background-color: @sapUiLightestBG;
}

.sapUiAnalyticalTableSum .sapUiTv,
.sapUiAnalyticalTableSum .sapUiTableCell > .sapMLabel {
	font-weight: bold !important;
}

.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableDummy {
	font-size: 14px;
	line-height: 28px;
	color: @sapUiLightText;
}

.sapUiAnalyticalTable .sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLbl,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiTf,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:visited,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLbl,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiTf,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:visited,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:hover {
	color: @sapUiStandardText;
	background-color: @sapUiLightBG;
}

.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiAnalyticalTableSum.sapUiTableRowHdr::after {
	display: none;
}


.sapUiAnalyticalTable .sapUiTableTr > td:focus {
	outline: 1px dotted @sapUiFocus;
}

.sapUiAnalyticalTable .sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLbl,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiTf,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:visited,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLbl,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiTf,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:visited,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:hover {
	background-color: @sapUiLightBG;
}

.sapUiAnalyticalTable .sapUiTableRowHdr {
	position: relative;
}

.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable .sapUiTableRowHdr::before {
	content: '';
	display:block;
	position: absolute;
	background-color: @sapUiLightestBG;
	top: -1px;
	bottom: -1px;
	box-sizing: border-box;
}

.sapUiAnalyticalTable [data-sap-ui-level="2"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="2"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr {
	left: 24px;
	border-left: 1px solid @sapUiMediumBorder;
}

.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr {
	left: 36px;
	border-left: 1px solid @sapUiMediumBorder;
}

.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr::before {
	left: -13px;
	width: 12px;
	border-left: 1px solid @sapUiMediumBorder;
}

.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr {
	left: 44px;
	border-left: 1px solid @sapUiMediumBorder;
	border-top: 1px solid @sapUiMediumBorder;
}

.sapUiAnalyticalTable [data-sap-ui-level="2"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
	padding-left: 32px;
}

.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
	padding-left: 44px;
}

.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
	padding-left: 52px;
}

.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableSum {
	border-left: 0;
	border-right: 0;
}

.sapUiAnalyticalTable .sapUiTableTr.sapUiAnalyticalTableSum td {
	border-left: 0;
	border-right: 0;
}

.sapUiAnalyticalTable .sapUiTableTr.sapUiAnalyticalTableSum td:last-child {
	border-right: 1px solid @sapUiMediumBorder;
}
/*******************************************************************************
 * TABLE PARAMETERS
 ******************************************************************************/

@sapUiTableRowHeight: 23px;
@sapUiTableColHdrHeight: 23px;
@sapUiTableRowHdrWidth: 22px;

/*
 * BEHAVIOR CLASSES:
 * -----------------
 * sapUiTableVScr   - display vertical scrollbar
 * sapUiTableHScr   - display horizontal scrollbar
 * sapUiTableRSel   - display row selector column
 * sapUiTableCHdr   - display column header row
 * sapUiTableShNoDa - indicator to enable empty table message
 * sapUiTableEmpty  - display the empty table message 
 */


/*******************************************************************************
 * BOX SIZING FOR TABLE!
 ******************************************************************************/

.sapUiTable,
.sapUiTableHdr,
.sapUiTableTbr,
.sapUiTableExt,
.sapUiTableFtr,

.sapUiTableCnt,

.sapUiTableColRowHdr,
.sapUiTableColRowHdrIco,
.sapUiTableColHdrScr,
.sapUiTableColHdr,
.sapUiTableCol,
.sapUiTableColRsz,

.sapUiTableRowHdrScr,
.sapUiTableRowHdr,

.sapUiTableCtrlScr,
.sapUiTableCtrlCnt,
.sapUiTableCtrl,
.sapUiTableTr,
.sapUiTableTr > th,
.sapUiTableTr > td,
.sapUiTableCtrlEmpty,
.sapUiTableCell,

.sapUiTableVSb,
.sapUiTableHSb {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/*******************************************************************************
 * TABLE SECTIONS
 ******************************************************************************/

.sapUiTable {
	color: @sapUiBaseText;
	position: relative;
}

.sapUiTable > div {
	border: 1px solid @sapUiListHeaderBorderColor;
	border-bottom: none;
}

.sapUiTable > div:last-child {
	border-top: 1px solid @sapUiListHeaderBorderColor;
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
}

.sapUiTable.sapUiLocalBusy > div:nth-last-child(2) {
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
}

.sapUiTable > div.sapUiLocalBusyIndicator {
	border-bottom: none;
	z-index: 2;
}


.sapUiTableHdr,
.sapUiTableFtr {
	padding: 0px 10px;
	height: 22px;
	background-color: @sapUiExtraLightBG;
}

.sapUiTableHdr {
	font-weight: bold;
}

.sapUiTableHdrTitle {
	font-size: @sapUiFontHeader2Size;
	font-weight: bold;
	color: @sapUiTextTitle;
}

.sapUiTableTbr {
	height: 25px;
	border-bottom: none;
}

.sapUiTableExt {
	border-bottom: none;
}

.sapUiTableTbr .sapUiTb,
.sapUiTableTbr .sapUiTbCont {
	border: none;
}

html[data-sap-ui-browser="ie8"] .sapUiTable {
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
}


/*******************************************************************************
 * TABLE CONTROL
 ******************************************************************************/

.sapUiTableCnt {
	position: relative;
	overflow: hidden; /* avoid scrollbar for column resize handlers */
}

.sapUiTableCCnt {
	position: relative;
}

/* COL HEADER */
.sapUiTableColHdrCnt {
	display: none;
	min-height: @sapUiTableColHdrHeight;
	background-color: @sapUiExtraLightBG;
}

.sapUiTableCHdr .sapUiTableColHdrCnt {
	display: block;
}

.sapUiTableColHdrScr {
	height: 100%;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
}

.sapUiTableRSel .sapUiTableColHdrScr,
.sapUiTableRSel .sapUiTableColHdrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiTableVScr .sapUiTableColHdrScr {
	margin-right: 16px;
}

.sapUiTableColHdr {
	display: table;
	width: 1000%; /* to prevent wrapping of floating divs, percentage needed for tables without defined width */
}

.sapUiTableColHdrFixed {
	float: left;
}

.sapUiTableCtrlCol > th > * {
	display: none;
}

.sapUiTableCol {
	float: left;
	display: block;
	position: relative;
	vertical-align: top;
}

.sapUiTableColCell {
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 8px;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
}

.sapUiTableColRowHdr {
	display: none;
	position: absolute;
	height: inherit;
	width: @sapUiTableRowHdrWidth;
}

.sapUiTableRSel .sapUiTableColRowHdr {
	display: block;
}

.sapUiTableAriaRowSel {
	font-size: 0;
}

.sapUiTableColRowHdrIco {
	height: @sapUiLineHeight;
	width: @sapUiTableRowHdrWidth;
	background-repeat: no-repeat;
	background-position: center center;
}

/* ROW HEADER */
.sapUiTableRowHdrScr {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: @sapUiTableRowHdrWidth;
	z-index: 1; /* needed for grouping text visible on ipad */
	/* overflow: hidden; visible for grouping! */
}

.sapUiTableRSel .sapUiTableRowHdrScr {
	display: block;
}

/* TABLE */
.sapUiTableCtrlScr {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.sapUiTableRSel .sapUiTableCtrlScr,
.sapUiTableRSel .sapUiTableCtrlScrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiTableVScr .sapUiTableCtrlScr {
	margin-right: 16px;
} 

.sapUiTableCtrlCol {
	/* row defining the width of the cols */
	height: 0px !important;
	margin: 0;
	padding: 0;
	border: none;
}

.sapUiTableCtrlCol > th {
	height: inherit;
	margin: 0;
	padding: 0;
	border: none;
}

.sapUiTableCtrl {
	position: relative;
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

.sapUiTableCtrl tr {
	height: @sapUiTableRowHeight;
}

.sapUiTableTr > td {
	/* height: inherit; */
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.sapUiTableCtrlScrFixed {
	float: left;
}

.sapUiTableCell {
	height: inherit;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 8px;
	white-space: nowrap;
}

.sapUiTableRowHidden .sapUiTableCell {
	visibility: hidden; /* hidden row (no content) */
}

.sapUiTableColIcons {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px;
	padding-top: 4px;
}

.sapUiTableColCell.sapUiTableColSorted,
.sapUiTableColCell.sapUiTableColFiltered {
	padding-right: 24px;
}

.sapUiTableColCell.sapUiTableColSorted.sapUiTableColFiltered {
	padding-right: 38px;
}

.sapUiTableCtrlEmpty {
	display: none;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: @sapUiExtraLightBG;
	padding-right: @sapUiTableRowHdrWidth; /* text will be aligned in real center of the table*/
	/* z-index: 1; */
}

.sapUiTableSelModeNone .sapUiTableCtrlEmpty {
	padding-right: 0;
}

.sapUiTableCtrlEmptyMsg {
	position: relative;
	top: 50%;
	margin-top: -0.5em;
}

.sapUiTableShNoDa.sapUiTableEmpty .sapUiTableCtrlEmpty {
	display: block;
}

.sapUiTableRSel .sapUiTableCtrlEmpty {
	left: @sapUiTableRowHdrWidth;
}

.sapUiTablePaginator {
	text-align: center;
	padding: 2px;
}


/******************************************************************************* 
 * DND & RESIZE ELEMENTS
 ******************************************************************************/

.sapUiTableColGhost {
	position: absolute;
	width: auto;
	cursor: pointer;
	padding: 0 8px;
	background-color: @sapUiExtraLightBG;
	border: 1px solid @sapUiListHighlightColor;
	opacity: 0.5;
}

.sapUiTableColRsz {
	position: absolute;
	top: 0px;
	width: 5px;
	bottom: 0px;
	cursor: col-resize;
	z-index: 1;
}

.sapUiTableHScr .sapUiTableColRsz {
	bottom: 18px;
}

.sapUiTableColRszActive,
.sapUiTableColRsz:hover {
	background-color: @sapUiListHoverBackground;
	opacity: 0.5;
}


/*******************************************************************************
 * VERTICAL SCROLLBAR
 ******************************************************************************/

.sapUiTableVSb {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 16px; /* 17px */
	bottom: 0px;
	/* z-index: 2; */
}

.sapUiTableVScr .sapUiTableVSb {
	display: block;
}


/*******************************************************************************
 * HORIZONTAL SCROLLBAR
 ******************************************************************************/

.sapUiTableHSb {
	display: none;
	position: relative;
	height: 19px;
	margin: 0;
	border-top: 1px solid @sapUiListHeaderBorderColor;
	/* z-index: 2; */
}

.sapUiTableRSel .sapUiTableHSb {
	padding-left: @sapUiTableRowHdrWidth;
}

.sapUiTableHScr .sapUiTableHSb {
	display: block;
}

.sapUiTableVScr .sapUiTableHSb {
	padding-right: 16px; /* 17px */
}


/*******************************************************************************
 * CHILD CONTROL STYLES
 ******************************************************************************/

.sapUiTableCol .sapUiLbl,
.sapUiTableCell > .sapUiTf,
.sapUiTableCell > .sapUiSearchField,
.sapUiTableCell > .sapUiSearchField > .sapUiTfCombo,
.sapUiTableCell > .sapUiTfCombo {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sapUiTableCell > .sapUiTf.sapUiTfErr.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfErr.sapUiTfStd {
	background-color: @sapUiFieldInvalidBackground;
}
.sapUiTableCell > .sapUiTf.sapUiTfWarn.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfWarn.sapUiTfStd {
	background-color: @sapUiFieldWarningBackground;
}
.sapUiTableCell > .sapUiTf.sapUiTfSucc.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfSucc.sapUiTfStd {
	background-color: @sapUiFieldSuccessBackground;
}

.sapUiTableCell > .sapUiTfCombo {
	padding: 0 8px 0 0;
}

.sapUiTableCell > .sapUiTv,
.sapUiTableCell > .sapUiLbl,
.sapUiTableCell > .sapUiLnk {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapUiTableCell > .sapUiImg {
	margin-top: 1px;
}

.sapUiTableRowHidden .sapUiTableCell > .sapUiImg {
	display: none; /* images will be removed to avoid pushing the height of the line */
}

.sapUiTableCell > .sapUiRating {
	display: block;
}


/*******************************************************************************
 * TREETABLE & GROUPING STYLES
 ******************************************************************************/

.sapUiTableGroupIconOpen,
.sapUiTableTreeIconNodeOpen {
	background-image: url(img/ico12_open_minus.gif);
}

.sapUiTableGroupIconClosed,
.sapUiTableTreeIconNodeClosed {
	background-image: url(img/ico12_closed_plus.gif);
}

.sapUiTableTreeIconLeaf {
	background-image: url(img/ico12_leaf.gif);
}

.sapUiTableTreeIcon {
	display: inline-block;
	width: 12px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: left;
	/* height: @sapUiTableRowHeight; */
	padding-top: 8px;
}

.sapUiSizeCompact .sapUiTableTreeIcon {
	background-image: none;
	width: 25px;
	margin-right: 5px;
	padding: 0;
}

.sapUiTableGroupIcon {
	background-position: center left;
	background-repeat: no-repeat;
	/* height: @sapUiTableRowHeight; */
	padding-left: 20px;
	margin-left: 2px;
	cursor: pointer;
}

.sapUiSizeCompact .sapUiTableGroupIcon {
	padding-left: 0;
	margin-left: 0;
	background-image: none;
}

.sapUiSizeCompact .sapUiTableGroupIcon::before,
.sapUiSizeCompact .sapUiTableTreeIcon::before {
	font-family: "SAP-icons";
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	width: @sapUiTableRowHdrWidth;
	text-align: center;
	vertical-align: middle;
}

.sapUiSizeCompact .sapUiTableGroupIcon::before {
	line-height: @sapUiTableRowHeight;
}

.sapUiSizeCompact .sapUiTableGroupIcon.sapUiTableGroupIconOpen::before,
.sapUiSizeCompact .sapUiTableTreeIconNodeOpen::before {
	content: '\e1e2';
}

.sapUiSizeCompact .sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
.sapUiSizeCompact .sapUiTableTreeIconNodeClosed::before {
	content: '\e066';
}

.sapUiTableRowHdr.sapUiTableGroupHeader {
	border-right: none;
}

.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader {
	position: relative;
}

.sapUiTableRowHdr.sapUiTableGroupHeader > div {
	position: absolute;
	left: 3px;
	margin-top: 5px;
	white-space: nowrap;
	z-index: 1;
}

.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader > div {
	position: absolute;
	top: 0;
	bottom: 0;
	padding-right: 15px;
	font-weight: normal;
	margin-top: 0;
	left: 0;
	color: @sapUiBaseText;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 60px;
}

.sapUiSizeCompact .sapUiTableTr > td {
	padding-top: 0px;
	padding-bottom: 0px;
}

.sapUiTableColumnVisibilityMenu .sapUiMnuItm {
	padding-right: 18px;
}

.sapUiTableSplitterBar {
	background-image: url(img/splitter_horiz_grip.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #dbe5ec;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapUiTableSplitterBar:hover {
	background-color: @sapUiExtraLightBG;
	cursor: n-resize;
}

.sapUiTableSelModeNone .sapUiTableRowHdr {
	width: 0;
	border-left: 0;
	border-right: 0;
}

.sapUiTableSelModeNone .sapUiTableRowHdr.sapUiTableGroupHeader {
	width: @sapUiTableRowHdrWidth;
}

/* FIX for IE fixed columns */
html[data-sap-ui-browser^="ie"] .sapUiTableColHdrCnt {
	width: 100%;
}

.sapUiTableHiddenSizeDetector{
	position: absolute;
	left: -1000px;
	visibility: hidden;
	display: inline-block;
}
/*******************************************************************************
 * TABLE PARAMETERS
 ******************************************************************************/

@sapUiTableRowHeight: 28px;
@sapUiTableColHdrHeight: 32px;
@sapUiTableRowHdrWidth: 25px;
@sapUiTableCompactRowHeight: 32px;
@sapUiTableCompactColHdrHeight: 32px;
@sapUiTableCompactRowHdrWidth: 32px;

.sapUiTable {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
	color: @sapUiLightText;
}

/*******************************************************************************
 * TABLE SECTIONS
 ******************************************************************************/

.sapUiTable > div {
	border: 0;
	border-left: 1px solid @sapUiLightBorder;
	border-right: 1px solid @sapUiLightBorder;
}

.sapUiTable > .sapUiTableHdr {
	border: none;
	border-bottom: 2px solid transparent;
	height: 25px;
	padding: 0;
	margin-bottom: 2px;
	background-color: transparent;
}

.sapUiTableHdrTitle {
	font-size: @sapUiFontHeader3Size;
	height: 100%;
}

.sapUiTable > .sapUiTableFtr {
	height: 28px;
	line-height: 28px;
	background-color: @sapUiLightestBG;
	padding-top: 4px;
}

.sapUiTable > .sapUiTableTbr {
	border: none;
	border-bottom: 2px solid transparent;
	height: 30px;
}
.sapUiTable > .sapUiTableTbr.sapUiTableMTbr {
	height: 3rem;
}
.sapUiSizeCompact .sapUiTable > .sapUiTableTbr.sapUiTableMTbr {
	height: 2rem;
}

.sapUiTableTbr > .sapUiTb {
	background-color: @sapUiLightestBG;
}

.sapUiTable > .sapUiTableExt {
	border: none;
	border-bottom: 2px solid transparent;
}

.sapUiTableSelModeMulti .sapUiTableColRowHdrIco,
.sapUiTableSelModeMultiToggle .sapUiTableColRowHdrIco {
	background-image: url('img/Select_All_Icon.png');
	background-position: 50% 50%;
}
/*
.sapUiTableSelModeMulti .sapUiTableColRowHdr:hover .sapUiTableColRowHdrIco {
	background-image: url('img/Select_All_Hover_Icon.png');
}
*/

.sapUiTableColRowHdr,
.sapUiTableRowHdr,
.sapUiTableColHdrCnt {
	background-color: @sapUiLightestBG;
}

.sapUiSizeCompact .sapUiTableCol,
.sapUiSizeCompact .sapUiTableColRowHdr,
.sapUiSizeCompact .sapUiTableColHdrCnt {
	background-color: @sapUiLightBG;
	color: @sapUiStandardText;
}

.sapUiTableColRowHdr,
.sapUiTableCol {
	padding-top: 5px;
	padding-bottom: 5px;
}

.sapUiTableColIcons {
	padding-top: 6px;
}

.sapUiTableCol:hover {
	background-color: darken(@sapUiLightestBG,3);
}
.sapUiTableColRowHdr:hover {
	background-color: darken(@sapUiLightestBG,18);
}

.sapUiTableSelModeSingle .sapUiTableRowHdr.sapUiTableRowSel,
.sapUiTableSelModeMulti .sapUiTableRowHdr.sapUiTableRowSel {
	background-color: desaturate(darken(@sapUiListSelectionBackgroundColor, 15%), 15%);
	border-right-color: desaturate(darken(@sapUiListSelectionBackgroundColor, 15%), 15%);
}

.sapUiTableRowHdr.sapUiTableRowHvr {
	background-color: darken(@sapUiLightestBG,18);
	border-right-color: darken(@sapUiLightestBG,18);
}
.sapUiTableSelModeSingle .sapUiTableRowHdr.sapUiTableRowSel.sapUiTableRowHvr,
.sapUiTableSelModeMulti .sapUiTableRowHdr.sapUiTableRowSel.sapUiTableRowHvr {
	background-color: darken(@sapUiActiveBG,18);
	border-right-color: darken(@sapUiActiveBG,18);
}

.sapUiTableColHdrCnt {
	border-bottom: 1px solid @sapUiLightBorder;
}

.sapUiTableColHdr:not(:first-of-type) .sapUiTableCol {
	border-top: 1px solid @sapUiLightBorder;
}

.sapUiTableColRowHdr,
.sapUiTableRowHdr {
	border-right: 1px solid @sapUiLightBorder;
}

.sapUiTableRowHdr,
.sapUiTableTr > td {
	padding-top: 2px;
	padding-bottom: 1px;
}

.sapUiTableRowHdr {
	border-bottom: 1px solid @sapUiLightBorder;
	position: relative;
}

.sapUiSizeCompact .sapUiTableRowHdr {
	border-bottom: 1px solid #dddddd;
}

.sapUiTableTr > td {
	border-bottom: 1px solid @sapUiLightBorder;
}

.sapUiTableCtrl.sapUiTableCtrlRowFixed tr:last-child > td {
	padding-top: 2px;
	padding-bottom: 1px;
	border-bottom: 1px solid @sapUiMediumBorder;
}

.sapUiTableCtrl.sapUiTableCtrlRowFixedBottom {
	margin-top: -1px;
}
.sapUiTableCtrl.sapUiTableCtrlRowFixedBottom tr:first-child > td {
	padding-top: 2px;
	padding-bottom: 1px;
	border-top: 1px solid @sapUiMediumBorder;
}

.sapUiTableCtrl tr.sapUiTableFixedPreBottomRow > td,
div.sapUiTableRowHdr.sapUiTableFixedPreBottomRow {
	border-bottom: 1px solid @sapUiMediumBorder;
}

.sapUiTableCtrl tr.sapUiTableFixedBottomRow > td,
div.sapUiTableRowHdr.sapUiTableFixedBottomRow {
	border-top: 1px solid @sapUiMediumBorder;
}

.sapUiTableCtrl.sapUiTableCtrlRowFixedBottom tr.sapUiTableFixedBottomRow:first-child > td {
	border-top: 2px solid @sapUiMediumBorder;
}

.sapUiTableRowHdr:last-child,
.sapUiTableCtrl tr:last-child > td {
	border-bottom: none;
}

.sapUiTableEdt .sapUiTableCtrl {
	background: @sapUiLightestBG;
}


/* Table Row (only) Selected */
.sapUiTableCtrl tr.sapUiTableRowSel>td { /* data cells of row */
	background-color: @sapUiActiveBG;
}

.sapUiTableRowHdr.sapUiTableRowSel { /* row-select-button of row */
	background-color: @sapUiActiveBG !important;
	border-right: 1px solid @sapUiLightBorder !important;
}

/* Table Row Selected[+Hover] */
.sapUiTableCtrl tr.sapUiTableRowSel.sapUiTableRowHvr>td {
	/* data cells of row */
	background-color: darken(@sapUiActiveBG, 3);
}

.sapUiTableRowHdr.sapUiTableRowSel.sapUiTableRowHvr {
	/* row-select-button of row */
	background-color: darken(@sapUiActiveBG, 3) !important;
	border-right-color: @sapUiLightBorder;
}

/* Table Row (only) Hover */
.sapUiTableCtrl tr.sapUiTableRowHvr>td { /* data cells of row */
	background-color: darken(@sapUiLightestBG, 3);
}

.sapUiTableRowHdr.sapUiTableRowHvr { /* row-select-button of row */
	background-color: darken(@sapUiLightBG, 3) !important;
	border-right-color: @sapUiLightBorder;
}

.sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiTableCtrl tr.sapUiTableRowHvr .sapUiTableColHdrCnt {
	background-color: darken(@sapUiLightestBG,3);
}

.sapUiTableCtrl tr.sapUiTableRowSel > td {
	background-color: @sapUiActiveBG;
}

.sapUiTableCtrl tr.sapUiTableRowSel.sapUiTableRowHvr > td {
	background-color: darken(@sapUiActiveBG,3);
}

/* support for left border in RowOnly selection behavior */
.sapUiTableTr > td.sapUiTableTdFirst {
	padding-left: 2px;
}

.sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst {
	padding-left: 0;
}

/* Table Row Checkbox */
/* REQUIRES ICON FONTS */
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr::after,
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr::after {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px @sapUiDarkBorder solid;
	background-color: @sapUiLightestBG;
	font-family: "SAP-icons";
	font-size: 11px;
	line-height: 12px;
	text-align: center;
	color: @sapUiHighlight;
	box-sizing: border-box;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.sapUiSizeCondensed .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr::after {
	margin-top: 2px;
	font-size: 10px;
}

/* only display if data is available */
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHidden.sapUiTableRowHdr::after {
	display: none;
}

.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr::after {
	margin-top: 5px;
}

.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr:hover:after {
	border-color: @sapUiHighlight;
}

.sapUiSizeCompact .sapUiTableRowHdr.sapUiAnalyticalTableDummy:after {
	display: none;
}

.sapUiSizeCompact .sapUiTableSelModeMultiToggle :not(.sapUiTableSelAll).sapUiTableColRowHdr::after,
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr.sapUiTableRowSel::after {
	content: '\e05b';
}

.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr .sapUiTableColRowHdrIco,
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr:hover .sapUiTableColRowHdrIco {
	display: none;
}


/*******************************************************************************
 * TABLE ADOPTIONS BY UX
 ******************************************************************************/


/* Table Cells */

.sapUiTableCell {
	padding: 0 10px;
}

.sapUiTable>div.sapUiTableCnt {
	border-top: 1px solid @sapUiLightBorder;
}
.sapUiTable>div:last-child {
	border-bottom: 1px solid @sapUiLightBorder;
}

.sapUiTableCol,.sapUiTableTr>td {
	border-right: 1px solid @sapUiLightBorder;
}

.sapUiTableCell>.sapUiTv {
	font-weight: normal;
	font-size: 12px;
}

.sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
	padding-left: 6px;
}

.sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
	padding-left: 8px;
}

.sapUiTableRowHdr.sapUiTableRowHvr {
	border-bottom: 1px solid @sapUiLightBorder;
}

.sapUiTableCtrl tr:hover:first-child {
	border: none;
}


/* Table Column */
.sapUiTableCol {
	padding-top: 7px;
}

.sapUiTableCol:hover,.sapUiTableColRowHdr:hover {
	background-color: darken(@sapUiLightestBG, 3);
	color: @sapUiLightText;
}

.sapUiSizeCompact .sapUiTableCol:hover,
.sapUiSizeCompact .sapUiTableColRowHdr:hover {
	background-color: contrast(@sapUiLightBG, darken(@sapUiLightBG, 6), lighten(@sapUiLightBG, 6));
	color: @sapUiStandardText;
}

.sapUiSizeCompact .sapUiTableCol {
	border-right: 1px solid @sapUiMediumBorder;
}

.sapUiSizeCompact .sapUiTableColRowHdr {
	border-right: 1px solid @sapUiMediumBorder;
}

.sapUiSizeCompact .sapUiTableColHdrCnt {
	border-bottom: 1px solid @sapUiMediumBorder;
}

.sapUiSizeCompact .sapUiTableTr > td {
	border-bottom: 1px solid @sapUiExtraLightBorder;
}

.sapUiTableCtrl tr.sapUiTableRowHvr,
tr.sapUiTableRowHvr .sapUiLbl,
tr.sapUiTableRowHvr .sapUiTf,
tr.sapUiTableRowHvr .sapUiLnk,
tr.sapUiTableRowHvr .sapUiLnk:visited,
tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiTableCol:hover,
.sapUiTableCol:hover .sapUiLbl,
.sapUiTableCol:hover .sapUiTf,
.sapUiTableCol:hover .sapUiLnk,
.sapUiTableCol:hover .sapUiLnk:visited,
.sapUiTableCol:hover .sapUiLnk:hover {
	color: @sapUiLightText;
}

.sapUiTableColCell {
	padding: 0 10px;
}

.sapUiTableColCell>.sapUiLbl {
	font-weight: bold;
	font-size: 13px;
	color: @sapUiLightText;
}

.sapUiSizeCompact .sapUiTableColCell > .sapUiLbl,
.sapUiSizeCompact .sapUiTableColCell>.sapMLabel,
.sapUiSizeCompact .sapUiTableCell>.sapMLabel {
	font-weight: normal;
	font-size: 14px;
	color: @sapUiStandardText;
}

.sapUiTableRSel .sapUiTableColHdrScr,
.sapUiTableRSel .sapUiTableColHdrFixed,
.sapUiTableRSel .sapUiTableCtrlScr,
.sapUiTableRSel .sapUiTableCtrlScrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiSizeCompact .sapUiTableRSel .sapUiTableColHdrScr,
.sapUiSizeCompact .sapUiTableRSel .sapUiTableColHdrFixed,
.sapUiSizeCompact .sapUiTableRSel .sapUiTableCtrlScr,
.sapUiSizeCompact .sapUiTableRSel .sapUiTableCtrlScrFixed {
	margin-left: @sapUiTableCompactRowHdrWidth;
}


.sapUiTableRSel .sapUiTableTr > td:first-child {
	border-right: none;
}

/* Table Column Selector */

.sapUiTableRowHdrScr,.sapUiTableColRowHdr {
	width: @sapUiTableRowHdrWidth;
}

.sapUiSizeCompact .sapUiTableRowHdrScr,
.sapUiSizeCompact .sapUiTableColRowHdr {
	width: @sapUiTableCompactRowHdrWidth;
}



/* Table Column Resizer */
.sapUiTableColRsz:hover {
	background-color: @sapUiActiveBG;
}


/* Table Row Tree Node */
.sapUiTableTr {
	color: @sapUiText;
	font-size: 12px;
	font-weight: normal;
}

.sapUiTableTreeIcon {
	padding-top: 3px;
	margin-right: 6px;
}

.sapUiTableTreeIconLeaf {
	background-image: none;
}

.sapUiSizeCompact .sapUiTableGroupIcon {
	font-size: 0.875rem;
}

/* Table Cell Tree Node */
.sapUiTableCtrl tr.sapUiTableGroupHeader,
.sapUiTableRowHdr.sapUiTableGroupHeader {
	background-color: @sapUiLightBG;
}

.sapUiSizeCompact .sapUiTableCtrl tr.sapUiTableGroupHeader,
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiSizeCompact .sapUiTableRowHdr .sapUiTableGroupIcon {
	background-color: lighten(@sapUiExtraLightBG, 2);
}

.sapUiSizeCompact tr.sapUiTableGroupHeader.sapUiTableRowHvr,
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader.sapUiTableRowHvr,
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableRowHvr .sapUiTableGroupIcon,
.sapUiSizeCompact .sapUiTableCtrl .sapUiTableRowHvr > td {
	background-color: darken(lighten(@sapUiLightBG, 7%), 3%) !important;
}

.sapUiTableHSb,
.sapUiTableCCnt,
.sapUiTableCtrlEmpty {
	background-color: @sapUiLightestBG;
}

.sapUiSizeCompact .sapUiTableGroupIcon::before,
.sapUiSizeCompact .sapUiTableTreeIcon::before {
	color: @sapUiElement;
}

/* Condensed mode */
.sapUiSizeCondensed .sapUiTableCell {
	padding: 0; /* Mobile controls like input fill 100% of the cell space */
}
